<%= render(AlertIconComponent.new) %>
<%= render PageHeadingComponent.new.with_content(t('vendor_outage.alerts.pinpoint.idv')) %>

<p>Some text here</p>

<%= render ButtonComponent.new(
    action: ->(**tag_options, &block) do
    link_to(idv_doc_auth_step_path(step: :welcome), **tag_options, &block)
    end,
    class: 'usa-button',
    ).with_content(t('doc_auth.buttons.continue')) %>

<%= render(
    'shared/troubleshooting_options',
    heading: t('components.troubleshooting_options.default_heading'),
    options: [
        {
            url: help_center_redirect_url(
                category: 'verify-your-identity',
                article: 'verify-your-address-by-mail',
                flow: :idv,
                step: :gpo_send_letter,
            ),
            text: t('idv.troubleshooting.options.learn_more_verify_by_mail'),
            new_tab: true,
        },
    ],
) %>
