<% self.title = 'String Manager' %>

<table class="usa-table usa-table--striped width-auto margin-4">
  <thead>
    <tr>
      <th>String key</th>
      <% StringManager::LOCALES.each do |locale| %>
        <th><%= locale %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% StringManager.instance.translation_requests.each do |request| %>
      <tr>
        <td class="font-family-mono"><%= request.key %></td>
        <% StringManager::LOCALES.each do |locale| %>
          <td><%= request.translations[locale] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
