h1.h3.my0 = t('idv.titles.otp_delivery_method')
p.mt1 = t('idv.messages.otp_delivery_method.phone_number_html',
      phone: @idv_phone)
= form_tag(idv_otp_delivery_method_url, method: 'put', autocomplete: 'off',
    role: 'form', class: 'mt3')
    fieldset.mb3.p0.border-none
      label.btn-border.col-12.mb1
        .radio
          = radio_button_tag 'otp_delivery_selection_form[otp_delivery_preference]',
            :sms, false,
            class: :otp_delivery_preference_sms
          span.indicator.mt-tiny
          span.blue.bold.fs-20p
            = t('devise.two_factor_authentication.otp_delivery_preference.sms')
          .regular.gray-dark.fs-10p.mb-tiny
            = t('devise.two_factor_authentication.two_factor_choice_options.sms_info')
      label.btn-border.col-12.mb0
        .radio
          = radio_button_tag 'otp_delivery_selection_form[otp_delivery_preference]',
            :voice, false,
            class: :otp_delivery_preference_voice
          span.indicator.mt-tiny
          span.blue.bold.fs-20p
            = t('devise.two_factor_authentication.otp_delivery_preference.voice')
          .regular.gray-dark.fs-10p.mb-tiny
            = t('devise.two_factor_authentication.two_factor_choice_options.voice_info')
      - if FeatureManagement.enable_usps_verification?
        .mt3
          = t('idv.form.no_alternate_phone_html',
          link: link_to(t('idv.form.activate_by_mail'), idv_usps_path))
      .mt2
        = t('instructions.mfa.wrong_number_html',
        link: link_to(t('forms.two_factor.try_again'), idv_phone_path))
    .mt3
      = submit_tag t('idv.buttons.send_confirmation_code'),
        class: 'sm-col-6 col-12 btn btn-primary'
.mt3.border-top
  .mt1
    = link_to t('links.cancel'), idv_cancel_path
