<% self.title = 'OIDC Test Controller' %>

<h1>OIDC Test Controller</h1>

<%= link_to 'Sign in with Facial Match', @start_url_selfie, class: 'sign-in-bttn' %> <br /> <br />
<%= link_to 'Sign in with IAL2', @start_url_ial2, class: 'sign-in-bttn' %> <br /><br />
<%= link_to 'Sign in with IAL1', @start_url_ial1, class: 'sign-in-bttn' %>
