<% self.title = 'SAML Test Controller' %>

<h1>OIDC Test Controller</h1>

<%= link_to 'Sign in for Selfie', @start_url_selfie, class: 'sign-in-bttn' %> <br /> <br />
<%= link_to 'Sign in', @start_url_ial2, class: 'sign-in-bttn' %>
