<% self.title = @presenter.title %>

<%= render PageHeadingComponent.new do %>
  <%= @presenter.heading %>
<% end %>

<p>
  <%= t('instructions.mfa.piv_cac.having_trouble') %>
</p>

<ul>
  <li>lorem ipusum</li>
  <li>lorem ipusum</li>
  <li>lorem ipusum</li>
</ul>

<p>lorem ipsum sit dolor?</p>

<%= render ButtonComponent.new(
      url: login_two_factor_piv_cac_url,
      class: 'margin-top-3',
      big: true,
    ).with_content(t('instructions.mfa.piv_cac.back_to_sign_in')) %>