<% self.title = t('service_providers.errors.inactive.heading', sp_name: @sp_name, app_name: APP_NAME) %>

<%= render StatusPageComponent.new(status: :error) do |c| %>
  <% c.with_header { t('service_providers.errors.inactive.heading', sp_name: @sp_name, app_name: APP_NAME) } %>

  <p>
    <%= t('service_providers.errors.inactive.instructions', sp_name: @sp_name, app_name: APP_NAME) %>
  </p>

  <p>
    <%= t('service_providers.errors.inactive.instructions2') %>
  </p>

  <% c.with_action_button(url: root_path)
       .with_content(t('service_providers.errors.inactive.button_text', app_name: APP_NAME)) %>
<% end %>
