- title t('titles.totp_setup.start')


h1.h3.my0 = t('headings.totp_setup.start')
p.mt-tiny.mb3 = t('forms.totp_setup.totp_intro')
= image_tag(asset_url('auth-app.png'), width: 500, alt: t('.app_img_alt'))
.mt3.sm-mt4.mb1
  = link_to t('forms.buttons.setup_totp'), authenticator_setup_url, \
    class: 'btn btn-primary'
= render 'shared/cancel', link: profile_path
