<ul class="margin-bottom-4 list-reset border-bottom border-primary-light success-bullets requested-attributes">
  <% requested_attributes.each do |attribute| %>
    <% next if @pii[attribute].blank? %>
    <li class="success-bullet border-top border-primary-light">
      <div class="bold margin-left-4">
        <%= t("help_text.requested_attributes.#{attribute}") %>
      </div>
      <div class="margin-left-4">
        <% if @pii[attribute].is_a? Array %>
          <ul class='usa-list usa-list--unstyled'>
            <% @pii[attribute].each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        <% else %>
          <%= @pii[attribute].to_s %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
