<ul class="mb3 list-reset border-bottom success-bullets requested-attributes">
  <% view_model.requested_attributes_sorted.each do |attribute| %>
    <% next if @pii[attribute].blank? %>
    <li class="border-top">
      <div class="bold ml3">
        <%= t("help_text.requested_attributes.#{attribute}") %>
      </div>
      <div class="ml3">
        <%= @pii[attribute].to_s %>
      </div>
    </li>
  <% end %>
</ul>