<p class="sm-mr1 sm-ml1 mt3 mb3">
  <%= t('help_text.requested_attributes.intro_html',
      app_name: APP_NAME,
      sp: content_tag(:strong, decorated_session.sp_name)) %>
</p>
<div class='sm-ml1 sm-mr1' >
  <%= render @view_model.requested_attributes_partial, view_model: @view_model %>
</div>
<p class="sm-mr1 sm-ml1 mt3 mb3">
  <%= t('help_text.requested_attributes.outro_html',
        app_name: APP_NAME,
        sp: content_tag(:strong, decorated_session.sp_name)) %>
</p>
<p>
  <div class="center">
    <%= button_to t('sign_up.agree_and_continue'),
                  sign_up_completed_path,
                  class: 'btn btn-primary btn-wide' %>
  </div>
</p>
