<% identities = @view_model.identities %>
<div class="margin-top-2 margin-bottom-4 padding-y-2 padding-x-4 col-12 center border-box border border-light-blue rounded-xl">
  <p class="fs-20p">
    <% if identities.length > 1 %>
      <%= t('idv.messages.agencies_login') %>
    <% elsif identities.length == 1 %>
      <%= t('idv.messages.agency_login_html', sp: identities.first.display_name) %>
    <% end %>
  </p>
  <ul class="list-reset">
    <% identities.each do |identity| %>
      <li><%= link_to identity.agency_name, identity.return_to_sp_url %></li>
    <% end %>
  </ul>
</div>
