<% title @view_model.title %>
<div class="clearfix col-10 sm-col-12 margin-x-auto">
  <div class="center">
    <%= image_tag asset_url(@view_model.image_name), width: 140, alt: '', class: 'margin-bottom-2'  %>
  </div>
  <h1 class="h3 margin-bottom-2 margin-y-0 tablet:margin-right-1 tablet:margin-left-1 center">
    <%= @view_model.heading %>
  </h1>
  <%= render @view_model.service_provider_partial %>
</div>
