-title @view_model.title
.clearfix.col-10.sm-col-12.mx-auto
  .center
    = image_tag(asset_url(@view_model.image_name), width: 140, alt: '', class: 'mb2')
  h1.h3.mb2.my0.sm-mr1.sm-ml1.center = @view_model.heading

  = render @view_model.service_provider_partial
