<%= render(
      'idv/shared/error',
      type: :warning,
      title: t('inherited_proofing.errors.cannot_retrieve.title'),
      heading: t('inherited_proofing.errors.cannot_retrieve.heading'),
    ) do %>
  <p>
     <%= t('inherited_proofing.errors.cannot_retrieve.info') %>
  </p>

  <%= link_to t('inherited_proofing.buttons.try_again'), root_url, class: 'usa-button usa-button--big usa-button--wide' %>

  <%= render(
        'shared/troubleshooting_options',
        class: 'troubleshooting-options--divider',
        heading: t('components.troubleshooting_options.default_heading'),
        options: [
          {
            url: 'https://www.va.gov/resources/managing-your-vagov-profile/',
            text: t('inherited_proofing.troubleshooting.options.get_va_help'),
            new_tab: true,
          },
        ],
      ) %>
<% end %>
