- title t('headings.piv_cac_login.account_not_found')

h1.h3.mt0 = t('headings.piv_cac_login.account_not_found', )
p == t('instructions.mfa.piv_cac.account_not_found.paragraph_1',
  sign_in: link_to(t('headings.sign_in_without_sp'), root_url))
p == t('instructions.mfa.piv_cac.account_not_found.paragraph_2',
  create_account: link_to(I18n.t('links.create_account'), sign_up_email_url))

= render 'shared/cancel', link: new_user_session_url
