<% title t('headings.piv_cac_login.account_not_found') %>

<h1 class='h3 margin-top-0'><%= t('headings.piv_cac_login.account_not_found') %></h1>
<%= t('instructions.mfa.piv_cac.account_not_found_html',
    sign_in: link_to(t('headings.sign_in_without_sp'), root_url),
    create_account: link_to(t('links.create_account'), sign_up_email_url),
  )
%>
