<% self.title = @presenter.title %>

<%= render PageHeadingComponent.new.with_content(@presenter.heading) %>

<p class="margin-bottom-5">
  <%= @presenter.info %>
</p>

<%= render SpinnerButtonComponent.new(
      url: @presenter.piv_cac_service_link,
      big: true,
      wide: true,
    ).with_content(@presenter.piv_cac_capture_text) %>

<%= render 'shared/cancel', link: new_user_session_url %>
