<section class="ads-auth-methods__section" aria-labelledby="webauthn-roaming-heading">
  <h2 id="webauthn-roaming-heading" class="ads-auth-methods__heading">
    <%= t('account.dashboard.auth_methods.security_key.title') %>
  </h2>

  <div class="ads-auth-methods__panel">
    <%= render 'accounts/two_factor_authentication/authenticator_rows',
               configurations: mfa_context.webauthn_roaming_configurations,
               edit_path_helper: :edit_webauthn_path,
               manage_accessible_label:
                 t('two_factor_authentication.webauthn_roaming.manage_accessible_label') %>

    <% if mfa_context.webauthn_roaming_configurations.any? %>
      <div class="ads-auth-methods__rule"></div>
    <% end %>

    <%= render ButtonComponent.new(
          url: webauthn_setup_path,
          variant: :secondary,
          size: :md,
        ).with_content(t('account.index.webauthn_add')) %>
  </div>
</section>
