-----BEGIN CERTIFICATE-----
MIIESDCCAzCgAwIBAgIJAIvou1ImLN7uMA0GCSqGSIb3DQEBBQUAMHUxCzAJBgNV
BAYTAlVTMQswCQYDVQQIEwJEQzETMBEGA1UEBxMKV2FzaGluZ3RvbjEMMAoGA1UE
ChMDR1NBMQwwCgYDVQQLEwNUVFMxDDAKBgNVBAMTAzE4RjEaMBgGCSqGSIb3DQEJ
ARYLMThmQGdzYS5nb3YwHhcNMTgwMjA4MDMxNDI2WhcNMjAxMTA1MDMxNDI2WjB1
MQswCQYDVQQGEwJVUzELMAkGA1UECBMCREMxEzARBgNVBAcTCldhc2hpbmd0b24x
DDAKBgNVBAoTA0dTQTEMMAoGA1UECxMDVFRTMQwwCgYDVQQDEwMxOEYxGjAYBgkq
hkiG9w0BCQEWCzE4ZkBnc2EuZ292MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEAzdT2qYB6ZxePdYUrwuE70RY04vpSCocueBcZibxb1de2HbLeWqaE0OTC
HszGbYeq0+xiPZOj+9mUOuS4nMLi8ybs+ICcb8f9C3a3CIp/Ap9758t8bvM4y2mv
P97vMIm/BD5iygHhb9xjZTtMUR98ELJsJgsN/7lv1O5gegKrotymDmY0HDxBMvqX
dBLnlChfRgg5E+tzgBc+4sLegZwX5rfPgR/BJ1c8t2XQ1w9Qvj0eM8CfvrpZF6uo
oRFNWw8EFg6a1cmsrbKMOBCLRCm6jgnXpXM9nGhvsLoEvLCfZnLq4MhSM4rGtz49
igKVJuqWknoxe/QWU6JfhbJXCIPrYwIDAQABo4HaMIHXMB0GA1UdDgQWBBR6AsOP
R1sPAJ1b8XXS6hIxj9Yp+zCBpwYDVR0jBIGfMIGcgBR6AsOPR1sPAJ1b8XXS6hIx
j9Yp+6F5pHcwdTELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkRDMRMwEQYDVQQHEwpX
YXNoaW5ndG9uMQwwCgYDVQQKEwNHU0ExDDAKBgNVBAsTA1RUUzEMMAoGA1UEAxMD
MThGMRowGAYJKoZIhvcNAQkBFgsxOGZAZ3NhLmdvdoIJAIvou1ImLN7uMAwGA1Ud
EwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBADMAaYC51SVmt8ySXEa1nYCtuLln
7ZdYl/SzNZ/fmhbe8dk/lIu/oUBOO0kBLnjlss25gSxD7yu6VNJjENqh1xegLq6H
sT5rFzlUD/GZJpzdi3vwIoFzMouprxi0fZRhVhK9VZhAYDRk7yt7IqZm2wL7kJ5A
0mKdC6tEYWfZtvJtYB64uXvHCcYUADZQstSzR+EJcxCqnbwqwe2wIKaOq+ZzZK7s
bQcQqmNMmtrF3A/DQaX1cBFeRX6suOXryv76q6BpTNCDPZKGBhJaO63g3OWFe20Q
VwWsgolvYontVDP6+ARQqra7jalieIiUhju0gIwit9E/m3l7b99iZM3CDMA=
-----END CERTIFICATE-----
