-----BEGIN CERTIFICATE-----
MIIDjDCCAnQCCQD9QLkWBbWPITANBgkqhkiG9w0BAQsFADCBhzEeMBwGA1UEAwwV
aWRwLXNhbmRib3gubG9naW4uZ292MQwwCgYDVQQKDANHU0ExDDAKBgNVBAsMAzE4
ZjETMBEGA1UEBwwKV2FzaGluZ3RvbjELMAkGA1UECAwCREMxCzAJBgNVBAYTAlVT
MRowGAYJKoZIhvcNAQkBFgsxOGZAZ3NhLmdvdjAeFw0xNjA2MDYwMTU2MjRaFw0x
NzA2MDYwMTU2MjRaMIGHMR4wHAYDVQQDDBVpZHAtc2FuZGJveC5sb2dpbi5nb3Yx
DDAKBgNVBAoMA0dTQTEMMAoGA1UECwwDMThmMRMwEQYDVQQHDApXYXNoaW5ndG9u
MQswCQYDVQQIDAJEQzELMAkGA1UEBhMCVVMxGjAYBgkqhkiG9w0BCQEWCzE4ZkBn
c2EuZ292MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyH7L/+hTABV6
7riwW8lTqEwLa1yzUYlkCFA9ARk5ZwGcmtZ9wmkPEKN7aKHACtA879mYgq/ypQfh
GO+saMruMI4tvJRKOXpBTTM2Mm12os2/v57b/zJAYzMxx8BVRYYd/CymSWtl9oFK
+/3+j80tL8jkMpkPig8mj7y8hgUc+ngsYvN0iBIRhS50/r79CuYpymt9+h+UX43r
zqgEFKjTfpW7ajiaoSfWjvuoJ8Ci7OT00tLr+b9MUfNtcBabP1lMOzl5/iFAIKgX
Qa0juOJbN5nCzyv05T7Cigxp7x/Zt/VuZlBgWGIgHalRZQx/Df27l2ueG82sWW0+
FDtV8BvVAQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCvfMCeYrfPTcipgKBMs+Ib
EsvXZ4nMSEIenFkJ5qrlLlBsBw07w4f7xEM1leeLzW2vAaoKGgwXXv1b6OW7Ak7p
kpjFiRmLtgA23C8I5liHwHd908JImupy401l21BS3F36OS1cBh9E8VPiadivZYja
dpKUnU4KroktGQZ1BRPkYG+BSvxarQlq5OmOI9+2aogEU90wUxdsAmpXPsWCFZGZ
RarJAs1xgEcO5NYUbX0LYKzl/pUHNMOr0gjcL+pTcY/hBZLoSvu84ZsSXHDBvGDR
m+FGvssLRyNRHcvC4yQSiLYHRH8mquig7lwWWFN9TdwTmb2Gskn5Z4MiDhNeoOdt
-----END CERTIFICATE-----
