-----BEGIN CERTIFICATE-----
MIIDjDCCAnQCCQCWuwSyiza7hTANBgkqhkiG9w0BAQUFADCBhzEeMBwGA1UEAwwV
aWRwLXNhbmRib3gubG9naW4uZ292MQwwCgYDVQQKDANHU0ExDDAKBgNVBAsMAzE4
ZjETMBEGA1UEBwwKV2FzaGluZ3RvbjELMAkGA1UECAwCREMxCzAJBgNVBAYTAlVT
MRowGAYJKoZIhvcNAQkBFgsxOGZAZ3NhLmdvdjAeFw0xNjA2MDIyMzI0MzNaFw0x
NzA2MDIyMzI0MzNaMIGHMR4wHAYDVQQDDBVpZHAtc2FuZGJveC5sb2dpbi5nb3Yx
DDAKBgNVBAoMA0dTQTEMMAoGA1UECwwDMThmMRMwEQYDVQQHDApXYXNoaW5ndG9u
MQswCQYDVQQIDAJEQzELMAkGA1UEBhMCVVMxGjAYBgkqhkiG9w0BCQEWCzE4ZkBn
c2EuZ292MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyp1nkwdRvubD
Mg6mNY1MHUVeCj2g+TLKdDZPcOga7dN0UumQAy4fsu0g/VEzbZALO4GDZxoSj8NH
CjrjH1WKevLx+pbe4OYO+L63uOO3rswEAnzLP0Rgst/56LQrCnrCKdVkVCW9dKNW
Yn7yzt2YzcLRL8VjeyK3cZriQsn4OKgam7monm2qfAeObN1u4Vvb6pN0+SSEKsaS
+3x9udJeOHwlFqSWPZJfVA8ERXMbLX0Tf8fARBkOeQk6aQsUHMSjZXb6RaUMTBbJ
r0nUFnoAmH5YwLuGykmiOQw1NWpe9rov95ZENbDzYxdZaiMc5NXOKQeFgxltKWEy
PELki/c2iQIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQAIc0jbp4nily0M2I8EJ0C/
J9HRhiLKLtqzPkoLE/E9TmjTgA+h8d1hiavVjmP194lnDtIJUkGGLumi60BddS9e
BC0LC6jHPsO2T5fuEQO/GQv/mZJJP6sVJdIyw+yL4gX4ssrTuYIL8kzTa68/yBr3
OKaq6I2BB6HRENe5+VXlchP/wy5nBn2RWJXHueBVSa8cvbsrCCIva2/O3KmI5XjT
dz1HUdhwgxAWK7nDOPX62vd0lEQC2QxXcdSdv73mJFaWa2qxV3wF+a9iDlhuTxdQ
EgNM7GjfuHW6TL+ucOecNN6Uo7Pzs8fthX1r6L4Ocv9jk7C3NuER5HNZMrcP2oGx
-----END CERTIFICATE-----
