<% self.title = t('account.navigation.history') %>
<% recent_devices = @presenter.recent_devices.to_a %>
<% recent_events = @presenter.recent_events.to_a %>

<div class="ads-history">
  <h1 class="ads-sr-only"><%= t('account.dashboard.history.title') %></h1>

  <%= render 'accounts/history/section',
             heading_id: 'account-history-devices-heading',
             heading: t('headings.account.devices'),
             rows: recent_devices,
             row_partial: 'accounts/history/device_row',
             row_as: :device,
             empty_message: t('account.history.no_devices') %>

  <%= render 'accounts/history/section',
             heading_id: 'account-history-activity-heading',
             heading: t('headings.account.activity'),
             rows: recent_events,
             row_partial: 'accounts/history/event_row',
             row_as: :event,
             empty_message: t('account.history.no_activity') %>
</div>
