.usa-sidenav {
  @include u-border(1px, 'base-light');
  border-radius: radius('md');

  a {
    padding: units(2);

    &:hover {
      background-color: color('primary-lightest');
      color: unset;
    }
  }

  .usa-current {
    background-color: color('primary-lightest');
    color: unset;

    @include add-bar($theme-sidenav-current-border-width, 'secondary', 'left', 'pill', 0, 0);

    @include at-media('tablet') {
      @include add-bar($theme-sidenav-current-border-width, 'secondary', 'left', 'pill', 0, 0);
    }
  }
}

.usa-sidenav--sticky {
  position: sticky;
  position: -webkit-sticky;
  top: units(2);
}

.usa-sidenav__sublist a {
  padding-left: units(4);
  padding-top: units(1.5);
  padding-bottom: units(1.5);
}
