$tooltip-arrow-size: 8px;
$tooltip-distance: units(.5);

.usa-tooltip {
  cursor: help;
  display: inline-block;
  position: relative;

  &::before, &::after {
    visibility: hidden;
    z-index: 1;
  }

  // the triangle
  &::before {
    border-width: $tooltip-arrow-size $tooltip-arrow-size 0 $tooltip-arrow-size;
    border-style: solid;
    border-color: color('primary') transparent transparent transparent;
    content: '';
    display: block;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  // the bubble
  &::after {
    @include u-radius('md');
    @include u-width('card');

    background-color: color('primary');
    color: color('white');
    content: attr(aria-label);
    font-size: $theme-h6-font-size;
    line-height: 1.3;
    opacity: 0;
    padding: units(1);
    pointer-events: none;
    position: absolute;
    text-align: center;
    white-space: normal;
  }

  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    visibility: visible;
  }

  &.usa-tooltip--top {
    &:before {
      left: 50%;
      top: -$tooltip-distance;
      transform: translate(-50%, -100%);
    }

    &:after {
      left: 50%;
      top: calc(-#{$tooltip-arrow-size} - #{$tooltip-distance});
      transform: translate(-50%, -100%);
    }
  }

  &.usa-tooltip--left {
    &:before {
      left: -$tooltip-distance;
      top: 50%;
      transform: translate(-100%, -50%);
      border-width: $tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size;
      border-style: solid;
      border-color: transparent transparent transparent color('primary');
    }

    &:after {
      left: calc(-#{$tooltip-arrow-size} - #{$tooltip-distance});
      top: 50%;
      transform: translate(-100%, -50%);
    }
  }

  &.usa-tooltip--right {
    &:before {
      right: -$tooltip-distance;
      top: 50%;
      transform: translate(100%, -50%);
      border-width: $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0;
      border-style: solid;
      border-color: transparent color('primary') transparent transparent;
    }

    &:after {
      right: calc(-#{$tooltip-arrow-size} - #{$tooltip-distance});
      top: 50%;
      transform: translate(100%, -50%);
    }
  }

  &.usa-tooltip--bottom {
    &:before {
      left: 50%;
      bottom: -$tooltip-distance;
      transform: translate(-50%, 100%);
      border-width: 0 $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size;
      border-style: solid;
      border-color: transparent transparent color('primary') transparent;
    }

    &:after {
      left: 50%;
      bottom: calc(-#{$tooltip-arrow-size} - #{$tooltip-distance});
      transform: translate(-50%, 100%);
    }
  }

  &.usa-tooltip--large {
    &:after {
      @include u-width('card-lg');
    }
  }
}
