.lg-verification-badge {

  background-color: map-get($site-palette, 'site-white');
  border: units(1px) solid map-get($site-palette, 'site-green');
  border-radius: $theme-border-radius-xxl;
  box-sizing: border-box;
  display: inline-block;
  padding: units(1) units(2);
  white-space: nowrap;

  img {
    margin-right: units(1);
  }

  span {
    vertical-align: text-top;
  }
}

@media #{$theme-site-margins-breakpoint} {
  .lg-verification-badge {
    margin: units(-1) 0 0;
    position: static;
    text-align: right;
  }
}
