export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

if [ ! -d .direnv ] || [ ! -d .devenv ]; then
  echo "Setting up your development environment for the first time."
  echo "This process may take a while. Verbose mode is now enabled to provide detailed progress updates."
  echo "If you weren't expecting direnv to launch a local developer environment, consider running 'direnv disallow' to disable any error messages."
  use devenv --verbose
else
  use devenv
fi
