{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier", "@babel"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "@babel/no-unused-expressions": "error",
    "consistent-return": "off",
    "curly": ["error", "all"],
    "prettier/prettier": "error",
    "func-names": 0,
    "function-paren-newline": "off",
    "prefer-arrow-callback": 0,
    "import/prefer-default-export": "off",
    "import/extensions": ["off", "never"],
    "import/no-extraneous-dependencies": "error",
    "indent": "off",
    "max-classes-per-file": "off",
    "newline-per-chained-call": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-param-reassign": ["off", "never"],
    "no-confusing-arrow": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "NewExpression[callee.name='Event']",
        "message": "Use CustomEvent constructor with polyfill for Internet Explorer"
      },
      {
        "selector": "ArrayExpression > SpreadElement",
        "message": "Don't use array spread, issue with IE 11 (use Array.from instead)"
      },
      {
        "selector": "AssignmentExpression[left.property.name='href'][right.type=/(Template)?Literal/]",
        "message": 'Do not assign window.location.href to a string or string template to avoid losing i18n parameters',

      }
    ],
    "no-unused-expressions": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-indent": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "require-await": "error"
  },
  "settings": {
    "import/core-modules": [
      "app/components/index",
      "app/utils/index",
      "app/pw-toggle",
      "app/form-field-format",
      "app/radio-btn",
      "app/print-personal-key",
      "app/utils/ms-formatter",
      "app/phone-internationalization",
      "app/i18n-dropdown"
    ],
    "import/internal-regex": "^@18f/identity-"
  },
  "overrides": [
    {
      "files": "spec/javascripts/**/*",
      "rules": {
        "react/jsx-props-no-spreading": "off",
        "no-restricted-syntax": "off"
      }
    }
  ]
}
