{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "$": true,
    "__DEV__": true,
    "assert": true,
    "chai": true,
    "sinon": true,
    "expect": true,
    "fixture": true
  },
  "rules": {
    "prettier/prettier": "error",
    "func-names": 0,
    "function-paren-newline": "off",
    "prefer-arrow-callback": 0,
    "import/prefer-default-export": "off",
    "import/extensions": ["off", "never"],
    "newline-per-chained-call": "off",
    "no-param-reassign": ["off", "never"],
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "import/core-modules": [
      "app/components/index",
      "app/utils/index",
      "app/pw-toggle",
      "app/form-validation",
      "app/form-field-format",
      "app/radio-btn",
      "app/print-personal-key",
      "app/utils/ms-formatter",
      "app/phone-internationalization",
      "app/i18n-dropdown"
    ],
    "import/internal-regex": "^@18f/identity-"
  },
  "overrides": [
    {
      "files": "spec/javascripts/**/*",
      "rules": {
        "react/jsx-props-no-spreading": "off"
      }
    }
  ]
}
