# Inspired by: https://medium.com/cheerz-engineering/test-your-ruby-gem-locally-2e577ca9582a
#
# This file is used to easily override the github gems with paths for local development.
# To use this just copy the example file removing the .example extension then
# run normal commands with `BUNDLE_GEMFILE=Gemfile-dev` prepended. For example:
#  - BUNDLE_GEMFILE=Gemfile-dev bundle install
#  - BUNDLE_GEMFILE=Gemfile-dev make run
#
# You can also use the make helpers `make local_gems_bundle` and `make local_gems_run`

# Copy checked in Gemfile.lock to ensure same version for other gems
FileUtils.cp("Gemfile.lock", "Gemfile-dev.lock")

# Override the defaults in the native Gemfile. Uncomment and customize for your setup.
# NOTE: These assume all gems are in the same directory as the IDP and named the same as the repos.

# @hostdata_gem = { path: '../identity-hostdata' }
# @idp_functions_gem = { path: '../identity-idp-functions' }
# @logging_gem = { path: '../identity-logging' }
# @validations_gem = { path: '../identity-validations' }
# @saml_gem = { path: '../saml_idp' }

# Production group gems

# @aamva_api_gem = { path: '../identity-aamva-api-client-gem' }
# @lexisnexis_api_gem = { path: '../identity-lexisnexis-api-client-gem' }

# Read the regular Gemfile after the override vars are set
eval_gemfile "./Gemfile"
