appdirs==1.4.4
chardet==5.2.0
click==8.1.7
colorama==0.4.6
diff_cover==9.0.0
exceptiongroup==1.2.1
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pathspec==0.12.1
pluggy==1.5.0
Pygments==2.18.0
pytest==8.2.1
PyYAML==6.0.1
regex==2024.5.15
sqlfluff==3.0.7
tblib==3.0.0
toml==0.10.2
tomli==2.0.1
tqdm==4.66.4
