- title t('idv.titles.complete')

h1.h3.my0 = t('idv.titles.complete')
p.mt-tiny.mb0 = t('idv.messages.recovery_code')
.mt4.mb4.py2.px3.inline-block.fs-20p.border.border-dashed.monospace = @recovery_code
= button_to(t('forms.buttons.continue'),
  verify_confirmations_continue_path, class: 'btn btn-primary btn-wide mb1')
