<% self.title = @presenter.heading %>

<%= render ADS::FormPageComponent.new(title: @presenter.heading) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= @presenter.body %></p>
    </div>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(url: idv_sp_follow_up_connect_path).with_content(
          t('idv.by_mail.sp_follow_up.connect_account'),
        ) %>

    <%= render ButtonComponent.new(
          url: idv_sp_follow_up_cancel_path,
          variant: :secondary,
        ).with_content(t('idv.by_mail.sp_follow_up.go_to_account')) %>
  <% end %>
<% end %>
