<p class="lead">
  <%= t('user_mailer.account_rejected.intro', app_name: APP_NAME) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
          &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
