<p class="lead">
  <%= t(
        'user_mailer.account_verified.intro_html',
        sp_name: @sp_name,
        app_name: APP_NAME,
        date: @date,
        change_password_link_html: link_to(
          t('user_mailer.account_verified.change_password_link'),
          new_user_password_url,
        ),
        contact_link_html: link_to(t('user_mailer.account_verified.contact_link'), MarketingSite.contact_url),
      ) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
          &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
