<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.account_reset_granted.intro_html', waiting_period: @account_reset_deletion_period_interval, app_name: APP_NAME) %>
</p>

<p class="mailer-text">
  <%= t(
        'user_mailer.account_reset_granted.help_html',
        cancel_account_reset_html: mailer_link_to(
          t('user_mailer.account_reset_granted.cancel_link_text'),
          account_reset_cancel_url(token: @token),
          class: 'mailer-inline-link',
        ),
      ) %>
</p>

<%= render 'shared/email/button',
           url: account_reset_delete_account_url(token: @granted_token),
           text: t('user_mailer.account_reset_granted.button') %>