<p class="lead">
  <%= t('user_mailer.account_verified.intro_html',
        sp_name: @sp_name,
        app_name: APP_NAME,
        date: @date,
        disavowal_link: link_to(
          t('user_mailer.account_verified.disavowal_link'),
          event_disavowal_url(disavowal_token: @disavowal_token)
        ),
        contact_link: link_to(t('user_mailer.account_verified.contact_link'), MarketingSite.contact_url),
       ) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
          &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
