p.lead == t('.intro', app: link_to(APP_NAME, Figaro.env.mailer_domain_name, class: 'gray'))

table.button.expanded.large.radius
  tbody
    tr
      td
        table
          tbody
            tr
              td
                center
                  = link_to t('.link_text', app: APP_NAME),
                    @sign_up_email_url, target: '_blank',
                    class: 'float-center', align: 'center'
      td.expander

p = link_to @sign_up_email_url, @sign_up_email_url, target: '_blank'

table.spacer
  tbody
    tr
      td.s10 height="10px"
        | &nbsp;
table.hr
  tr
    th
      | &nbsp;
