<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= t('user_mailer.account_reinstated.we_have_finished_reviewing', app_name: APP_NAME) %>
</p>
