<p class="lead">
  <%= t('user_mailer.account_does_not_exist.intro_html', app_name: link_to(APP_NAME, IdentityConfig.store.mailer_domain_name, class: 'gray')) %>
</p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <center>
                  <%= link_to t('user_mailer.account_does_not_exist.link_text'),
                              @sign_up_email_url, target: '_blank',
                              class: 'float-center', align: 'center' %>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander">
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to @sign_up_email_url, @sign_up_email_url, target: '_blank' %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>

