<p class="mailer-text">
  <%= t(
        'user_mailer.sp_connection.instructions_html',
        sp_name: @sp_name,
        reset_password_html: mailer_link_to(
          t('user_mailer.sp_connection.reset_password'),
          event_disavowal_url(disavowal_token: @disavowal_token),
          class: 'mailer-inline-link',
        ),
        auth_method_html: mailer_link_to(
          t('user_mailer.sp_connection.auth_method'),
          account_security_url,
          class: 'mailer-inline-link',
        ),
      ) %>
</p>

<%= render 'shared/email/button',
           url: account_url,
           text: t('user_mailer.account_security.cta') %>
