p.lead == t('.intro', app: link_to(APP_NAME, Figaro.env.mailer_domain_name, class: 'gray'))
table.button.expanded.large
  tbody
    tr
      td
        table
          tbody
            tr
              td.btn-warn-bkg
                == link_to t('.button'), account_reset_delete_account_url(token: @granted_token), \
                     target: '_blank', class: 'btn-warn'
      td.half
p = link_to account_reset_delete_account_url(token: @granted_token),
        account_reset_delete_account_url(token: @granted_token), target: '_blank'
table.spacer
  tbody
    tr
      td.s10 height="10px"
        | &nbsp;
table.hr
  tr
    th
      | &nbsp;
p = t('user_mailer.email_confirmation_instructions.footer', confirmation_period: '24 hours')
p == t('user_mailer.account_reset_granted.help',
        cancel_account_reset: link_to(t('user_mailer.account_reset_granted.cancel_link_text'),
                account_reset_cancel_url(token: @token)))
