<p class="lead">
  <%= t('user_mailer.add_email.header') %>
  <%= t('user_mailer.add_email.footer', confirmation_period: @confirmation_period) %>
</p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <center>
                  <%= link_to t('user_mailer.email_confirmation_instructions.link_text'),
                              add_email_confirmation_url(
                                _request_id: @request_id,
                                confirmation_token: @token,
                                locale: @locale,
                              ),
                              target: '_blank',
                              class: 'float-center',
                              align: 'center',
                              rel: 'noopener' %>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander">
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to add_email_confirmation_url(_request_id: @request_id, confirmation_token: @token, locale: @locale),
              add_email_confirmation_url(
                _request_id: @request_id,
                confirmation_token: @token,
                locale: @locale,
              ),
              target: '_blank',
              rel: 'noopener' %>
</p>
