<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.add_email.footer', confirmation_period: @confirmation_period) %>
</p>

<p class="mailer-text">
  <%= t('user_mailer.add_email.link_ignore') %>
</p>

<%= render 'shared/email/button',
           url: @add_email_url,
           text: t('user_mailer.add_email.link_text') %>