<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.add_email_associated_with_another_account.intro_html') %>
</p>

<%= render 'shared/email/button',
           url: @root_url,
           text: t('.link_text') %>