p.lead == t('recover.email.instructions')

table.button.expanded.large.radius
  tbody
    tr
      td
        table
          tbody
            tr
              td
                center
                center
                  = link_to t('user_mailer.email_confirmation_instructions.link_text'), \
                    idv_recovery_step_url(step: :recover, token: @token, locale: @locale), \
                    target: '_blank', \
                    class: 'float-center', align: 'center'
      td.expander

p = link_to idv_recovery_step_url(step: :recover, token: @token, locale: @locale), \
                    idv_recovery_step_url(step: :recover, token: @token, locale: @locale), \
                    target: '_blank', \
                    class: 'float-center', align: 'center'
