<h1><%= t('user_mailer.dupe_profile.review_complete.success_heading') %></h1>

<p>
  <%= t('user_mailer.dupe_profile.review_complete.success_info', app_name: APP_NAME) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
