<p class="mailer-text">
  <%= t(
        'user_mailer.dupe_profile.created.description2_html',
        steps_link_html: mailer_link_to(
          t('user_mailer.dupe_profile.created.steps_link'),
          MarketingSite.help_center_article_url(
            category: 'manage-your-account',
            article: 'resolve-duplicate-accounts',
          ),
        ),
        help_center_link_html: mailer_link_to(
          t('user_mailer.dupe_profile.created.help_center_link', app_name: APP_NAME),
          MarketingSite.contact_url,
        ),
      ) %>
</p>