<p>
  <%= t('user_mailer.dupe_profile.review_complete.unable_info', sp_or_app_name: @service_provider_or_app_name) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
