<p class="mailer-text mailer-text--spaced">
  <%= t(
        '.help_html',
        app_name_html: APP_NAME,
        help_center_link_html: mailer_link_to(t('user_mailer.help_link_text'), MarketingSite.help_url),
      ) %>
</p>