<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.email_added.help') %>
</p>

<%= render 'shared/email/button',
           url: account_url,
           text: t('user_mailer.email_added.cta') %>