<p class="lead">
  <%= t('user_mailer.email_confirmation_instructions.header', intro: @first_sentence) %>
  <%= t('user_mailer.email_confirmation_instructions.footer', confirmation_period: @confirmation_period) %>
</p>

<table class="button expanded large radius" role="presentation">
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td style="text-align: center">
                <%= link_to t('user_mailer.email_confirmation_instructions.link_text'),
                            sign_up_create_email_confirmation_url(
                              _request_id: @request_id,
                              confirmation_token: @token,
                              locale: @locale,
                            ),
                            target: '_blank',
                            class: 'float-center',
                            rel: 'noopener' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to(
        sign_up_create_email_confirmation_url(
          _request_id: @request_id,
          confirmation_token: @token,
          locale: @locale,
        ),
        sign_up_create_email_confirmation_url(
          _request_id: @request_id,
          confirmation_token: @token,
          locale: @locale,
        ),
        target: '_blank',
        rel: 'noopener',
      ) %>
</p>
