<p>
  <%= help_link = link_to(
        t('idv.troubleshooting.options.learn_more_verify_by_mail'),
        help_center_redirect_url(
          category: 'verify-your-identity',
          article: 'verify-your-address-by-mail',
          flow: :idv,
          step: :gpo_send_letter,
        ),
        { style: "text-decoration: 'underline'" },
      )

      t(
        'idv.messages.gpo_reminder.body_html',
        date_letter_was_sent: @gpo_verification_pending_at,
        app_name: APP_NAME,
        help_link: help_link,
      ) %>
</p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table style="margin-bottom: 1em; margin-top: 1em">
          <tbody>
            <tr>
              <td style="text-align: center">
                <%= link_to t('idv.messages.gpo_reminder.finish'),
                            idv_gpo_verify_url,
                            target: '_blank',
                            class: 'float-center',
                            align: 'center',
                            rel: 'noopener' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>

<p>
  <%= t(
        'idv.messages.gpo_reminder.did_not_get_a_letter_html',
        another_letter_link_html: link_to(
          t('idv.messages.gpo_reminder.sign_in_and_request_another_letter'),
          idv_gpo_verify_url(did_not_receive_letter: 1),
          { style: "text-decoration: 'underline'" },
        ),
      ) %>
</p>
