
<%= t(
      'user_mailer.gpo_code_expired.body.intro',
      code_sent_at: @code_sent_at,
      app_name: APP_NAME,
    ) %>

<%= link_to(
      t('user_mailer.gpo_code_expired.body.learn_more_link'),
      help_center_redirect_url(
        category: 'verify-your-identity',
        article: 'verify-your-address-by-mail',
        flow: :idv,
        step: :gpo_send_letter,
      ),
      { style: "text-decoration: 'underline'" },
    ) %>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table style="margin-bottom: 1em; margin-top: 1em">
          <tbody>
            <tr>
              <td style="text-align: center">
                <%= link_to t('user_mailer.gpo_code_expired.body.cta'),
                            idv_url,
                            target: '_blank',
                            class: 'float-center',
                            align: 'center',
                            rel: 'noopener' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>
