<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.idv_please_call.body.intro_html',
        date: I18n.l(14.days.from_now, format: I18n.t('time.formats.full_date')),
      ) %>
</p>
  <p class="mailer-text mailer-text--spaced">
    <%= t(
          'user_mailer.idv_please_call.body.contact_message_html',
          contact_number: IdentityConfig.store.idv_contact_phone_number,
          contact_phone_link_html: mailer_link_to(
            IdentityConfig.store.idv_contact_phone_number,
            "tel:#{IdentityConfig.store.idv_contact_phone_number}",
            class: 'mailer-inline-link',
          ),
          support_code: IdentityConfig.store.lexisnexis_threatmetrix_support_code,
        ) %>
  </p>
