<%= image_tag(
      asset_url('email/phone_icon.png'),
      alt: t('image_description.phone_icon'),
      width: 88,
      height: 88,
    ) %>
<h1><%= t('user_mailer.idv_please_call.header') %></h1>
<p>
  <%= t(
        'user_mailer.idv_please_call.body.intro_html',
        date: I18n.l(14.days.from_now, format: I18n.t('time.formats.full_date')),
      ) %>
</p>
<p>
  <%= t(
        'user_mailer.idv_please_call.body.contact_message_html',
        contact_number: IdentityConfig.store.idv_contact_phone_number,
        support_code: IdentityConfig.store.lexisnexis_threatmetrix_support_code,
      ) %>
</p>

