<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.in_person_deadline_passed.body.restart',
        partner_agency: @presenter.service_provider_or_app_name,
      )
  %>
</p>

<%= render 'shared/email/button', url: @presenter.sign_in_url, text: t('user_mailer.in_person_deadline_passed.body.cta') %>