<p class="mailer-text mailer-text--compact">
  <%= t(
        'user_mailer.in_person_verified.warning_contact_us_html',
        contact_us_url: MarketingSite.contact_url,
        reset_password_url: new_user_password_url,
        app_name: APP_NAME,
      )
  %>
</p>
