<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.in_person_completion_survey.body.intent') %>
  <%= t('user_mailer.in_person_completion_survey.body.request_description') %>
</p>

<%= render 'shared/email/button', url: @survey_url, text: t('user_mailer.in_person_completion_survey.body.cta.label') %>
