<%= t('user_mailer.in_person_failed_suspected_fraud.greeting', name: @first_name) %><br>
<p>
  <%= t(
        'user_mailer.in_person_failed_suspected_fraud.body.intro',
        location: @presenter.location_name,
        date: @presenter.formatted_verified_date,
      ) %>
</p>
<p>
  <%= t(
        'user_mailer.in_person_verified.warning_contact_us_html',
        contact_us_url: MarketingSite.contact_url,
        sign_in_url: root_url,
      )
  %>
</p>
<p>
  <%= t(
        'user_mailer.in_person_failed_suspected_fraud.body.help_center',
        help_center_url: MarketingSite.help_url,
      )
  %>
</p>
