<p>
  <%= t('user_mailer.multi_factor_authentication.instructions_html',
        change_password_link_html: link_to(
          t('user_mailer.account_verified.change_password_link'),
          new_user_password_url,
        ),
        authentication_methods_link_html: link_to(
          t('user_mailer.new_device_sign_in_after_2fa.authentication_methods'),
          MarketingSite.help_center_article_url(
            category: 'manage-your-account',
            article: 'add-or-change-your-authentication-method',
          ),
        ),
        )%>
</p>
