<% t(:info_html, scope: @i18n_scope).each do |info_p| %>
  <p class="margin-bottom-2">
    <%= I18n.interpolate(
          info_p,
          reset_password_link_html: link_to(
            t(:reset_password, scope: @i18n_scope),
            event_disavowal_url(disavowal_token: @disavowal_token),
          ),
        ).html_safe %>
  </p>
<% end %>

<% @events_by_location.each do |location, geocoder_events| %>
  <div class="margin-top-5">
    <table class="usa-table">
      <thead>
        <tr>
          <th scope="col" class="font-family-mono">
            <%= t('user_mailer.new_device_sign_in_attempt.new_sign_in_from', location:) %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% geocoder_events.each do |geocoder, event| %>
          <tr>
            <td class="font-family-mono">
              <%= t(event.event_type, scope: [:user_mailer, :new_device_sign_in_attempt, :events]) %><br />
              <%= I18n.l(event.created_at.in_time_zone(geocoder.time_zone), format: :event_timestamp_with_zone) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
