p You have asked #{APP_NAME} to change the password currently associated with your #{APP_NAME} Account.

p
  'If you did not change your password, please contact the #{APP_NAME} Customer Contact Center via the web form at
  = link_to nil, Figaro.env.support_url
