p.lead = t('.intro', app: APP_NAME)

table.spacer
  tbody
    tr
      td.s10 height="10px"
        | &nbsp;
table.hr
  tr
    th
      | &nbsp;

p == t('.help', app: APP_NAME, link: link_to(contact_url, contact_url))
