<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.password_changed.intro_html', app_name_html: APP_NAME) %>
</p>

<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.password_changed.help_html',
        app_name_html: APP_NAME,
        disavowal_link_html: mailer_link_to(
          t('.disavowal_link'),
          event_disavowal_url(disavowal_token: @disavowal_token),
          class: 'mailer-inline-link',
        ),
      ) %>
</p>
