<p class="mailer-text mailer-text--spaced">
  <strong><%= t('user_mailer.personal_key_sign_in.intro') %></strong>
</p>

<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.personal_key_sign_in.help_html',
        app_name: APP_NAME,
        reset_password_url: event_disavowal_url(disavowal_token: @disavowal_token),
        account_url: account_settings_url,
      ) %>
</p>

<%= render 'shared/email/button',
           url: account_url,
           text: t('user_mailer.personal_key_sign_in.cta') %>
