<p class='lead'>
  <%= raw t('.intro', app_name: link_to(APP_NAME, IdentityConfig.store.mailer_domain_name, class: 'gray')) %>
</p>

<table class='spacer'>
  <tbody>
    <tr>
      <td class='s10' height='10px'>
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>
<table class='hr'>
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>

<p>
  <%= raw t('.help', disavowal_link: link_to(t('.disavowal_link'),
                                             event_disavowal_url(disavowal_token: @disavowal_token))) %>
</p>
