<p class="mailer-text mailer-text--spaced">
  <%= t('user_mailer.please_reset_password.intro', app_name: APP_NAME) %>
</p>

<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.please_reset_password.help_html',
        app_name: APP_NAME,
        sign_in_url: new_user_session_url,
        reset_password_url: forgot_password_url,
      ) %>
</p>

<%= render 'shared/email/button',
           url: MarketingSite.help_center_article_url(
             category: 'manage-your-account',
             article: 'change-your-password',
           ),
           text: t('user_mailer.please_reset_password.learn_more_link_text') %>
