p.lead == t('user_mailer.reset_password_instructions.header',
          app: link_to(APP_NAME, Figaro.env.mailer_domain_name, class: 'gray'))

table.button.expanded.large.radius
  tbody
    tr
      td
        table
          tbody
            tr
              td
                center
                  = link_to t('user_mailer.reset_password_instructions.link_text'),
                    edit_user_password_url(reset_password_token: @token, locale: @locale),
                      target: '_blank', class: 'float-center', align: 'center'
      td.expander

p
  = link_to edit_user_password_url(reset_password_token: @token, locale: @locale), \
            edit_user_password_url(reset_password_token: @token, locale: @locale), \
            target: '_blank'

table.spacer
  tbody
    tr
      td.s10 height="10px"
        | &nbsp;
table.hr
  tr
    th
      | &nbsp;

p = t('user_mailer.reset_password_instructions.footer',
      expires: Devise.reset_password_within / 3600)
