<p class="lead">
  <%= t('.info') %>
</p>
<table class="spacer">
  <tbody>
     <tr style="vertical-align: top; padding: 0;" align="left">
        <td class="s10" height="10px">&nbsp;</td>
     </tr>
  </tbody>
</table>
<table class="hr">
  <tbody>
     <tr>
        <th>&nbsp;</th>
     </tr>
  </tbody>
</table>
<p>
  <%= t('.help') %>
</p>
