<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.suspended_reset_password.message_html',
        support_code: IdentityConfig.store.account_suspended_support_code,
        contact_number: IdentityConfig.store.idv_contact_phone_number,
        contact_phone_link_html: mailer_link_to(
          IdentityConfig.store.idv_contact_phone_number,
          "tel:#{IdentityConfig.store.idv_contact_phone_number}",
          class: 'mailer-inline-link',
        ),
      ) %>
</p>
