<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= t('user_mailer.suspension_confirmed.remain_locked', app_name: APP_NAME) %>
</p>
