<p class="mailer-text mailer-text--spaced">
  <%= t(
        'user_mailer.suspension_confirmed.contact_us_html',
        contact_us_link_html: mailer_link_to(
          t('user_mailer.contact_link_text'),
          MarketingSite.contact_url,
          class: 'mailer-inline-link',
        ),
      ) %>
</p>