<p class="lead">
  <%= t('user_mailer.undeliverable_address.intro') %>
</p>

<p class="lead">
  <%= t('user_mailer.undeliverable_address.call_to_action_html', link: link_to('login.gov', root_url)) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td clas="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
