<p class="mailer-text mailer-text--spaced">
  <%= help_link = mailer_link_to(
        t('idv.troubleshooting.options.learn_more_verify_by_mail'),
        help_center_redirect_url(
          category: 'verify-your-identity',
          article: 'verify-your-address-by-mail',
          flow: :idv,
          step: :gpo_send_letter,
        ),
        class: 'mailer-inline-link',
      )
      t(
        'user_mailer.letter_reminder_14_days.body_html',
        date_letter_was_sent: @gpo_verification_pending_at,
        app_name: APP_NAME,
        help_link: help_link,
      ) %>
</p>

<p class="mailer-text margin-top-3">
  <%= t(
        'user_mailer.letter_reminder_14_days.did_not_get_a_letter_html',
        another_letter_link_html: mailer_link_to(
          t('user_mailer.letter_reminder_14_days.sign_in_and_request_another_letter'),
          idv_verify_by_mail_enter_code_url(did_not_receive_letter: 1),
          class: 'mailer-inline-link',
        ),
      ) %>
</p>

<%= render 'shared/email/button', url: idv_verify_by_mail_enter_code_url, text: t('user_mailer.letter_reminder_14_days.finish') %>
