<p class="lead">
  <%= t('user_mailer.letter_reminder.info_html', link_html: link_to(APP_NAME, root_url)) %>
</p>

<table class="spacer">
  <tbody>
    <tr>
      <td class="s10" height="10px">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>

<table class="hr">
  <tr>
    <th>
      &nbsp;
    </th>
  </tr>
</table>
