@use '../../variables/ads' as ads;

html,
body {
  color: ads.$off-black;
  font-family: ads.$font-family;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

p,
ul {
  margin-block-start: 0;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
