$offset: 16%;

@media #{$breakpoint-md} {
  .hero-img {
    margin-left: -$offset;
    max-width: 100% + $offset * 2;
    width: 100% + $offset * 2;
  }

  .hero-txt {
    margin-left: $offset;
  }
}
