.pb-list {
  &--bullet {
    color: $teal;

    a {
      background: asset-url('playbook/ico-arrow.svg') no-repeat right 8px;
      background-size: .75rem .75rem;
      padding-right: 1.25rem;
    }
  }

  &--checked li { background: asset-url('playbook/ico-checked.svg') no-repeat left 2px; }
  &--checkbox li { background: asset-url('playbook/ico-checkbox.svg') no-repeat left 2px; }
}

.pb-nav--top a:hover,
.pb-nav--top .active, {
  color: $red;
  padding-bottom: $space-1;
  position: relative;
  text-decoration: none;

  &::after {
    border-bottom: $red 4px solid;
    border-radius: 12px;
    content: '';
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}
