<% self.title = t('webauthn_platform_recommended.heading') %>

<%= render StatusPageComponent.new(status: :info, icon: :question) do |c| %>
  <% c.with_header { t('webauthn_platform_recommended.heading') } %>

  <p><%= t('webauthn_platform_recommended.description_save_time') %></p>

  <div class="grid-row margin-top-5">
    <div class="tablet:grid-col-9">
      <%= render SubmitButtonComponent.new(
            url: webauthn_platform_recommended_url,
            method: :post,
            params: { add_method: true },
            full_width: true,
            class: 'margin-bottom-2',
          ).with_content(t('webauthn_platform_recommended.cta')) %>
      <%= render SubmitButtonComponent.new(
            url: webauthn_platform_recommended_url,
            method: :post,
            unstyled: true,
            big: false,
            wide: false,
          ).with_content(t('webauthn_platform_recommended.skip')) %>
    </div>
  </div>
<% end %>
