#pw-strength-cntnr.hide aria-live='polite' aria-atomic='true'
  .mtn3.mb3
    .clearfix.mxn-tiny.pt-tiny
      .pw-bar
      .pw-bar
      .pw-bar
      .pw-bar
    .h5
      span.h6 = t('instructions.password.strength.intro')
      span#pw-strength-txt.bold*{ 'data-forbidden-passwords' => @forbidden_passwords } = '...'
    .h6
      #pw-strength-feedback.italic &nbsp;
