<div id='pw-strength-cntnr' class='hide' aria-live='polite' aria-atomic='true'>
  <div class='mtn3 mb3'>
    <div class='clearfix mxn-tiny pt-tiny'>
      <div class='pw-bar'></div>
      <div class='pw-bar'></div>
      <div class='pw-bar'></div>
      <div class='pw-bar'></div>
    </div>
    <div class='h5'>
      <span class='h6'>
        <%= t('instructions.password.strength.intro') %>
      </span>
      <span id='pw-strength-txt' class='bold' data-forbidden-passwords='<%= @forbidden_passwords %>'>
        ...
      </span>
    </div>
    <div class='h6'>
      <div id='pw-strength-feedback' class='italic'>
        &nbsp;
      </div>
    </div>
  </div>
</div>
