<div id='pw-strength-cntnr' class='display-none' aria-live='polite' aria-atomic='true'>
  <div class="margin-top-1 margin-bottom-4">
    <div class='clearfix margin-x-neg-05 padding-top-05'>
      <div class='pw-bar'></div>
      <div class='pw-bar'></div>
      <div class='pw-bar'></div>
      <div class='pw-bar'></div>
    </div>
    <div class='h5'>
      <%= t('instructions.password.strength.intro') %>
      <%= tag.span '...', id: 'pw-strength-txt', class: 'text-bold', data: {
            forbidden: local_assigns[:forbidden_passwords],
          } %>
    </div>
    <div class='h6'>
      <div id='pw-strength-feedback' class='text-italic'>
        &nbsp;
      </div>
    </div>
  </div>
</div>
