.mb3
  = f.input attribute_name,
    label: t('simple_form.required.html') + t('forms.two_factor.backup_code'),
    input_html: { autocapitalize: 'none',
      autocomplete: 'off',
      class: 'caps',
      maxlength: 14,
      required: true,
      spellcheck: 'false' }
