<div class="mb3">
  <%= f.input attribute_name,
              label: t('simple_form.required.html') + t('forms.two_factor.backup_code'),
              input_html: { autocapitalize: 'none',
                            autocomplete: 'off',
                            class: 'caps backup-code',
                            maxlength: 14,
                            required: true,
                            aria: { invalid: true },
                            spellcheck: 'false' } %>
</div>
