<div class="margin-bottom-2">
  <%= f.input attribute_name,
              label: t('forms.two_factor.backup_code'),
              input_html: { autocapitalize: 'none',
                            autocomplete: 'off',
                            class: 'text-uppercase backup-code',
                            maxlength: 14,
                            required: true,
                            aria: { invalid: false },
                            spellcheck: 'false' } %>
</div>
<%= javascript_packs_tag_once('formatted-fields') %>
