@use 'uswds-core' as *;
@use 'variables/app' as *;

@forward 'usa-icon';

.icon {
  mask-size: 100%;
  background-color: currentColor;
}

.usa-button:not(.usa-button--unstyled) > .usa-icon {
  margin-left: -1 * units($theme-button-icon-gap);
}
