<%= content_tag(
      :button,
      **tag_options,
      class: css_class,
    ) do %> 
  <%= content %>
  <span class="usa-sr-only">Login.gov</span>
  <%= image_tag(asset_url(logo_path), alt: "", class: 'login-button-img display-inline text-middle margin-left-05 margin-top-neg-05') %>
<% end %>