<%= content_tag(
      :'lg-password-strength',
      'input-id': input_id,
      'minimum-length': minimum_length,
      'forbidden-passwords': forbidden_passwords.to_json,
      **tag_options,
      class: [*tag_options[:class], 'display-none'],
    ) do %>
  <div class="password-strength__meter">
    <div class="password-strength__meter-bar"></div>
    <div class="password-strength__meter-bar"></div>
    <div class="password-strength__meter-bar"></div>
    <div class="password-strength__meter-bar"></div>
  </div>
  <div id="password-strength">
    <%= t('instructions.password.strength.intro') %>
    <span class="password-strength__strength"></span>
    <div class="password-strength__feedback"></div>
  </div>
<% end %>
