<%= content_tag(
      :'lg-password-strength',
      'input-id': input_id,
      'minimum-length': minimum_length,
      'forbidden-passwords': forbidden_passwords.to_json,
      **tag_options.except(:class, :hidden, :data),
      class: css_class,
      hidden: true,
      data: { open: 'false', **tag_options.fetch(:data, {}).to_h },
    ) do %>
  <div class="ads-password-strength__inner">
    <div class="ads-password-strength__row">
      <div class="ads-password-strength__track" aria-hidden="true">
        <span class="ads-password-strength__bar"></span>
      </div>
      <p class="ads-password-strength__feedback" id="<%= feedback_id %>" aria-live="polite"></p>
    </div>
  </div>
<% end %>
