<li class="usa-process-list__item">
  <% tag_options = { class: 'usa-process-list__heading' } %>
  <% tag_options[:id] = id if id.present? %>
  <%= content_tag(heading_level, heading, **tag_options) %>
  <%= content %>
</li>
