<%= content_tag(:nav, aria: { label: }, **tag_options, class: [*tag_options[:class], 'tab-navigation']) do %>
  <ul class="usa-button-group usa-button-group--segmented">
    <% routes.each do |route| %>
      <% if  route[:event_name] %>
        <%=  render ClickObserverComponent.new(event_name: route[:event_name], class: "usa-button-group__item") do %>
          <%= render ButtonComponent.new(
                url: route[:path],
                big: true,
                outline: !current_path?(route[:path]),
                aria: { current: current_path?(route[:path]) ? 'page' : nil },
              ).with_content(route[:text]) %>
          <% end %>
      <% else %>
        <li>
          <%= render ButtonComponent.new(
                  url: route[:path],
                  big: true,
                  outline: !current_path?(route[:path]),
                  aria: { current: current_path?(route[:path]) ? 'page' : nil },
                ).with_content(route[:text]) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
