<%= content_tag(:nav, aria: { label: }, **tag_options, class: [*tag_options[:class], 'tab-navigation']) do %>
  <ul class="usa-button-group usa-button-group--segmented">
    <% routes.each do |route| %>
      <li class="usa-button-group__item">
        <% if  current_path?(route[:path]) %>
          <%=  render ClickObserverComponent.new(event_name: 'tab_navigation_current_page_clicked', payload: { path: route[:path] }) do %>
            <%= render ButtonComponent.new(
                  url: route[:path],
                  big: true,
                  outline: !current_path?(route[:path]),
                  aria: { current: current_path?(route[:path]) ? 'page' : nil },
                ).with_content(route[:text]) %>
          <% end %>
        <% else %>
          <%= render ButtonComponent.new(
                  url: route[:path],
                  big: true,
                  outline: !current_path?(route[:path]),
                  aria: { current: current_path?(route[:path]) ? 'page' : nil },
                ).with_content(route[:text]) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
