/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME COLOR SETTINGS
----------------------------------------
-
Read more about settings and
USWDS color tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/color
-
----------------------------------------
*/

$site-palette: (
  'site-navy': #112e51,
  'site-dark-blue': #205493,
  'site-blue': #0071bb,
  'site-med-blue': #cedced,
  'site-light-blue': #ebf3fa,
  'site-input-blue': #f2f9ff,

  'site-teal': #00a2c4,
  'site-light-teal': #ecfcff,

  'site-darkest-red': #8b0a21,
  'site-dark-red': #ab142f,
  'site-red': #e21c3d,
  'site-pink': #fff0f3,

  'site-grey': #5b616a,
  'site-light-grey': #767676,

  'site-yellow': #f5d600,
  'site-light-yellow': #fffdd7,

  'site-darkest-green': #094316,
  'site-dark-green': #116523,
  'site-green': #18852e,
  'site-light-green': #ebfcef,
  'site-white': #ffffff,
);

$project-color-shortcodes: $site-palette;

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family:           'gray';
$theme-color-base-lightest:         'site-light-blue';
$theme-color-base-lighter:          'site-light-blue';
$theme-color-base-light:            'site-med-blue';
$theme-color-base:                  'site-blue';
$theme-color-base-dark:             'gray-cool-60';
$theme-color-base-darker:           'gray-cool-80';
$theme-color-base-darkest:          '#{$theme-color-base-family}-90';
$theme-color-base-ink:              'site-grey';

// Primary colors
$theme-color-primary-lightest:      'site-input-blue';
$theme-color-primary-lighter:       'site-light-blue';
$theme-color-primary-light:         'site-med-blue';
$theme-color-primary:               'site-blue';
$theme-color-primary-vivid:         false;
$theme-color-primary-dark:          'site-dark-blue';
$theme-color-primary-darker:        'site-navy';
$theme-color-primary-darkest:       false;

// Secondary colors
$theme-color-secondary-lightest:    false;
$theme-color-secondary-lighter:     false;
$theme-color-secondary-light:       'site-pink';
$theme-color-secondary:             'site-red';
$theme-color-secondary-vivid:       false;
$theme-color-secondary-dark:        'site-dark-red';
$theme-color-secondary-darker:      'site-darkest-red';
$theme-color-secondary-darkest:     false;

// Accent warm colors
$theme-color-accent-warm-family:    'orange';
$theme-color-accent-warm-lightest:  false;
$theme-color-accent-warm-lighter:   '#{$theme-color-accent-warm-family}-10';
$theme-color-accent-warm-light:     '#{$theme-color-accent-warm-family}-20v';
$theme-color-accent-warm:           '#{$theme-color-accent-warm-family}-30v';
$theme-color-accent-warm-dark:      '#{$theme-color-accent-warm-family}-50v';
$theme-color-accent-warm-darker:    '#{$theme-color-accent-warm-family}-60';
$theme-color-accent-warm-darkest:   false;

// Accent cool colors
$theme-color-accent-cool-family:    'cyan';
$theme-color-accent-cool-lightest:  false;
$theme-color-accent-cool-lighter:   '#{$theme-color-accent-cool-family}-5';
$theme-color-accent-cool-light:     'site-light-teal';
$theme-color-accent-cool:           'site-teal';
$theme-color-accent-cool-dark:      '#{$theme-color-accent-cool-family}-40v';
$theme-color-accent-cool-darker:    'blue-60';
$theme-color-accent-cool-darkest:   false;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family:     'red';
$theme-color-error-lighter:    '#{$theme-color-error-family}-10';
$theme-color-error-light:      '#{$theme-color-error-family}-40v';
$theme-color-error:            'site-red';
$theme-color-error-dark:       '#{$theme-color-error-family}-60v';
$theme-color-error-darker:     '#{$theme-color-error-family}-70v';

// Warning colors
$theme-color-warning-family:   'gold';
$theme-color-warning-lighter:  'site-light-yellow';
$theme-color-warning-light:    'site-light-yellow';
$theme-color-warning:          'site-yellow';
$theme-color-warning-dark:     '#{$theme-color-warning-family}-30v';
$theme-color-warning-darker:   '#{$theme-color-warning-family}-40v';

// Success colors
$theme-color-success-lighter:  'site-light-green';
$theme-color-success-light:    false;
$theme-color-success:          'site-green';
$theme-color-success-dark:     'site-dark-green';
$theme-color-success-darker:   'site-darkest-green';

// Info colors
$theme-color-info-family:      'cyan';
$theme-color-info-lighter:     'site-light-teal';
$theme-color-info-light:       '#{$theme-color-info-family}-20';
$theme-color-info:             'site-teal';
$theme-color-info-dark:        '#{$theme-color-info-family}-40v';
$theme-color-info-darker:      'blue-60';

// Disabled colors
$theme-color-disabled-family:  'gray';
$theme-color-disabled-light:   '#{$theme-color-disabled-family}-10';
$theme-color-disabled:         'site-light-grey';
$theme-color-disabled-dark:    '#{$theme-color-disabled-family}-30';

/*
----------------------------------------
General colors
----------------------------------------
*/

// Links
$theme-link-color:             'primary';
$theme-link-visited-color:     'violet-70v';
$theme-link-hover-color:       'primary-darker';
$theme-link-active-color:      'primary-darker';
