<h1>Testing Ciphers</h1>
<h2>Encrypting text in the brower:</h2>
<div id=cipher-root data-plaintext="<%= @plaintext %>"></div>
<%= tag.div id: 'cipher-root', data: {
  plaintext: @plaintext,
} %>
<%= javascript_pack_tag 'test-cipher' %>

<h2>Deciphered text received from server:</h2>
<pre id=deciphered style='white-space: pre-wrap;'></pre>
