html,
body {
  background-color: #112e51;
  height: 100%;
}

body {
  color: #fff;
  font-family: helvetica, helvetica neue, Ubuntu, segoe ui, arial, sans-serif;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

a,
a:focus,
a:hover {
  color: #fff;
}

.site-wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-left: auto;
  margin-right: auto;
}

.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}

.masthead-brand {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .cover-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .cover-container,
  .masthead {
    width: 720px;
  }
}
