- title t('doc_auth.titles.doc_auth')

= image_tag(asset_url('alert/success.svg'),
        alt: t('forms.webauthn_setup.success_title'), width: 60)

h1.h2.mb2.mt3.my0 = t('doc_auth.headings.capture_complete')
hr
h1.h2.mb2.mt3.my0 = t('doc_auth.instructions.switch_back')
= image_tag(asset_url('idv/switch.png'),
        alt: t('forms.webauthn_setup.success_title'), width: 193)
