
.single-column-form {
  input[type="text"] {
    width: 100%;
  }
  input[type="submit"] {
    width: auto;
  }
}

div.sign-up {
  margin-top: 25px;
}

.top-label, .security-questions {
  input[type="submit"] {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.same-height-panel {
  @include media( $mobile) {
    @include span-columns(12);
  }
  @include span-columns(6);
  .panel-body {
    padding: 15px 35px;
  }
}

.three-col {
  @include span-columns(3);
}

.four-col {
  @include span-columns(4);
}

.five-col {
  @include span-columns(5);
}

.six-col {
  @include media($desktop) {
    @include span-columns(6);
  }
  @include media($tablet-and-down) {
    @include span-columns(12);
  }
}

.site-content-wrapper {
  @include outer-container;
}

ul.not-menu {
  list-style: disc;
  margin: 10px 0 30px 0;
  padding-left: 40px;

  li {
    margin-bottom: 5px;
  }
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.panel-ferris-wide {
  @extend .panel-ferris;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  &:focus {
    outline: none;
  }
}

input[type="email"], input[type="password"] {
  padding: 10px 15px;
  width: 100%
}

a.upaya-button-secondary-blue {
  text-decoration: none;
  font-size: 16px;
}

p.required {
  margin-bottom: 15px;
}

div.checkbox {
  label.collection_check_boxes {
    padding-left: 20px;

  }
  input[type="checkbox"] {
    margin-top: 0px;
  }
  margin-top: 5px;
}

.compact-hr {
  margin-top: 5px;
}

.clear-hr {
  clear: both;
}

.bbtm {
  margin-bottom: 10px;
}


.bottom-center {
  text-align: center;
}

.form-actions {
  input[type="submit"] {
    margin-top: 10px;
  }
}

ul.devise-nav {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

ul.horizontal-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  @include media($desktop) {
    text-align: center;
    li {
      display: inline;
      margin-right: 12%;
    }
  }
}

.neat-row {
  display: table;
  width: 100%;
  &:after {
    clear: both;
  }
}

.navbar {
  margin-bottom: 25px;
}

.flat-checkbox {
  label {
    display: inline;
  }
}

.login-links span {
  color: #c2c2c2;
}

.user-edit {
  margin-top: 10px;
  width: auto;
}

.long-button {
  @include media($mobile-small) {
    font-size: 14px;
  }
}

.panel-body {
  @include media($mobile-small) {
    padding: 5px;
  }
}

.gitbox {
  @include span-columns(2);
}

.modal-footer button {
  @extend .upaya-button-secondary-blue;
  &:focus {
    background: $accessibility-blue;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
  }
}

legend.solo-legend {
  font-size: 24px;
  color: $blue;
}

.bottom-center {
  margin: 15px auto;
  text-align: center;
}

.bottom-section {
  padding-top: 25px;
  margin-bottom: 30px;
  position: relative;
}

.instruction {
  li {
    margin-bottom: 5px;
    margin-left: 15px;
  }
}

.block-btn {
  display: block;
  float: right;
}

.answer-form {
  label {
    margin-left: 25px;
    margin-top: 10px;
    padding-top: 3px;
    font-family: ProximaNovaRegular, Arial;
  }
}
.site-content-wrapper {
  &:focus {
    outline: none;
  }
}

h3.quiz-header {
  color: $black;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 30px;
  text-align: left;
}

.help {
  @include span-columns(2);
  color: $accessibility-blue;
  font-size: 24px;
  text-align: right;
}

.title-box-help {
  @include span-columns(9);
}

h2.quiz-header {
  margin-top: 10px;
  margin-bottom: 0px;
}

.quiz-description {
  p, li {
    font-size: 16px;
    line-height: 24px;
    color: $darkgray;
  }

  ul {
    margin-bottom: 20px;
  }
}

.big-button {
  padding: 15px 30px;
  font-size: 16px;
}

h5.kicker {
  color: $darkgray;
  margin-top: 24px;
}

.quiz-bar {
  margin: 35px auto 40px auto;
}
.progress.quiz-bar {
  @include span-columns(10)
}

.q-count {
  @include span-columns(2);
  margin-top: 33px;
  color: $darkgray;
}

.button-row {
  padding-top: 25px;
  text-align: center;
  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.phone-field {
  margin-top: 10px;
}

.phone-field-row {
  margin-top: 20px;
  @include media($desktop) {
    margin-top: 65px;
    margin-bottom: 65px;
  }
}

.phone-disclaimer {
  @include media($desktop) {
    margin-top: 20px;
  }
  color: $darkgray;
}

.form-submit-row {
  margin-top: 30px;
  margin-bottom: 20px;
}

.row {

  @include outer-container;
}

.left {
  div.placeholder {
    display: inline-block;

    @include media($desktop) {
      height: inherit;
    }
  }
}

.icam {
  .white-bar {
    padding: 0;
  }
}

form.button_to {
  input[type="submit"].cancel-link {
    color: $red;
    text-decoration: underline;
    &:focus {
      background: none !important;
      outline: 2px solid -webkit-focus-ring-color !important;
      outline-offset: 2px;
    }
  }

  input[type="submit"].upaya-button-secondary-blue {
    @include border-radius(8px);
    @include proxima(regular);
    font-size: 16px;
    padding: 15px 30px;
    &:focus {
      background: $accessibility-blue;
      outline: 25px auto -webkit-focus-ring-color !important;
      outline-offset: 2px !important;
      text-decoration: none;
    }
  }
}

.slide-panel {
  background-color: $lightgray_10;
  border-top: 2px solid $blue_10;
  color: $darkgray;
  display: none;
  padding: 10px;
}

.help-image-column {
  @include span-columns(6);

  img {
    height: auto;
    width: 100%;
  }
}

.help-text-column {
  @include span-columns(6);
  font-family: ProximaNovaRegular, Arial;
  font-size: 14px;
}

.help-label {
  font-size: 14px;
  font-weight: bold;
}

.icon-button {
  background: none;
  border: 0;
}

.upaya-button-secondary-blue:focus {
  // scss-lint:disable ImportantRule
  background-color: $accessibility-blue !important;
  // scss-lint:enable ImportantRule
}

.container:focus {
  outline: none;
}

$light-red: #fee;
$red: #f00;

.generating {
  background: $light-red;
  border: 1px solid $red;
  margin: 35px 5px 10px;
  padding: 10px 5px 5px;

  &:focus {
    outline: none;
  }
}

.narrow-button {
  max-width: 200px;
}

// scss-lint:disable QualifyingElement, SelectorFormat
// classname specified by Rails, not JScript. So we cannot control classname here.
// need to override setting in Style Guide, so need to be as specific as they are.
.button_to input[type='submit']:focus {
  text-decoration: underline;
}
// scss-lint:enable SelectorFormat, QualifyingElement

.strong {
  font-weight: bold;
}

.container {
  padding-top: 10px;
}

.hidden {
  visibility: hidden;
}
