<%= render(
      'idv/shared/error',
      heading: t('two_factor_authentication.webauthn_error.title'),
      options: [
        {
          text: t('links.contact_support', app_name: APP_NAME),
          url: MarketingSite.contact_url,
          new_tab: true,
        },
      ],
    ) do %>
  <p><%= t('two_factor_authentication.webauthn_error.error_page_text') %></p>
<% end %>
