br
= button_to(t('doc_auth.buttons.start_over'), idv_in_person_step_path(:reset), method: :put,
        class: 'btn btn-link', form_class: 'inline-block')
= render 'shared/cancel', link: idv_cancel_path
