-title t('in_person_proofing.titles.in_person_proofing')

h5.my1.caps.bold.accent-blue = t('in_person_proofing.step', step: 1)
br
h1.h3.my0 = t('in_person_proofing.headings.zip_code')

= simple_form_for(:in_person, url: url_for, method: 'PUT',
        html: { autocomplete: 'off', role: 'form', class: 'mt2' }) do |f|
  .clearfix.mxn1
    .sm-col.sm-col-6.px1.mt2
      = f.input :zip_code,
              label: t('in_person_proofing.forms.zip_code'), required: true,
              pattern: '^\d{5}$',
              input_html: { class: 'zip_code', value: '' }

  p = flow_session[:error_message]

  .mt0
    button type='submit' class='btn btn-primary btn-wide sm-col-6 col-12'
      = t('forms.buttons.continue')

= render 'idv/in_person/start_over_or_cancel'
