<% title t('titles.doc_auth.verify') %>

<h1 class="h3 margin-y-0">
  <%= t('in_person_proofing.headings.location') %>
</h1>

<%= validated_form_for :doc_auth,
                       url: url_for,
                       method: 'put',
                       html: { autocomplete: 'off', class: 'margin-y-5' } do |f| %>
  <%= f.button :button,
               t('doc_auth.buttons.continue'),
               type: :submit,
               class: 'usa-button--big usa-button--wide' %>
<% end %>
