<%
  form_name = form_obj.class.name.underscore.to_s
  form_name_label = form_name + "[otp_make_default_number]"
%>

<div class="margin-bottom-4">
  <fieldset class="margin-0 padding-0 border-none">
    <legend class="margin-bottom-1 h4 serif bold">
      <%= t('two_factor_authentication.otp_make_default_number.title') %>
    </legend>
    <p class="margin-top-0 margin-bottom-2" id="otp_make_default_number_instruction">
      <%= t('two_factor_authentication.otp_make_default_number.instruction') %>
    </p>
    <label class="btn-border col-8">
      <div class="checkbox">
        <%= check_box_tag form_name_label,
            :otp_make_default_number, form_obj.otp_make_default_number %>
        <span class="indicator"></span>
        <%= t('two_factor_authentication.otp_make_default_number.label') %>
      </div>
    </label>
  </fieldset>
</div>
