<%= render 'shared/alert', type: 'warning', class: 'margin-bottom-2' do %>
  <p>
    We are having trouble making phone calls to confirm phone numbers.
  </p>
  <p class='margin-bottom-0'>
    Phones can still be confirmed with an SMS message. If you are unable to
    receive SMS messages please choose a different authentication method.
  </p>
<% end %>
