<% form_name = form_obj.class.name.underscore.to_s
   form_name_label = form_name + '[otp_make_default_number]'
   form_name_tag = form_name + '_otp_make_default_number' %>

<div class="ads-checkbox">
  <%= check_box_tag(
        form_name_label,
        :otp_make_default_number,
        form_obj.otp_make_default_number,
        class: 'ads-checkbox__input',
      ) %>
  <%= label_tag(
        form_name_tag,
        t('two_factor_authentication.otp_make_default_number.label'),
        class: 'ads-checkbox__label',
      ) %>
</div>
