<% title t('titles.idv.reset_password') %>

<%= render StatusPageComponent.new(status: :info, icon: :question) do |c| %>
  <% c.header { t('idv.forgot_password.modal_header') } %>

  <ul class="usa-list">
    <% t('idv.forgot_password.warnings').each do |warning| %>
      <li><%= warning %></li>
    <% end %>
  </ul>

  <% c.action_button(
       action: ->(**tag_options, &block) do
         link_to(idv_review_path, **tag_options, &block)
       end,
     ) { t('idv.forgot_password.try_again') } %>

  <% c.action_button(
       action: ->(**tag_options, &block) do
         button_to(idv_forgot_password_path, method: :post, **tag_options, &block)
       end,
       outline: true,
     ) { t('idv.forgot_password.reset_password') } %>
<% end %>
