<%= render(
      layout: 'idv/shared/error',
      locals: {
        type: :question,
        title: t('titles.idv.reset_password'),
        heading: t('idv.forgot_password.modal_header'),
        action: {
          text: t('idv.forgot_password.try_again'),
          url: idv_review_path,
        },
        action_secondary: {
          text: t('idv.forgot_password.reset_password'),
          url: idv_forgot_password_path,
          method: :post,
        },
      },
    ) do %>
      <ul class="usa-list">
        <li><%= t('idv.forgot_password.warnings.warning_1') %></li>
        <li><%= t('idv.forgot_password.warnings.warning_2') %></li>
      </ul>
    <% end %>
