<div class="grid-row grid-gap grid-gap-2 padding-top-1">
  <div class='grid-col-fill'>
    <div class="padding-y-1">
      <h2 class="h4 margin-y-0"><%= t('headings.ssn') %></h2>
    </div>
    <%= t('idv.form.ssn') %>:
    <%= render(
          'shared/masked_text',
          text: SsnFormatter.format(@ssn),
          masked_text: SsnFormatter.format_masked(@ssn),
          accessible_masked_text: t(
            'idv.accessible_labels.masked_ssn',
            first_number: @ssn[0],
            last_number: @ssn[-1],
          ),
          toggle_label: t('forms.ssn.show'),
        ) %>
  </div>
  <div class='grid-auto'>
    <%= link_to(
          t('idv.buttons.change_label'),
          idv_in_person_ssn_url,
          'aria-label': t('idv.buttons.change_ssn_label'),
        ) %>
  </div>
</div>
