p An agency may not conduct or sponsor an information collection, and a person is not required to respond to a collection of information unless it displays a currently valid OMB control number. The public reporting burden for this information collection is estimated at .167 hour per response.  This time burden estimation includes the time for gathering the required documentation and information, reviewing the instructions, and completing and submitting the request.  Send comments regarding the burden estimate or any other aspect of this information collection, including suggestions for reducing this burden to:

p
  | <strong> U.S. Citizenship and Immigration Services<br /> Regulatory Coordination Division, Office of Policy and Strategy<br /> 20 Massachusetts Ave. N.W.<br /> Washington, D.C 20529-2140</strong><br /><br /> OMB Control No. 1615-0122. <br />Expiration Date: End of this month<br /><br /> Do not mail your completed request to this address.
