<% title t("idv.titles.no_id") %>

<%= image_tag(asset_url('alert/fail-x.svg'), width: 54, alt: '') %>

<h1 class="h3 mb1 mt3 my0">
  <%= t("idv.titles.no_id") %>
</h1>

<p>
  <%= t("idv.messages.jurisdiction.no_id_failure") %>
</p>

<%= render 'idv/shared/back_to_sp_link' %>
