- title @presenter.title

h1.h3.my0 = @presenter.heading
p.mt-tiny.mb3 = @presenter.info

= simple_form_for(@two_factor_options_form,
        html: { autocomplete: 'off', role: 'form' },
        method: :post,
        url: login_two_factor_options_path) do |f|
  .mb3
    fieldset.m0.p0.border-none.
      legend.mb2.serif.bold = @presenter.label
      - @presenter.options.each_with_index do |option, index|
        span id="select_#{option.type}" class="#{option.html_class}"
          label.btn-border.col-12.mb2 for="two_factor_options_form_selection_#{option.type}"
            .radio
              = radio_button_tag('two_factor_options_form[selection]',
                    option.type,
                    index.zero?,
                    class: option.html_class.to_s)
              span.indicator.mt-tiny
              span.blue.bold.fs-20p = option.label
              .regular.gray-dark.fs-10p.mb-tiny = option.info

  = f.button :submit, t('forms.buttons.continue')

br
- if @presenter.should_display_account_reset_or_cancel_link?
  - if current_user.decorate.identity_verified?
    p = @presenter.reverify_link
  - else
    p = @presenter.account_reset_or_cancel_link
= render 'shared/cancel', link: destroy_user_session_path

== javascript_pack_tag 'webauthn-unhide-signin'
