<% title t('inherited_proofing.headings.retrieval') %>

<%= render PageHeadingComponent.new.with_content(t('inherited_proofing.headings.retrieval')) %>

  <div class='margin-y-4 text-center'>
    <%= image_tag(
          asset_url('shield-spinner.gif'),
          alt: t('inherited_proofing.headings.retrieval'),
          width: 120,
          height: 120,
        ) %>
  </div>

<p><%= t('inherited_proofing.info.retrieval_time') %></p>
<p><%= t('inherited_proofing.info.retrieval_thanks') %></p>
