- title @presenter.heading
= image_tag asset_url(@presenter.image), width: 200, class: 'mb2'

h1.h3.my0 = @presenter.heading
p.mt-tiny.mb0 = @presenter.info

= render 'users/shared/phone_form',
        http_method: :patch,
        target_url: phone_setup_path,
        button: 'forms.buttons.send_security_code'

.mt2.pt1.border-top
  ruby:
    path = two_factor_options_path
  = link_to t('two_factor_authentication.choose_another_option'), path

  = stylesheet_link_tag 'intl-tel-number/intlTelInput'
  = javascript_pack_tag 'intl-tel-input'
