doctype xml
response
  say language="#{I18n.locale}"
    = @message
  - if @action_url
    gather numDigits="1" action=@action_url
      say language="#{I18n.locale}"
        = t('voice.otp.repeat_instructions')
  hangup /
