doctype xml
Response
  Say language="#{I18n.locale}"
    = @message
  - if @action_url
    Gather numDigits="1" action=@action_url
      Say language="#{I18n.locale}"
        = t('voice.otp.repeat_instructions')
  Hangup /
