<% title t('titles.doc_auth.verify') %>

<%= image_tag(asset_url('check-email.svg'), alt: '', width: 48) %>

<h1 class='h3 margin-bottom-2 margin-top-4 margin-y-0'>
  <%= t('recover.request.email_check') %>
</h1>

<p class='mt-tiny margin-bottom-0'>
  <%= t('recover.request.email_sent', email: current_user.email) %>
</p>
