- title t('doc_auth.titles.doc_auth')

= image_tag(asset_url('alert/warning.svg'), size: '60')

h1.h3.mb2.mt3.my0 = t('recover.request.reverify')
hr
h1.h3.mb2.mt3.my0 = t('recover.request.confirm_email')
= t('recover.request.instructions')
br
br
= form_for('', url: account_reset_recover_path, method: 'POST',
        html: { autocomplete: 'off', role: 'form', class: 'mt2' }) do |f|
  - f.simple_fields_for :doc_auth do
    button type='submit' class='btn btn-primary btn-wide sm-col-6 col-12'
      = t('forms.buttons.continue')

.mt2.pt1.border-top
  = link_to t('links.cancel'), idv_cancel_path, class: 'h5'
