- title 'Successfully set up first authentication method.'

= image_tag(asset_url('alert/success.svg'),
  alt: 'You successfully set up your first authentication method.', width: 90)

h1.h3.mb2.mt3.my0 = 'You successfully set up your first authentication method.'

.col-2
  hr.mt3.mb3.bw4.border-green.rounded

h2.h3.mb6.my0 = 'Next, you\'ll set up a backup method.'

= link_to t('forms.buttons.continue'), two_factor_options_path,
  class: 'btn btn-primary btn-wide sm-col-6 col-12'

.mt2.pt1.border-top
  = link_to t('links.cancel'), destroy_user_session_path, class: 'h5'
