- title t('titles.passwords.change')

h1.h3.my0 = t('headings.passwords.change')
= simple_form_for(@reset_password_form,
    url: user_password_path,
    html: { autocomplete: 'off',
    method: :put,
    role: 'form' }) do |f|
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  = f.input :password, label: t('forms.passwords.edit.labels.password'), required: true
  = render 'devise/shared/password_strength'
  = f.button :submit, t('forms.passwords.edit.buttons.submit'), class: 'mb3'

= render 'shared/password_accordion'

== javascript_pack_tag 'pw-strength'
