- title t('titles.passwords.forgot')
- request_id = params[:request_id] || sp_session[:request_id]

= render 'shared/sp_alert'

h1.h3.my0 = t('headings.passwords.forgot')
p.mt-tiny.mb0#email-description
  = t('instructions.password.forgot')
= simple_form_for(@password_reset_email_form,
                  url: user_password_path,
                  html: { autocomplete: 'off', method: :post, role: 'form' }) do |f|

  = f.input :email, required: true, input_html: { 'aria-describedby': 'email-description' }
  = f.input :request_id, as: :hidden, input_html: { value: request_id }
  = render 'shared/recaptcha'
  = f.button :submit, t('forms.buttons.continue'), class: 'mt2'

.mt2.pt1.border-top
  = link_to t('links.cancel'), decorated_session.cancel_link_url, class: 'h5'
