<div class='header-nav'>
  <div class='blue-bar'>
    <div class='wrapper margin-tablet-and-down'>
      <div class='left'>
        <%= image_tag "small-flag.png", alt: "American flag", class: 'flag' %>
      </div>
      <div class='right hidden-tablet-and-down'>
        <span class="skip-link">
          <a id='skip-nav' href="#maincontent" class="top-link no-underline">Skip to main content</a>
        </span>

      </div>
    </div>
  </div>
</div>


<div style="padding-bottom:10px"></div>
<div id="maincontent"></div>
