html { font-size: $base-font-size; }
body { -webkit-font-smoothing: antialiased; }

.monospace { font-family: $monospace-font-family; }
.sans-serif { font-family: $sans-serif-font-family; }
.serif { font-family: $serif-font-family; }

.text-decoration-none { text-decoration: none; }

.fs-12p { font-size: 12px; }
.fs-13p { font-size: 13px; }
.fs-20p { font-size: 20px; }

.caps {
  letter-spacing: $caps-letter-spacing;
  text-transform: uppercase;
}

.line-height-1 { line-height: $line-height-1; }
.line-height-4 { line-height: $line-height-4; }

// given how similar & coupled these are, single line preferred
h1, .h1 { font-size: $h1; }
h2, .h2 { font-size: $h2; }
h3 { font-size: $h3; }
h4, .h4 { font-size: $h4; }
h5, .h5 { font-size: $h5; }
h6, .h6 { font-size: $h6; }

@media #{$breakpoint-sm} {
  h1, .h1 { font-size: $sm-h1; }
  h2, .h2 { font-size: $sm-h2; }
  h3 { font-size: $sm-h3; }
  h4, .h4 { font-size: $sm-h4; }
  h5, .h5 { font-size: $sm-h5; }
  h6, .h6 { font-size: $sm-h6; }
}
