body {
  -webkit-font-smoothing: antialiased;
}

.text-wrap-anywhere {
  overflow-wrap: anywhere;
}

.fs-12p {
  font-size: 12px;
}
.fs-13p {
  font-size: 13px;
}
.fs-20p {
  font-size: 20px;
}

%h1 {
  line-height: 1.35;
  font-size: $h1;

  @include at-media('tablet') {
    font-size: $sm-h1;
  }
}

%h2 {
  line-height: 1.35;
  font-size: $h2;

  @include at-media('tablet') {
    font-size: $sm-h2;
  }
}

%h3 {
  line-height: $line-height;
  font-size: $h3;

  @include at-media('tablet') {
    font-size: $sm-h3;
  }
}

%h4 {
  line-height: $line-height;
  font-size: $h4;

  @include at-media('tablet') {
    font-size: $sm-h4;
  }
}

%h5 {
  line-height: $line-height;
  font-size: $h5;

  @include at-media('tablet') {
    font-size: $sm-h5;
  }
}

%h6 {
  line-height: $line-height;
  font-size: $h6;

  @include at-media('tablet') {
    font-size: $sm-h6;
  }
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

h5,
.h5 {
  @extend %h5;
}

h6,
.h6 {
  @extend %h6;
}

.separator-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.125rem;
  margin-top: 32px;
  margin-bottom: 16px;

  &::before,
  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid color('primary-light');
    flex-grow: 1;
    min-width: 2rem;
  }

  &::before {
    margin-right: 1rem;
  }

  &::after {
    margin-left: 1rem;
  }
}
