// supplemental utility classes

html.no-js .js {
  display: none;
}

html.js .no-js {
  display: none;
}

.scale-down {
  // trigger anti-aliasing in chrome
  backface-visibility: hidden;
  transform: scale(0.7);
}

@include at-media('tablet') {
  .sm-left-align {
    text-align: left;
  }
}

.half-center {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}
