// supplemental utility classes

.hidden { display: none; }

.truncate-inline {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.vertical-align::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.block-center {
  margin: 0 auto;
}

html.no-js .js {
  display: none;
}

html.js .no-js {
  display: none;
}

.scale-down {
  // trigger anti-aliasing in chrome
  backface-visibility: hidden;
  transform: scale(.7);
}

@media #{$breakpoint-sm} {
  .sm-left-align { text-align: left; }
  .sm-right-align { text-align: right; }
}

.half-center {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.flex-no-shrink {
  flex-shrink: 0;
}
