<% word_count = Identity::Hostdata.settings.recovery_code_length.to_i %>

<div class='margin-bottom-4'>
  <%= f.input attribute_name,
              label: t('simple_form.required.html') + t('forms.two_factor.personal_key'),
              input_html: { autocapitalize: 'none',
                            autocomplete: 'off',
                            class: 'personal-key caps',
                            maxlength: (RandomPhrase::WORD_LENGTH * word_count + (word_count - 1)),
                            required: true,
                            aria: { invalid: false },
                            spellcheck: 'false' } %>
</div>
