.mb3
  = f.input attribute_name,
    label: t('simple_form.required.html') + t('forms.two_factor.personal_key'),
    input_html: { autocapitalize: 'none',
      autocomplete: 'off',
      class: 'pkey caps',
      maxlength: (RandomPhrase::WORD_LENGTH * Figaro.env.recovery_code_length.to_i + 3),
      required: true,
      spellcheck: 'false' }
