<div class="border-y border-primary-light bg-primary-lightest padding-y-3 text-center">
  <div class="bg-personal-key padding-top-4 margin-y-2">
    <div class="personal-key-block">
      <% code.split('-').each do |word| %>
        <% concat(content_tag(:strong, word, class: 'personal-key-block__code', data: { personal_key: '' })) %>
      <% end %>
    </div>
  </div>
  <p class="margin-y-0">
    <%= t(
          'users.personal_key.generated_on_html',
          date: content_tag(:strong, I18n.l(Time.zone.today, format: '%B %d, %Y')),
        ) %>
  </p>
</div>
