<div class="border-y border-primary-light bg-primary-lightest padding-y-3 center">
  <h2 class="margin-y-0">
    <%= t('users.personal_key.header') %>
  </h2>
  <div class="bg-personal-key padding-top-4 margin-y-2">
    <div class="padding-x-0 tablet:padding-x-1 padding-y-2 separator-text bg-pk-box">
      <% code.split('-').each do |word| %>
        <strong class="separator-text__code monospace" data-personal-key><%= word %></strong>
      <% end %>
    </div>
  </div>
  <p class="margin-y-0">
    <%= t(
          'users.personal_key.generated_on_html',
          date: content_tag(:strong, I18n.l(Time.zone.today, format: '%B %d, %Y')),
        ) %>
  </p>
</div>
