<% self.title = t('titles.verify_email') %>

<%= render ADS::FormPageComponent.new(title: t('headings.verify_email')) do |page| %>
  <% page.with_body do %>
    <ul class="ads-list">
      <% t('account_reset.confirm_request.info_html', email: email, waiting_period: waiting_period).each do |info_p| %>
        <li><%= info_p %></li>
      <% end %>
      <% if sms_phone %>
        <li><%= t('account_reset.confirm_request.security_note') %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
