.accordion(
  class=(options[:wrapper_css] || 'mb4 col-12 fs-16p')
)
  .accordion-header(
    class=('display-none' if options[:hide_header])
    role="heading"
  )
    .accordion-header-controls.py1.px2.mt-tiny.mb-tiny(
      aria-controls="#{target_id}"
      aria-expanded="true"
      role="button"
      tabindex="0"
    )
      span.mb0.mr2
        = header_text
      = image_tag asset_url('plus.svg'), width: 16, class: 'plus-icon display-none'
      = image_tag asset_url('minus.svg'), width: 16, class: 'minus-icon display-none'
  .accordion-content.clearfix.pt1(
    id="#{target_id}"
    role="region"
    aria-hidden="true"
  )
    .px2
      = yield
    - unless options[:hide_close_link]
      .py1.accordion-footer(
        aria-controls="#{target_id}"
        tabindex="0"
      )
        .pb-tiny.pt-tiny
          = image_tag(asset_url('up-carat-thin.svg'), width: 14, class: 'mr1')
          = t('users.personal_key.close')
