<%#
locals:
* type: One of: "info", "success", "warning", "error", "other". Defaults to "info".
* text_tag: Optional override HTML tag for text content. Defaults to `p`.
* class: Additional class names to add to alert wrapper.
* message: Text to display in alert. Text can also be provided through block.
%>
<%
  type = local_assigns.fetch(:type, 'info')
  type = 'error' if type === 'alert'
  type = 'info' if type === 'notice'
  role = type === 'error' ? 'alert' : 'status'
  text_tag = local_assigns.fetch(:text_tag, 'p')

  classes = [
    'usa-alert',
    "usa-alert--#{type}",
  ]
  classes << local_assigns[:class] if local_assigns[:class]
  message = local_assigns.fetch(:message, yield.presence)
%>

<%= tag.div class: classes, role: role do %>
  <div class="usa-alert__body">
    <%= content_tag(text_tag, message, class: 'usa-alert__text') %>
  </div>
<% end %>
