<div class="usa-alert usa-alert--warning browser-unsupported-banner margin-bottom-2">
  <div class="usa-alert__body">
  <p class="usa-alert__text"><%= t('shared.banner.ie_not_supported', date:  I18n.l(IdentityConfig.store.ie11_support_end_date, format: :event_date)) %></p>
  </div>
</div>