.mt2.pt1.border-top
- if user_fully_authenticated?
  = link_to cancel_link_text, account_path, class: 'h5'
- else
  = link_to t('devise.two_factor_authentication.two_factor_choice_cancel'), two_factor_options_path
