<h2 class='separator-text'>
    <%= t('headings.create_account_with_sp.cta', app_name: APP_NAME) %>
</h2>
<%= render ButtonComponent.new(
      action: ->(**tag_options, &block) { link_to(sign_up_email_url(source: :sign_in), **tag_options, &block) },
      big: true,
      outline: true,
      full_width: true,
      class: 'margin-bottom-105',
    ).with_content(t('links.create_account')) %>
