<%#
locals:
* f: from validated_form_for
* selection: the current language selection
%>
<div class="margin-bottom-2 col-8">
  <ul class="usa-input-list">
    <%= f.select :email_language, I18n.available_locales.
        map {|locale| [t("i18n.locale.#{locale}"), locale.to_s]}, {},  class: 'usa-select col-6' %>
  </ul>
</div>
