- if decorated_session.sp_name
  hr
    .mb2.mt2
      .right = link_to image_tag(asset_url('carat-right.svg'), size: '10'),
        decorated_session.failure_to_proof_url, class: 'bold block btn-link text-decoration-none'
      - if request.path.starts_with?('/verify/')
        = link_to t('idv.failure.help.get_help_html', sp_name: decorated_session.sp_name),
          decorated_session.failure_to_proof_url, class: 'block btn-link text-decoration-none'
      - elsif decorated_session.sp_return_url
        = link_to t('links.back_to_sp', sp: decorated_session.sp_name),
          decorated_session.sp_return_url, class: 'block btn-link text-decoration-none'
  hr
