<div>
  <h2 class="h3 margin-top-4 margin-bottom-1">
    <%= @presenter.fallback_question %>
  </h2>
  <% if @presenter.link_path %>
    <%= link_to(@presenter.link_text, @presenter.link_path) %>
  <% end %>
</div>
