<% if @presenter.help_text.present? %>
  <p><%= @presenter.help_text %></p>
<% end %>
<h2 class="margin-top-4 margin-bottom-2">
  <%= @presenter.fallback_question %>
</h2>
<% if @presenter.link_path %>
  <%= link_to(@presenter.link_text, @presenter.link_path) %>
<% end %>
<br>
