- if flash.any?
  - flash.to_hash.slice("alert", "error", "notice", "success", "warning").each do |type, message|
      div class="alert alert-#{type}" role='alert'
        = safe_join([message.html_safe])
