footer.bg-navy.white
  .container.px2.py3
    .clearfix
      .sm-col.mb1.sm-m0
        = link_to \
          image_tag(asset_url('square-18f.svg'),
            alt: '18F',
            class: 'mr1 align-middle',
            width: 40), 'https://18f.gsa.gov/'
        = link_to \
          image_tag(asset_url('square-gsa.svg'),
            alt: 'GSA',
            class: 'align-middle',
            width: 40), 'http://www.gsa.gov/portal/category/100000'
      .sm-col-right.sm-right-align
        = link_to \
          image_tag(asset_url('logo-white.svg'),
            alt: APP_NAME,
            class: 'py1 align-middle',
            width: 172), root_path, class: 'inline-block'
