- nonce = content_security_policy_script_nonce

<script nonce="#{nonce}" src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
= stylesheet_link_tag 'ie8.css', media: 'all'
<script nonce="#{nonce}" src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
