<div class="location_search_skipped_notice">
  <h2 class="location_search_skipped_notice__heading">I18n.t('in_person_proofing.headings.po_search.location')</h2>
  <p class="location_search_skipped_notice__body">I18n.t('in_person_proofing.body.location.location_skipped_notice_html')</p>
  <a href="https://www.login.gov/help/verify-your-identity/verify-your-identity-in-person/find-a-participating-post-office/" class="location_search_skipped_notice__button usa-button">I18n.t('')</a>
</div>
<hr>
