<div class="location_search_skipped_notice text-center">
  <h2 class="location_search_skipped_notice__heading text-center margin-top-5 margin-bottom-4"><%= t('in_person_proofing.headings.po_search.location') %></h2>
  <p class="location_search_skipped_notice__body text-left margin-bottom-0"><%= t('in_person_proofing.body.location.location_skipped_notice_html') %></p>
  <a target="_blank" href="https://www.login.gov/help/verify-your-identity/verify-your-identity-in-person/find-a-participating-post-office/" class="location_search_skipped_notice__button usa-button margin-top-4 margin-bottom-4">
    <%= t('in_person_proofing.body.location.location_skipped_notice_button_text') %>
  </a>
</div>
<hr class="margin-top-0 margin-bottom-4">
