<section class="mailer-section">
  <h2 class="mailer-section__title"><%= t('in_person_proofing.headings.po_search.location') %></h2>
  <p class="mailer-text mailer-section__intro"><%= t('in_person_proofing.body.location.location_skipped_notice') %></p>
  <%= render 'shared/email/button',
             url: help_center_redirect_url(
               category: 'verify-your-identity',
               article: 'verify-your-identity-in-person/find-a-participating-post-office',
             ),
             text: t('in_person_proofing.body.location.location_skipped_notice_button_text') %>
</section>