<div class="modal-backdrop">
</div>
  <%= tag.div(role: 'dialog', 
      class: 'padding-x-2 padding-y-6 modal', 
      aria: { describedby: (description_id = SecureRandom.uuid), 
              labelledby: (label_id = SecureRandom.uuid) }) do %>
    <div class="modal-center">
      <div class="modal-content">
        <%= yield label_id, description_id %>
      </div>
    </div>
  <% end %>
</div>
