<div class="modal-backdrop">
</div>
  <%= tag.div(role: 'dialog', 
      class: 'padding-x-2 padding-y-6 modal', 
      aria: { describedby: local_assigns[:description_id], 
              labelledby: local_assigns[:label_id] }) do %>
    <div class="modal-center">
      <div class="modal-content">
        <%= yield %>
      </div>
    </div>
  <% end %>
</div>
