<div class="modal-backdrop">
</div>
<div   
  aria-describedby="dialog_description"
  aria-labelledby="dialog_label"
  class="padding-x-2 padding-y-6 modal"
  role="dialog" 
>
  <div class="modal-center">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>
</div>
