<%= image_tag(asset_url('logo.svg'), height: 15, width: 111, alt: APP_NAME) %>
<div class="margin-x-105 border-right border-primary-light"></div> <!-- TBD -->
<%= image_tag(decorated_session.sp_logo_url, height: 40, alt: decorated_session.sp_name) %>
