<%= image_tag(asset_url('logo.svg'), height: 15, width: 111, alt: APP_NAME) %>
<div class="margin-x-105 height-5 border-right border-primary-light"></div>
<%= image_tag(decorated_sp_session.sp_logo_url, height: 40, alt: decorated_sp_session.sp_name) %>
