nav.nav-nonbranded.vertical-align.bg-light-blue.center
  = link_to \
    image_tag(asset_url('logo.svg'), height: 14, alt: APP_NAME, class: 'align-middle'),
    root_path, class: 'inline-block align-middle'
