<nav class='nav-branded vertical-align bg-light-blue center relative'>
  <%= image_tag(
        asset_url('logo.svg'), height: 15, width: 111, alt: APP_NAME,
                               class: 'inline-block text-middle'
      ) %>
  <div class='px-12p inline-block'>
    <span class='absolute top-0 bottom-0 border-right border-primary-light margin-y-1 tablet:margin-y-2'></span>
  </div>
  <%= image_tag(
        decorated_session.sp_logo_url, height: 40,
                                       alt: decorated_session.sp_name, class: 'inline-block text-middle'
      ) %>
</nav>
