nav.nav-branded.vertical-align.bg-light-blue.center.relative
  = image_tag(asset_url('logo.svg'), height: 14,
    alt: APP_NAME, class: 'inline-block align-middle')
  .px-12p.inline-block
    span.absolute.top-0.bottom-0.border-right.my1.sm-my2
  = image_tag(decorated_session.sp_logo_url, height: 40,
    alt: decorated_session.sp_name, class: 'inline-block align-middle')
