<nav class='nav-nonbranded vertical-align bg-light-blue center'>
  <%= link_to root_path, class: 'inline-block align-middle' do %>
    <%= image_tag(asset_url('logo.svg'), height: 15, width: 111, alt: APP_NAME, class: 'align-middle') %>
  <% end %>
</nav>
