#personal-key-confirm.display-none
  = render layout: '/shared/modal_layout' do
    .py5.px2.sm-px5.cntnr-skinny.border-box.bg-white.rounded.rounded-lg.key-badge
      h3.mt0.mb2 = t('forms.personal_key.title')
      p.mb3 = t('forms.personal_key.instructions')

      #personal-key-alert.alert.alert-alert.display-none(role='alert')
        = t('users.personal_key.confirmation_error')

      form(id='confirm-key' method='post' action="#{update_path}" name="key-confirm")
        = render 'shared/personal_key_input', code: code
        = hidden_field_tag :authenticity_token, form_authenticity_token

        .clearfix.mxn2
          .col.col-12.sm-col-6.px2.mb2.sm-mb0.sm-hide
            button(type='submit' class='col-12 btn btn-primary personal-key-confirm')
              = t('forms.buttons.continue')
          .col.col-12.sm-col-6.px2
            button.col-12.btn.btn-outline.blue.rounded-lg(
              type="button"
              data-dismiss="personal-key-confirm"
            )
              = t('forms.buttons.back')
          .col.col-12.sm-col-6.px2.mb2.sm-mb0.sm-show
            button(type='submit' class='col-12 btn btn-primary personal-key-confirm')
              = t('forms.buttons.continue')
