<% if FeatureManagement.recaptcha_enabled?(session, true) %>
  <%
      script_src = SecureHeadersWhitelister.append_script_src([:unsafe_inline])
      controller.class.content_security_policy do |p|
        p.script_src *script_src
      end
   %>

  <%= javascript_tag '', nonce: true, src: 'https://www.google.com/recaptcha/api.js' %>

  <%= javascript_tag nonce: true do %>
    var onSubmit=function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    };
    window.onload=function(){grecaptcha.execute();}
  <% end %>

  <div id="recaptcha" class="g-recaptcha" data-sitekey="<%= AppConfig.env.recaptcha_site_key %>"
                                          data-callback="onSubmit" data-size="invisible">
  </div>
<% end %>
