<%#
yields: Button or link markup (required).
locals:
* action_message: Message describing the action being performed, shown visually to users when the
                  animation has been active for a long time, and immediately to users of assistive
                  technology.
* class: Additional class names to add to alert wrapper.
%>
<% content = yield.presence or raise 'no block content given'
   classes = ['spinner-button']
   classes << local_assigns[:class] if local_assigns[:class] %>
<%= tag.div class: classes do %>
  <div class="spinner-button__content">
    <%= content %>
    <span class="spinner-button__spinner" aria-hidden="true">
      <span class="spinner-button__spinner-dot"></span>
      <span class="spinner-button__spinner-dot"></span>
      <span class="spinner-button__spinner-dot"></span>
    </span>
  </div>
  <% if local_assigns[:action_message] %>
    <%= tag.div '',
                role: 'status',
                data: { message: action_message },
                class: 'spinner-button__action-message usa-sr-only' %>
  <% end %>
<% end %>
<% javascript_packs_tag_once 'spinner-button' %>
