<%#
yields: Button or link markup (required).
%>
<%
  content = yield.presence or raise "no block content given"
%>
<div class="spinner-button">
  <div class="spinner-button__content">
    <%= content %>
  </div>
  <%= image_tag asset_url('spinner.gif'),
                srcset: "#{asset_url('spinner@2x.gif')} 2x",
                height: 144,
                width: 144,
                alt: '',
                aria: { hidden: true },
                class: 'spinner-button__spinner usa-sr-only' %>
</div>
<% javascript_pack_tag_once 'spinner-button' %>
