<%#
yields: Step title (required).
locals:
* status: One of :complete, :pending, :current, :not_complete. Defaults to :not_complete.
%>
<% title = yield.presence or raise 'no block content given'
   status = local_assigns[:status] || :not_complete
   classes = ['step-indicator__step']
   classes << 'step-indicator__step--current' if local_assigns[:status] == :current
   classes << 'step-indicator__step--complete' if local_assigns[:status] == :complete %>

<%#
Using `aria-current="step"` would be the preferred method to indicate the current step, but at the
time of implementation, it is not announced correctly for `li` elements in iOS VoiceOver.

See: https://www.w3.org/TR/wai-aria-1.1/#aria-current
%>
<%= tag.li class: classes do %>
  <span class="step-indicator__step-title">
    <%= title %>
  </span>
  <%= tag.span class: status == :pending ? 'step-indicator__step-subtitle' : 'usa-sr-only' do %>
    <%= t(status, scope: [:step_indicator, :status]) %>
  <% end %>
<% end %>
