p
  | Please read these Terms of Use (“Terms”) carefully before accessing and using the Upaya. These Terms govern access to and use of Upaya.  Your access to and use of Upaya is conditioned on your acceptance of, and compliance, with the Terms contained herein. These Terms apply to all individuals, attorneys, accredited representatives and any other users who access, use, or create an account in Upaya and use this information technology (IT) resource (e.g., network, application, external drives that upload, process, store, receive, or transmit information).  By accessing or using Upaya, you agree to be bound by the terms and conditions noted below.
