- title t('idv.titles.activated')

h1.heading = t('idv.titles.activated')
- activated_link = link_to(t('idv.messages.activated_link'), Figaro.env.support_url)
p.mb1 = t('idv.messages.activated', link: activated_link).html_safe
= link_to 'Back', idv_url, class: 'underline'
