- title t('idv.titles.activated')

h1.h3.my0 = t('idv.titles.activated')
- activated_link = link_to(t('idv.messages.activated_link'), Figaro.env.support_url)
p.mt-tiny.mb0 = t('idv.messages.activated', link: activated_link).html_safe
= link_to 'Back', idv_url
