<% self.title = t('idv.titles.activated') %>

<%= render PageHeadingComponent.new.with_content(t('idv.titles.activated')) %>

<p class="margin-bottom-0">
  <%= t(
        'idv.messages.activated_html',
        link_html: link_to(t('idv.messages.activated_link'), MarketingSite.contact_url),
      ) %>
</p>
