<% title t('idv.titles.cancel') %>

<h1 class='margin-y-0'>
  <%= t('idv.titles.cancel') %>
</h1>

<p class='mt-tiny margin-bottom-0'>
  <%= t('idv.messages.cancel', app_name: APP_NAME) %>
</p>

<%= link_to t('forms.buttons.back'), idv_path %>
