- title t('idv.titles.hardfail')

h1.heading = t('idv.titles.hardfail')

p.mb1 = t('idv.messages.hardfail')
p.mb1 = t('idv.messages.hardfail2', hours: Figaro.env.idv_attempt_window_in_hours)
p.mb1 = t('idv.messages.hardfail3')
p.mb1 = t('idv.messages.hardfail4')
