<% self.title = 'Test Socure Document Capture' %>

<h1 class="text-center">Test Socure Document Capture</h1>

<%= render partial: 'session_controls', locals: {} %>

<div>
  <%=
    button_to(
      'Continue',
      @continue_path,
      class: 'usa-button usa-button--big usa-button--full-width',
    )
  %>
</div>
