<% title t('headings.verify_personal_key') %>

<%= render PageHeadingComponent.new.with_content(t('headings.verify_personal_key')) %>

<p>
  <%= t(
        'errors.verify_personal_key.rate_limited',
        timeout: distance_of_time_in_words(
          Time.zone.now,
          [@expires_at, Time.zone.now].compact.max,
          except: :seconds,
        ),
      ) %>
  <%= link_to(t('links.go_back'), account_path) %>.
</p>
