<% title t('headings.verify_personal_key') %>

<h1>
  <%= t('headings.verify_personal_key') %>
</h1>

<p>
  <%= t('errors.verify_personal_key.throttled') %> <%= link_to(t('links.go_back'), account_path) %>.
</p>
