$font-family:
  'Inter Variable',
  'Inter Web',
  -apple-system,
  blinkmacsystemfont,
  'Segoe UI',
  roboto,
  helvetica,
  arial,
  sans-serif;

$text-heading-xl: 72px;
$text-heading-xl-mobile: 44px;
$text-heading-l: 48px;
$text-heading-l-mobile: 36px;
$text-heading-m: 36px;
$text-heading-m-mobile: 32px;
$text-heading-s: 18px;
$text-heading-s-mobile: 18px;
$text-heading-section: 24px;

$text-body-m: 16px;
$text-body-m-mobile: 16px;
$text-body-s: 12px;
$text-body-s-mobile: 12px;

$text-label-m: 16px;
$text-label-m-mobile: 16px;
$text-label-s: 12px;
$text-label-s-mobile: 12px;

$font-semibold: 600;
$text-letter-spacing-heading: -1.08px;
$text-letter-spacing-heading-section: -0.48px;
$text-letter-spacing-label: -0.16px;
$text-line-height-none: 1;
