<% self.title = @device.nice_name %>

<div class="ads-history">
  <div class="ads-history__header">
    <%= render ButtonComponent.new(
          url: account_history_path,
          variant: :secondary,
          size: :sm,
          icon: :chevron_left,
          class: 'ads-history__back',
          'aria-label': t('account.dashboard.history.back_to_history'),
        ) %>

    <h1 class="ads-history__heading"><%= @device.nice_name %></h1>
  </div>

  <div class="ads-history__panel">
    <% if @events.any? %>
      <ul class="ads-history__rows">
        <%= render partial: 'accounts/history/event_row',
                   collection: @events,
                   as: :event,
                   locals: { title_tag: nil } %>
      </ul>
    <% else %>
      <p class="ads-history__empty"><%= t('account.history.no_activity') %></p>
    <% end %>
  </div>
</div>
