<% self.title = t('account_reset.cancel_request.title') %>

<%= render PageHeadingComponent.new.with_content(t('account_reset.pending.header')) %>

<p><%= t('account_reset.pending.confirm', interval: @account_reset_deletion_period_interval) %></p>

<%= render ButtonComponent.new(
      url: account_reset_pending_cancel_path,
      method: :post,
      class: 'margin-top-3 margin-bottom-2',
      wide: true,
      big: true,
    ).with_content(t('account_reset.pending.cancel_request')) %>

<div>
  <%= link_to(t('links.go_back'), account_reset_pending_path) %>
</div>
