<p><%= t('account_reset.pending.confirm') %></p>

<%= button_to(
    t('forms.buttons.continue'),
    account_reset_pending_cancel_path,
    class: 'usa-button margin-right-6',
    form_class: 'display-inline',
) %>

<%= link_to(
  t('links.go_back'),
  account_reset_pending_path,
  class: '',
) %>
