<h1 class="h3 my0">
  <%= t('account_reset.pending.header') %>
</h1>

<p>
  <%= t(
    'account_reset.pending.delete_and_recreate_html',
    interval: @pending_presenter.time_remaining_until_granted,
  ) %>
</p>

<p>
  <%= t(
    'account_reset.pending.cancel_html',
    click_here: button_to(
      t('account_reset.pending.click_here'),
      account_reset_pending_cancel_path,
      class: 'btn btn-link',
      form_class: 'display-inline',
    ),
  ) %>
</p>
