<% self.title = t('account_reset.pending.header') %>

<%= render PageHeadingComponent.new.with_content(t('account_reset.pending.header')) %>

<p>
  <%= t(
        'account_reset.pending.wait_html',
        waiting_period: @pending_presenter.account_reset_deletion_period,
        interval: @pending_presenter.time_remaining_until_granted,
      ) %>
</p>

<p>
  <%= t('account_reset.pending.cancel_request_prompt_html') %>
</p>

<%= render ButtonComponent.new(
      url: account_reset_pending_cancel_path,
      method: :post,
      class: 'margin-top-3 margin-bottom-2',
      wide: true,
      big: true,
    ).with_content(t('account_reset.pending.cancel_request')) %>
