<% self.title = t('account_reset.pending.header') %>

<%= render ADS::FormPageComponent.new(title: t('account_reset.pending.header')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p>
        <%= t(
              'account_reset.pending.wait_html',
              waiting_period: @pending_presenter.account_reset_deletion_period,
              interval: @pending_presenter.time_remaining_until_granted,
            ) %>
      </p>
    </div>

    <%= render AlertComponent.new(
          type: :warning,
          message: t('account_reset.pending.cancel_request_prompt_html'),
          dismissible: false,
        ) %>
  <% end %>

  <% page.with_actions do %>
    <%= render ButtonComponent.new(
          url: account_reset_pending_cancel_path,
          method: :post,
          variant: :primary,
        ).with_content(t('account_reset.pending.cancel_request')) %>
  <% end %>
<% end %>
