<% title @presenter.title %>

<h1 class="margin-y-0">
  <%= @presenter.heading %>
</h1>

<p class="margin-top-2 margin-bottom-2">
  <%= @presenter.description %>
</p>

<div class="margin-top-2 padding-top-1 border-top">
  <p>
    <% if MfaPolicy.new(current_user).two_factor_enabled? %>
      <%= link_to t('links.cancel'), account_path %>
    <% else %>
      <%= link_to t('two_factor_authentication.choose_another_option'), two_factor_options_path %>
    <% end %>
  </p>
</div>
