- title t('titles.piv_cac_setup.new')

h1.h3.my0 = t('headings.piv_cac_setup.new')
p.mt-tiny.mb3 = t('forms.piv_cac_setup.piv_cac_intro_html')

= link_to t('forms.piv_cac_setup.submit'),
              PivCacService.piv_cac_service_link(@piv_cac_nonce),
              class: 'btn btn-primary'
= render 'shared/cancel', link: account_path

== javascript_pack_tag 'clipboard'
