<% content_for(:pre_flash_content) do %>
  <%= render 'shared/step_indicator', {
        steps: Idv::Flows::DocAuthFlow::STEP_INDICATOR_STEPS,
        current_step: :secure_account,
        locale_scope: 'idv',
        class: 'margin-x-neg-2 margin-top-neg-4 tablet:margin-x-neg-6 tablet:margin-top-neg-4',
      } %>
<% end %>
<%= render(
      'idv/shared/error',
      title: t('titles.failure.information_not_verified'),
      heading: t('idv.failure.setup.heading'),
    ) do %>
  <p>
    <%= t('idv.failure.setup.fail_html', contact_form_link: link_to(t('idv.failure.setup.link_text'), IdentityConfig.store.idv_contact_url)) %>
  </p>
<% end %>
