<% title t('banned_user.title') %>

<%= image_tag('status/error.svg', alt: t('image_description.error'), class: 'display-block margin-bottom-4 lg-icon') %>
<%= render PageHeadingComponent.new.with_content(t('banned_user.title')) %>
<p>
  <%= t('banned_user.details') %>
</p>
