<% title t('banned_user.title') %>

<%= image_tag('status/error.svg', width: 88, alt: t('titles.icons.error.alt_text'), class: 'display-block margin-bottom-4') %>
<%= render PageHeadingComponent.new.with_content(t('banned_user.title')) %>
<p>
  <%= t('banned_user.details') %>
</p>
