<% title t('banned_user.title') %>

<%= render AlertIconComponent.new(:error, class: 'display-block margin-bottom-4') %>
<%= render PageHeadingComponent.new.with_content(t('banned_user.title')) %>
<p>
  <%= t('banned_user.details') %>
</p>
