- title t('titles.help')

h1 = t('titles.help')

h2 = t('headings.help.creating_account.title')

h3 = t('headings.help.creating_account.confirmation_email')

p = t('pages.help.creating_account.confirmation_email')

h3 = t('headings.help.creating_account.confirmation_passcode')

p = t('pages.help.creating_account.confirmation_passcode')

h3 = t('headings.help.creating_account.mobile_phone')

p = t('pages.help.creating_account.mobile_phone')

h3 = t('headings.help.creating_account.dont_want_to_use')

p = t('pages.help.creating_account.dont_want_to_use.paragraph_1')

p = t('pages.help.creating_account.dont_want_to_use.paragraph_2')

h2 = t('headings.help.verifying_account.title')

h3 = t('headings.help.verifying_account.what_verification')

h3 = t('headings.help.verifying_account.why_verified')

h3 = t('headings.help.verifying_account.how_verify')

h3 = t('headings.help.verifying_account.what_verify')

h3 = t('headings.help.verifying_account.personal_info')

h3 = t('headings.help.verifying_account.financial_info')

h3 = t('headings.help.verifying_account.ss_number')

h3 = t('headings.help.verifying_account.cant_verify')

h3 = t('headings.help.verifying_account.account_not_verified')

h3 = t('headings.help.verifying_account.phone_number')

h2 = t('headings.help.signing_in.title')

h3 = t('headings.help.signing_in.forgot_email')

h3 = t('headings.help.signing_in.forgot_password')

h3 = t('headings.help.signing_in.miss_passcode')

h3 = t('headings.help.signing_in.lose_phone')

h3 = t('headings.help.signing_in.log_out')

h3 = t('headings.help.signing_in.forgot_codes')

h2 = t('headings.help.changing_settings.title')

h3 = t('headings.help.changing_settings.change_password')

h3 = t('headings.help.changing_settings.change_email')

h3 = t('headings.help.changing_settings.edit_profile')

h2 = t('headings.help.privacy_security.title')

h3 = t('headings.help.privacy_security.protect_data')

h3 = t('headings.help.privacy_security.2fa')

h3 = t('headings.help.privacy_security.third_party')

h3 = t('headings.help.privacy_security.remove_saved')

h2 = t('headings.help.questions.title')

p = t('pages.help.questions.paragraph_1')
