- title t('titles.help')

h1 = t('titles.help')

h3 = t('pages.help.what_is_login_gov.question_1', app: APP_NAME)

p = t('pages.help.what_is_login_gov.answer_1', app: APP_NAME)

p = t('pages.help.what_is_login_gov.answer_2_html',
      app: APP_NAME,
      general_services_administration_link: link_to(t('pages.help.what_is_login_gov.general_services_administration_link'), 'https://gsa.gov'))

h2 = t('pages.help.creating_account.title')

h3 = t('pages.help.creating_account.question_1', app: APP_NAME)

p = t('pages.help.creating_account.answer_1', app: APP_NAME)

h4 = t('pages.help.creating_account.answer_1_heading_1')

p = t('pages.help.creating_account.answer_1_part_1', app: APP_NAME)

h4 = t('pages.help.creating_account.answer_1_heading_2')

p = t('pages.help.creating_account.answer_1_part_2')

h4 = t('pages.help.creating_account.answer_1_heading_3')

p = t('pages.help.creating_account.answer_1_part_3_step_1')

p = t('pages.help.creating_account.answer_1_part_3_step_2')

p = t('pages.help.creating_account.answer_1_part_3_step_3', app: APP_NAME)

h4 = t('pages.help.creating_account.answer_1_heading_4')

p = t('pages.help.creating_account.answer_1_part_4')

h3 = t('pages.help.creating_account.question_2')

p = t('pages.help.creating_account.answer_2', app: APP_NAME)

h3 = t('pages.help.creating_account.question_3')

p = t('pages.help.creating_account.answer_3', app: APP_NAME)

h3 = t('pages.help.creating_account.question_4', app: APP_NAME)

p = t('pages.help.creating_account.answer_4')

ul
  li = t('pages.help.creating_account.answer_4_part_1_html', create_a_new_account_link: link_to(t('pages.help.creating_account.create_a_new_account_link'), sign_up_email_path))
  li = t('pages.help.creating_account.answer_4_part_2')

h3 = t('pages.help.creating_account.question_5')

p = t('pages.help.creating_account.answer_5')

ul

  li = t('pages.help.creating_account.answer_5_part_1_html', update_phone_number_link: link_to(t('pages.help.creating_account.update_phone_number_link'), manage_phone_path))

  li = t('pages.help.creating_account.answer_5_part_2_html', resend_confirmation_link: link_to(t('pages.help.creating_account.resend_confirmation_link'), '#'))

h3 = t('pages.help.creating_account.question_6', app: APP_NAME)

p = t('pages.help.creating_account.answer_6', app: APP_NAME)

h3 = t('pages.help.creating_account.question_7', app: APP_NAME)

p = t('pages.help.creating_account.answer_7_part_1', app: APP_NAME)

p = t('pages.help.creating_account.answer_7_part_2', app: APP_NAME)

h3 = t('pages.help.creating_account.question_8')

p = t('pages.help.creating_account.answer_8_part_1', app: APP_NAME)

p = t('pages.help.creating_account.answer_8_part_2')

p = t('pages.help.creating_account.answer_8_part_3', app: APP_NAME)

h3 = t('pages.help.creating_account.question_9')

p = t('pages.help.creating_account.answer_9')

h2 = t('pages.help.signing_in.title')

h3 = t('pages.help.signing_in.question_1')

p = t('pages.help.signing_in.answer_1', app: APP_NAME)

h3 = t('pages.help.signing_in.question_2')

p = t('pages.help.signing_in.answer_2_part_1')

p = t('pages.help.signing_in.answer_2_part_2', app: APP_NAME)

h3 = t('pages.help.signing_in.question_3')

p = t('pages.help.signing_in.answer_3')

h3 = t('pages.help.signing_in.question_4')

p = t('pages.help.signing_in.answer_4_part_1')

p = t('pages.help.signing_in.answer_4_part_2')

h3 = t('pages.help.signing_in.question_5')

p = t('pages.help.signing_in.answer_5_part_1')

p = t('pages.help.signing_in.answer_5_part_2')

p = t('pages.help.signing_in.answer_5_part_3')

h3 = t('pages.help.signing_in.question_6')

p = t('pages.help.signing_in.answer_6_part_1')

p = t('pages.help.signing_in.answer_6_part_2')

h3 = t('pages.help.signing_in.question_7')

p = t('pages.help.signing_in.answer_7_part_1')

p = t('pages.help.signing_in.answer_7_part_2')

p = t('pages.help.signing_in.answer_7_part_3')

h2 = t('pages.help.changing_settings.title')

h3 = t('pages.help.changing_settings.question_1')

p = t('pages.help.changing_settings.answer_1_part_1_html', app: link_to(APP_NAME, root_url))

p = t('pages.help.changing_settings.answer_1_part_2')

h3 = t('pages.help.changing_settings.question_2')

p = t('pages.help.changing_settings.answer_2', app: APP_NAME)

h3 = t('pages.help.changing_settings.question_3')

p = t('pages.help.changing_settings.answer_3', app: APP_NAME)

h2 = t('pages.help.privacy_and_security.title')

h3 = t('pages.help.privacy_and_security.question_1', app: APP_NAME)

p = t('pages.help.privacy_and_security.answer_1_part_1', app: APP_NAME)

p = t('pages.help.privacy_and_security.answer_1_part_2', app: APP_NAME)

p = t('pages.help.privacy_and_security.answer_1_part_3_html', nist_link: link_to(t('pages.help.privacy_and_security.nist_link'), 'https://www.nist.gov/'))

p = t('pages.help.privacy_and_security.answer_1_part_4_html',
  info_at_login_mailto: link_to('info@login.gov', 'mailto:info@login.gov'), security_privacy_policy_link: link_to(t('pages.help.privacy_and_security.security_privacy_policy_link'), privacy_path))

h3 = t('pages.help.privacy_and_security.question_2', app: APP_NAME)

p = t('pages.help.privacy_and_security.answer_2', app: APP_NAME)

h3 = t('pages.help.privacy_and_security.question_3')

p = t('pages.help.privacy_and_security.answer_3_part_1')

p = t('pages.help.privacy_and_security.answer_3_part_2')

p = t('pages.help.privacy_and_security.answer_3_part_3')

p = t('pages.help.privacy_and_security.answer_3_part_4')

h3 = t('pages.help.privacy_and_security.question_4')

p = t('pages.help.privacy_and_security.answer_4_part_1', app: APP_NAME)

ul

  li = link_to(t('pages.help.privacy_and_security.chrome'), 'https://support.google.com/chrome/answer/95606')

  li = link_to(t('pages.help.privacy_and_security.firefox'), 'https://support.mozilla.org/kb/password-manager-remember-delete-change-passwords#w_viewing-and-deleting-passwords')

  li = link_to(t('pages.help.privacy_and_security.internet_explorer'), 'https://support.microsoft.com/en-us/help/17499/windows-internet-explorer-11-remember-passwords-fill-out-web-forms#ie=ie-11')

  li = link_to(t('pages.help.privacy_and_security.safari'), 'http://help.apple.com/safari/mac/8.0/#/ibrw1103')

p = t('pages.help.privacy_and_security.answer_4_part_2')

h3 = t('pages.help.privacy_and_security.question_5')

p = t('pages.help.privacy_and_security.answer_5_part_1')

p = t('pages.help.privacy_and_security.answer_5_part_2_html', info_at_login_mailto: link_to('info@login.gov', 'mailto:info@login.gov'), app: APP_NAME)
