- title t('titles.privacy_policy')

p = t('pages.privacy_policy.paragraph_1')

h1.h3.mt0.mb1 = t('headings.privacy_policy.security_practices')

p = t('pages.privacy_policy.paragraph_2')

p = t('pages.privacy_policy.paragraph_3')

h1.h3.mt0.mb1 = t('headings.privacy_policy.privacy_practices')

p = t('pages.privacy_policy.paragraph_4')

p = t('pages.privacy_policy.paragraph_5')

h2.h4.mt0.mb2 = t('headings.privacy_policy.privacy_act')

h3.h5.mt0.mb1 = t('headings.privacy_policy.authorities')

p = t('pages.privacy_policy.paragraph_6_html', \
      e_government_link: link_to( \
        t('pages.privacy_policy.e_government_link'), \
        'https://www.gpo.gov/fdsys/pkg/PLAW-107publ347/html/PLAW-107publ347.htm'))

h3.h5.mt0.mb1 = t('headings.privacy_policy.purpose')

p = t('pages.privacy_policy.paragraph_7')

h3.h5.mt0.mb1 = t('headings.privacy_policy.disclosure')

p = t('pages.privacy_policy.paragraph_8')

h3.h5.mt0.mb1 = t('headings.privacy_policy.routine_uses')

p = t('pages.privacy_policy.paragraph_9_html', \
      systems_of_record_notices_link: link_to( \
        t('pages.privacy_policy.systems_of_record_notices'), '#'))

h3.h5.mt0.mb1 = t('headings.privacy_policy.more_information')

p = t('pages.privacy_policy.paragraph_10_html', \
  contact_form_link: link_to(t('pages.privacy_policy.contact_form_link'), contact_path))
