- title t('titles.privacy_policy')

h1.h3.mt0.mb1 = t('headings.privacy_policy.security_consent')
p.mb4 = t('pages.privacy_policy.security_consent')
h1.h3.mt0.mb1 = t('headings.privacy_policy.privacy_act')
p.mb4 = t('pages.privacy_policy.privacy_act')
= link_to t('links.create_account'), new_user_registration_path,
  class: 'btn btn-primary btn-wide mb1'
