- title t('titles.privacy_policy')

h1.h2.mt0.mb1 = t('titles.privacy_policy')

p = t('pages.privacy_policy.paragraph_1')

h2.h3.mt0.mb1 = t('headings.privacy_policy.security_practices')

p = t('pages.privacy_policy.paragraph_2')

p = t('pages.privacy_policy.paragraph_3')

h2.h3.mt0.mb1 = t('headings.privacy_policy.privacy_practices')

p = t('pages.privacy_policy.paragraph_4')

p = t('pages.privacy_policy.paragraph_5')

h3.h4.mt0.mb2 = t('headings.privacy_policy.privacy_act')

h4.h5.mt0.mb1 = t('headings.privacy_policy.authorities')

p = t('pages.privacy_policy.paragraph_6_html', \
      e_government_link: link_to( \
        t('pages.privacy_policy.e_government_link'), \
        'https://www.gpo.gov/fdsys/pkg/PLAW-107publ347/html/PLAW-107publ347.htm', target: '_blank'))

h4.h5.mt0.mb1 = t('headings.privacy_policy.purpose')

p = t('pages.privacy_policy.paragraph_7')

h4.h5.mt0.mb1 = t('headings.privacy_policy.disclosure')

p = t('pages.privacy_policy.paragraph_8')

h4.h5.mt0.mb1 = t('headings.privacy_policy.routine_uses')

p = t('pages.privacy_policy.paragraph_9_html', \
      systems_of_record_notices_link: link_to( \
        t('pages.privacy_policy.systems_of_record_notices'), 'https://www.federalregister.gov/documents/2017/01/19/2017-01174/privacy-act-of-1974-notice-of-a-new-system-of-records', target: '_blank'))

h4.h5.mt0.mb1 = t('headings.privacy_policy.more_information')

p = t('pages.privacy_policy.paragraph_10_html', \
  contact_form_link: link_to(t('pages.privacy_policy.contact_form_link'), contact_path))
