- title t('forms.backup_code.title')

= render 'partials/step_indicator', presenter: @presenter
h1.h3.my0.mt0 = t('forms.backup_code.subtitle')
= t('users.backup_code.generated_on_html',
        date: content_tag(:strong, I18n.l(Time.zone.today, format: '%B %d, %Y')))
br
br
.inline-block.mb3 == t('forms.backup_code.subinfo')
.mb4
  table
    tr
      td.p0
        code.bold.h2
          - @codes[0..@codes.length / 2 - 1].each do |code|
            = code.upcase.insert(8, '-').insert(4, '-')
            br
            br
      td
        code.bold.h2
          - @codes[@codes.length / 2..-1].each do |code|
            = code.upcase.insert(8, '-').insert(4, '-')
            br
            br
  .mt0
    - if desktop_device?
      = link_to t('forms.backup_code.download'), backup_code_download_path,
        class: 'text-decoration-none ico btn-border ico-download'
    = link_to t('forms.backup_code.print'), '#',
      data: { print: true },
      class: 'ico ico-print btn-border ml2 text-decoration-none'
    = link_to t('links.copy'), '#',
      class: 'text-decoration-none ml2 clipboard btn-border ico ico-copy',
      data: { "clipboard-text": @codes.join(' ') }

= form_tag(backup_code_continue_path, method: :patch, role: 'form') do
  .clearfix.mxn1
    .col.col-6.sm-col-5.px1
      = button_tag t('forms.buttons.continue'), type: 'submit', class: 'btn btn-primary btn-wide'

== javascript_pack_tag 'clipboard'
