- title t('forms.backup_code_regenerate.confirm')

= image_tag(asset_url('alert/warning-lg.svg'),
        alt: t('forms.backup_code_regenerate.confirm'), width: 54)

h1.h3.mb1.mt3.my0 = t('forms.backup_code_regenerate.confirm')

.col-2.mb2
  hr class="mt3 mb2 bw4 rounded border-yellow"

p.mb4 == t('forms.backup_code_regenerate.caution')

= form_tag(backup_code_setup_path, method: :patch, role: 'form') do
  = button_tag t('account.index.backup_code_confirm_regenerate'), type: 'submit',
                 class: 'btn btn-primary col-6 mb2 p2 rounded-lg center'
= link_to t('links.cancel'), account_path,
          class: 'btn p2 rounded-lg border border-blue blue center'
