<% self.title = t('forms.backup_code.are_you_sure_title') %>

<%= render PageHeadingComponent.new.with_content(t('forms.backup_code.are_you_sure_title')) %>

<% t('forms.backup_code.are_you_sure_desc_html').each do |desc_p| %>
  <p><%= desc_p %></p>
<% end %>

<%= button_to(
      backup_code_setup_path,
      method: :patch,
      class: 'usa-button usa-button--big usa-button--wide',
      form_class: 'margin-y-5',
    ) { t('forms.buttons.continue') } %>

<%= render 'shared/cancel_or_back_to_options' %>
