<div class='padding-left-1 sm-col sm-col-3'>
  <div class='spinner hidden' id='submit-spinner'>
    <%= image_tag(
      asset_url('wait.gif'),
      srcset: asset_url('wait.gif'),
      height: 50,
      width: 50,
      alt: t('image_description.spinner'))
    %>
  </div>
</div>
