<%#
locals:
* hide_start_over: Whether to omit the "Start Over" link
%>
<div class="margin-top-4">
  <% if !local_assigns[:hide_start_over] %>
    <%= button_to(
          idv_session_path,
          method: :delete,
          class: 'usa-button usa-button--unstyled',
        ) { t('doc_auth.buttons.start_over') } %>
  <% end %>
  <%= render 'shared/cancel', link: idv_cancel_path(step: local_assigns[:step]) %>
</div>
