- title t('doc_auth.titles.doc_auth')

= image_tag(asset_url('state-id-confirm@3x.png'),
        alt: t('idv.titles.session.success'), width: 210)

h1.h3.mb2.mt3.my0 = t('doc_auth.instructions.email_sent', email: current_user.email)

= render 'idv/doc_auth/start_over_or_cancel'
