- title t('doc_auth.titles.doc_auth')

h1.h3.my0 = t('doc_auth.headings.text_message')
br
.clearfix.mxn1
  .sm-col.sm-col-3.px1 = image_tag asset_url('idv/phone.png')
  .sm-col.sm-col-9.px1.h1.h2.mb2.mt0.my0 = t('doc_auth.info.link_sent')

.mt0
br
= button_to(t('forms.buttons.continue'), url_for, method: :put,
    class: 'btn btn-primary btn-wide sm-col-6 col-12')
br
= render 'idv/doc_auth/start_over_or_cancel'
