<%= render(
      'idv/shared/error',
      type: :warning,
      title: t('doc_auth.errors.no_camera.title'),
      heading: t('doc_auth.errors.no_camera.heading'),
    ) do %>
  <p>
    <%= t('doc_auth.info.upload') %>
  </p>

  <p class="text-bold">
    <%= t('doc_auth.errors.no_camera.explanation', app_name: APP_NAME) %>
  </p>

  <%= render 'idv/doc_auth/cancel', step: 'no_camera' %>
<% end %>
