-title t('doc_auth.titles.doc_auth')

h1.h3.my0 = t('doc_auth.headings.ssn')

= simple_form_for(:doc_auth, url: url_for, method: 'PUT',
        html: { autocomplete: 'off', role: 'form', class: 'mt2' }) do |f|
  .clearfix.mxn1
    .sm-col.sm-col-6.px1.mt2
      / using :tel for mobile numeric keypad
      = f.input :ssn, as: :tel,
              label: t('idv.form.ssn_label_html'), required: true,
              pattern: '^\d{3}-?\d{2}-?\d{4}$',
              input_html: { class: 'ssn', value: '' }

  p = flow_session[:error_message]

  .mt0
    button type='submit' class='btn btn-primary btn-wide sm-col-6 col-12'
      = t('forms.buttons.continue')

= render 'idv/doc_auth/start_over_or_cancel'
