- title t('doc_auth.titles.doc_auth')

h1.h3.mt0.mb1 = t('doc_auth.headings.upload')
= t('doc_auth.info.upload')

.mt2.mb3 = link_to t('idv.messages.jurisdiction.no_id'), idv_jurisdiction_failure_path(:no_id)
-if Figaro.env.cac_proofing_enabled == 'true' && desktop_device?
  .mt2.mb3 = t('doc_auth.info.use_cac_html', link: link_to(t('doc_auth.info.use_cac_link'),
          idv_cac_step_path(step: :choose_method)))
hr

.clearfix.mt3.mb3
  .sm-col.sm-col-3 = image_tag asset_url('idv/phone.png', alt: "camera flashing on a mobile phone"), width: 80
  .usa-tag.caps.text-ink.bg-primary-lighter.margin-top-1.display-inline-block = t('doc_auth.info.tag')
  .sm-col.sm-col-9
    .bold.h1.margin-y-105 = t('doc_auth.headings.upload_from_phone')
    = t('doc_auth.info.upload_from_phone')
    br
    = simple_form_for(:doc_auth, url: url_for(type: :mobile),
            method: 'PUT', html: { autocomplete: 'off', role: 'form', class: 'mt2' }) do
      button type='submit' class='btn btn-primary margin-top-05'
        = t('doc_auth.buttons.use_phone')

hr

.clearfix.mt3.mb3
  .sm-col.sm-col-12
    = t('doc_auth.info.upload_from_computer')
    = link_to t('doc_auth.info.upload_computer_link'), idv_doc_auth_step_get_url(type: :desktop)
    
    // = simple_form_for(:doc_auth, url: url_for(type: :desktop),
      method: 'PUT', html: { autocomplete: 'off', role: 'form', class: 'mt2' }) do
      button type='submit' class='btn btn-primary'
        = t('doc_auth.buttons.use_computer')

= render 'idv/doc_auth/start_over_or_cancel'
== javascript_pack_tag 'image-preview'
