<%= link_to setup_piv_cac_url, class: 'btn btn-account-action rounded-lg bg-light-blue add-piv' do %>
  <span class="hide">
    <%= t('account.index.piv_cac_card') %>
  </span>
  <%= prefix_with_plus(t('forms.buttons.enable')) %>
<% end %>
