# This file is used by the Figaro gem: https://github.com/laserlemon/figaro

# Be sure to restart your server when you modify this file.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Make sure any new entries you add are enclosed in single quotes.
# Figaro requires all values to be explicit strings.

email_from: 'no-reply@login.gov'
idv_max_attempts: '3'
idv_attempt_window_in_hours: '24'
mailer_domain_name: 'http://localhost:3000'

# The scores 0, 1, 2, 3 or 4 are given when the number of guesses to crack the
# password are less than 10^3, 10^6, 10^8, 10^10, and >= 10^10 respectively.
# Default minimum is 4 (best).
# https://github.com/dropbox/zxcvbn#usage
min_password_score: '3'

password_max_attempts: '3'

# If a queue does not have a healthy job after this many seconds, report it as unhealthy
queue_health_check_dead_interval_seconds: '240'

# How often to enqueue simple jobs to make sure the background queues are running
queue_health_check_frequency_seconds: '120'

# The number of words in the recovery code phrase
recovery_code_length: '5'

# Set the number of seconds before the session times out that the timeout
# warning should appear.
# NOTE: session_timeout_warning_seconds + session_check_delay % 60 should == 0
session_timeout_warning_seconds: '150'
# Set the number of seconds in which to delay the start of the session check.
# NOTE: session_timeout_warning_seconds + session_check_delay % 60 should == 0
session_check_delay: '30'
# Set the frequency of the session check call in seconds.
# NOTE: session_timeout_warning_seconds + session_check_frequency % 60 should == 0
session_check_frequency: '30'

stale_session_window: '180'

support_email: 'hello@login.gov'
use_dashboard_service_providers: 'false'
dashboard_url: 'https://dashboard.demo.login.gov'
valid_authn_contexts: '["http://idmanagement.gov/ns/assurance/loa/1", "http://idmanagement.gov/ns/assurance/loa/3"]'

development:
  allow_third_party_auth: 'true'
  attribute_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  attribute_encryption_key: '2086dfbd15f5b0c584f3664422a1d3409a0d2aa6084f65b6ba57d64d4257431c124158670c7655e45cabe64194f7f7b6c7970153c285bdb8287ec0c4f7553e25'
  attribute_encryption_key_queue: '["old-key-one", "old-key-two"]'
  aws_kms_key_id: 'alias/login-dot-gov-development-keymaker'
  aws_region: 'us-east-1'
  dashboard_url: 'http://localhost:3001/api/service_providers'
  domain_name: 'localhost:3000'
  enable_test_routes: 'true'
  equifax_avs_username: 'sekret'
  equifax_eid_username: 'sekret'
  equifax_endpoint: 'sekret'
  equifax_password: 'sekret'
  equifax_phone_username: 'sekret'
  hmac_fingerprinter_key: 'a2c813d4dca919340866ba58063e4072adc459b767a74cf2666d5c1eef3861db26708e7437abde1755eb24f4034386b0fea1850a1cb7e56bff8fae3cc6ade96c'
  hmac_fingerprinter_key_queue: '["old-key-one", "old-key-two"]'
  idp_sso_target_url: 'https://upaya-mockidp.18f.gov/saml/auth'
  logins_per_ip_limit: '20'
  logins_per_ip_period: '8'
  newrelic_license_key: 'xxx'
  newrelic_browser_key: ''
  newrelic_browser_app_id: ''
  otp_delivery_blocklist_bantime: '30'
  otp_delivery_blocklist_findtime: '15'
  otp_delivery_blocklist_maxretry: '3'
  otp_valid_for: '5'
  password_pepper: 'f22d4b2cafac9066fe2f4416f5b7a32c6942d82f7e00740c7594a095fa8de8db17c05314be7b18a5d6dd5683e73eadf6cc95aa633e5ad9a701edb95192a6a105'
  password_strength_enabled: 'true'
  proofing_vendors: 'mock'
  rack_mini_profiler: 'off'
  reauthn_window: '60'
  redis_url: 'redis://localhost:6379/0'
  requests_per_ip_limit: '300'
  requests_per_ip_period: '300'
  saml_passphrase: 'trust-but-verify'
  scrypt_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  secret_key_base: 'development_secret_key_base'
  session_encryption_key: '27bad3c25711099429c1afdfd1890910f3b59f5a4faec1c85e945cb8b02b02f261ba501d99cfbb4fab394e0102de6fecf8ffe260f322f610db3e96b2a775c120'
  session_timeout_in_minutes: '15'
  telephony_disabled: 'true'
  twilio_accounts: '[{"sid":"sid", "auth_token":"token", "number":"9999999999"}]'
  twilio_record_voice: 'true'
  use_dashboard_service_providers: 'true'
  use_kms: 'false'
  valid_service_providers: '["https://rp1.serviceprovider.com/auth/saml/metadata", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-rails", "https://dashboard.login.gov", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-micropurchase", "urn:gov:gsa:openidconnect:development"]'
  enable_i18n_mode: 'false'

production:
  allow_third_party_auth: 'true'
  attribute_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  attribute_encryption_key: 'generate via `rake secret`'
  attribute_encryption_key_queue: '["old-key-one", "old-key-two"]'
  aws_kms_key_id: 'change-me'
  aws_region: 'change-me'
  domain_name: 'example.com'
  enable_test_routes: 'false'
  equifax_avs_username: 'sekret'
  equifax_eid_username: 'sekret'
  equifax_endpoint: 'sekret'
  equifax_password: 'sekret'
  equifax_phone_username: 'sekret'
  google_analytics_key: 'UA-XXXXXXXXX-YY'
  hmac_fingerprinter_key: 'generate via `rake secret`'
  hmac_fingerprinter_key_queue: '["old-key-one", "old-key-two"]'
  idp_sso_target_url: 'example.com/saml/auth'
  logins_per_ip_limit: '20'
  logins_per_ip_period: '8'
  newrelic_license_key: 'xxx'
  newrelic_browser_key: ''
  newrelic_browser_app_id: ''
  otp_delivery_blocklist_bantime: '30'
  otp_delivery_blocklist_findtime: '15'
  otp_delivery_blocklist_maxretry: '3'
  otp_valid_for: '5'
  participate_in_dap: 'false'
  password_pepper: 'generate via `rake secret`'
  password_strength_enabled: 'true'
  proxy_addr: '123.456.789'
  proxy_port: '80'
  reauthn_window: '60'
  redis_url: 'redis://localhost:6379/0'
  requests_per_ip_limit: '300'
  requests_per_ip_period: '300'
  saml_passphrase: 'trust-but-verify'
  scrypt_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  secret_key_base: 'generate via `rake secret`'
  session_encryption_key: 'generate via `rake secret`'
  session_timeout_in_minutes: '8'
  smtp_settings: '{"address":"smtp.mandrillapp.com", "port":587, "authentication":"login", "enable_starttls_auto":true, "user_name":"user@gmail.com","password":"xxx"}'
  twilio_accounts: '[{"sid":"sid", "auth_token":"token", "number":"9999999999"}]'
  twilio_record_voice: 'false'
  use_kms: 'false'
  valid_service_providers: '["https://upaya-dev.18f.gov", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:dev", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:demo", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:rails-dev", "urn:gov:gsa:SAML:2.0.profiles:sp:sso:rails-demo", "https://dashboard.demo.login.gov", "https://dashboard.qa.login.gov", "https://dashboard.dev.login.gov", "urn:gov:gsa:saml:2.0.profiles:sp:sso:micropurchase-staging", "urn:gov:gsa:saml:2.0.profiles:sp:sso:micropurchase-production"]'
  enable_i18n_mode: 'false'

test:
  allow_third_party_auth: 'true'
  attribute_cost: '800$8$1$' # SCrypt::Engine.calibrate(max_time: 0.01)
  attribute_encryption_key: '2086dfbd15f5b0c584f3664422a1d3409a0d2aa6084f65b6ba57d64d4257431c124158670c7655e45cabe64194f7f7b6c7970153c285bdb8287ec0c4f7553e25'
  attribute_encryption_key_queue: '["old-key-one", "old-key-two"]'
  aws_kms_key_id: 'alias/login-dot-gov-test-keymaker'
  aws_region: 'us-east-1'
  domain_name: 'www.example.com'
  ducksboard_uid: '8VEQre2c8b62mQV0sa'
  enable_test_routes: 'true'
  equifax_avs_username: 'sekret'
  equifax_eid_username: 'sekret'
  equifax_endpoint: 'sekret'
  equifax_password: 'sekret'
  equifax_phone_username: 'sekret'
  hmac_fingerprinter_key: 'a2c813d4dca919340866ba58063e4072adc459b767a74cf2666d5c1eef3861db26708e7437abde1755eb24f4034386b0fea1850a1cb7e56bff8fae3cc6ade96c'
  hmac_fingerprinter_key_queue: '["old-key-one", "old-key-two"]'
  idp_sso_target_url: 'http://identityprovider.example.com/saml/auth'
  logins_per_ip_limit: '2'
  logins_per_ip_period: '60'
  newrelic_license_key: 'xxx'
  otp_delivery_blocklist_bantime: '1'
  otp_delivery_blocklist_findtime: '1'
  otp_delivery_blocklist_maxretry: '2'
  otp_valid_for: '5'
  password_pepper: 'f22d4b2cafac9066fe2f4416f5b7a32c6942d82f7e00740c7594a095fa8de8db17c05314be7b18a5d6dd5683e73eadf6cc95aa633e5ad9a701edb95192a6a105'
  password_strength_enabled: 'false'
  proofing_vendors: 'mock'
  reauthn_window: '60'
  redis_url: 'redis://localhost:6379/0'
  requests_per_ip_limit: '3'
  requests_per_ip_period: '60'
  saml_passphrase: 'trust-but-verify'
  scrypt_cost: '800$8$1$' # SCrypt::Engine.calibrate(max_time: 0.01)
  secret_key_base: 'test_secret_key_base'
  session_encryption_key: '27bad3c25711099429c1afdfd1890910f3b59f5a4faec1c85e945cb8b02b02f261ba501d99cfbb4fab394e0102de6fecf8ffe260f322f610db3e96b2a775c120'
  session_timeout_in_minutes: '8'
  twilio_accounts: '[{"sid":"sid1", "auth_token":"token1", "number":"9999999999"}, {"sid":"sid2", "auth_token":"token2", "number":"2222222222"}]'
  twilio_record_voice: 'true'
  use_kms: 'false'
  valid_service_providers: '["http://localhost:3000", "https://rp1.serviceprovider.com/auth/saml/metadata", "https://rp2.serviceprovider.com/auth/saml/metadata", "http://test.host", "urn:gov:gsa:openidconnect:test"]'
  enable_i18n_mode: 'false'
