# This file is used by the Figaro gem: https://github.com/laserlemon/figaro

# Be sure to restart your server when you modify this file.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Make sure any new entries you add are enclosed in single quotes.
# Figaro requires all values to be explicit strings.

email_from: 'no-reply@login.gov'
idv_max_attempts: '3'
idv_attempt_window_in_hours: '24'
mailer_domain_name: 'http://localhost:3000'
max_mail_events: '4'
max_mail_events_window_in_days: '30'

# The scores 0, 1, 2, 3 or 4 are given when the number of guesses to crack the
# password are less than 10^3, 10^6, 10^8, 10^10, and >= 10^10 respectively.
# Default minimum is 4 (best).
# https://github.com/dropbox/zxcvbn#usage
min_password_score: '3'

password_max_attempts: '3'

# If a queue does not have a healthy job after this many seconds, report it as unhealthy
queue_health_check_dead_interval_seconds: '60'

# How often to enqueue simple jobs to make sure the background queues are running
queue_health_check_frequency_seconds: '30'

# The number of words in the personal key phrase
recovery_code_length: '4'

# Set the number of seconds before the session times out that the timeout
# warning should appear.
# NOTE: session_timeout_warning_seconds + session_check_delay % 60 should == 0
session_timeout_warning_seconds: '150'
# Set the number of seconds in which to delay the start of the session check.
# NOTE: session_timeout_warning_seconds + session_check_delay % 60 should == 0
session_check_delay: '30'
# Set the frequency of the session check call in seconds.
# NOTE: session_timeout_warning_seconds + session_check_frequency % 60 should == 0
session_check_frequency: '30'

stale_session_window: '180'

use_dashboard_service_providers: 'false'
dashboard_url: 'https://dashboard.demo.login.gov'
valid_authn_contexts: '["http://idmanagement.gov/ns/assurance/loa/1", "http://idmanagement.gov/ns/assurance/loa/3"]'

usps_mail_batch_hours: '24'

development:
  async_job_refresh_interval_seconds: '5'
  async_job_refresh_max_wait_seconds: '15'
  attribute_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  attribute_encryption_key: '2086dfbd15f5b0c584f3664422a1d3409a0d2aa6084f65b6ba57d64d4257431c124158670c7655e45cabe64194f7f7b6c7970153c285bdb8287ec0c4f7553e25'
  attribute_encryption_key_queue: '["old-key-one", "old-key-two"]'
  available_locales: 'en es fr'
  aws_kms_key_id: 'alias/login-dot-gov-development-keymaker'
  aws_region: 'us-east-1'
  basic_auth_user_name: 'user'
  basic_auth_password: 'secret'
  dashboard_api_token: 'test_token'
  dashboard_url: 'http://localhost:3001/api/service_providers'
  database_host: ''
  database_name: ''
  database_password: ''
  database_username: ''
  domain_name: 'localhost:3000'
  enable_identity_verification: 'true'
  enable_test_routes: 'true'
  enable_usps_verification: 'true'
  equifax_avs_username: 'sekret'
  equifax_development_example_gpg_passphrase: 'sekret'
  equifax_eid_username: 'sekret'
  equifax_endpoint: 'sekret'
  equifax_gpg_email: 'logs@login.gov'
  equifax_password: 'sekret'
  equifax_phone_username: 'sekret'
  equifax_sftp_directory: '/directory'
  equifax_sftp_host: 'example.com'
  equifax_sftp_username: 'user'
  equifax_ssh_passphrase: 'sekret'
  exception_recipients: 'test1@test.com'
  hmac_fingerprinter_key: 'a2c813d4dca919340866ba58063e4072adc459b767a74cf2666d5c1eef3861db26708e7437abde1755eb24f4034386b0fea1850a1cb7e56bff8fae3cc6ade96c'
  hmac_fingerprinter_key_queue: '["old-key-one", "old-key-two"]'
  issuers_with_email_nameid_format: ''
  lockout_period_in_minutes: '10'
  logins_per_ip_limit: '20'
  logins_per_ip_period: '8'
  newrelic_browser_key: ''
  newrelic_browser_app_id: ''
  newrelic_license_key: ''
  otp_delivery_blocklist_findtime: '5'
  otp_delivery_blocklist_maxretry: '10'
  otp_valid_for: '5'
  password_pepper: 'f22d4b2cafac9066fe2f4416f5b7a32c6942d82f7e00740c7594a095fa8de8db17c05314be7b18a5d6dd5683e73eadf6cc95aa633e5ad9a701edb95192a6a105'
  password_strength_enabled: 'true'
  phone_proofing_vendor: 'mock'
  profile_proofing_vendor: 'mock'
  rack_mini_profiler: 'off'
  reauthn_window: '120'
  redis_url: 'redis://localhost:6379/0'
  requests_per_ip_limit: '300'
  requests_per_ip_period: '300'
  saml_passphrase: 'trust-but-verify'
  scrypt_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  secret_key_base: 'development_secret_key_base'
  session_encryption_key: '27bad3c25711099429c1afdfd1890910f3b59f5a4faec1c85e945cb8b02b02f261ba501d99cfbb4fab394e0102de6fecf8ffe260f322f610db3e96b2a775c120'
  session_timeout_in_minutes: '15'
  telephony_disabled: 'true'
  twilio_accounts: '[{"sid":"sid", "auth_token":"token", "number":"9999999999"}]'
  twilio_record_voice: 'true'
  use_dashboard_service_providers: 'true'
  use_kms: 'false'
  usps_confirmation_max_days: '10'
  enable_i18n_mode: 'false'
  enable_load_testing_mode: 'false'

production:
  async_job_refresh_interval_seconds: '5'
  async_job_refresh_max_wait_seconds: '15'
  attribute_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  attribute_encryption_key: # generate via `rake secret`
  attribute_encryption_key_queue: # '["old-key-one", "old-key-two"]'
  available_locales: 'en es fr'
  aws_kms_key_id:
  aws_region:
  basic_auth_user_name:
  basic_auth_password:
  disable_email_sending: 'false'
  dashboard_api_token:
  domain_name: 'login.gov'
  enable_identity_verification: 'false'
  enable_test_routes: 'false'
  enable_usps_verification: 'false'
  equifax_avs_username:
  equifax_development_example_gpg_passphrase:
  equifax_eid_username:
  equifax_endpoint:
  equifax_gpg_email:
  equifax_password:
  equifax_phone_username:
  equifax_sftp_directory: # '/directory'
  equifax_sftp_host: # 'example.com'
  equifax_sftp_username:
  equifax_ssh_passphrase:
  exception_recipients: 'user1@example.com,user2@example.com'
  google_analytics_key: # 'UA-XXXXXXXXX-YY'
  hmac_fingerprinter_key: # generate via `rake secret`
  hmac_fingerprinter_key_queue: # '["old-key-one", "old-key-two"]'
  issuers_with_email_nameid_format: 'sp1,sp2'
  lockout_period_in_minutes: '10'
  logins_per_ip_limit: '20'
  logins_per_ip_period: '8'
  mandrill_api_token: '' # Empty string to switch to SES
  newrelic_browser_key: ''
  newrelic_browser_app_id: ''
  newrelic_license_key: ''
  otp_delivery_blocklist_findtime: '5'
  otp_delivery_blocklist_maxretry: '10'
  otp_valid_for: '5'
  participate_in_dap: 'false' # pair with google_analytics_key
  password_pepper: # generate via `rake secret`
  password_strength_enabled: 'true'
  phone_proofing_vendor: 'mock'
  profile_proofing_vendor: 'mock'
  reauthn_window: '120'
  redis_url: 'redis://redis.login.gov.internal:6379'
  requests_per_ip_limit: '300'
  requests_per_ip_period: '300'
  saml_passphrase:
  scrypt_cost: '4000$8$4$' # SCrypt::Engine.calibrate(max_time: 0.5)
  secret_key_base: # generate via `rake secret`
  session_encryption_key: # generate via `rake secret`
  session_timeout_in_minutes: '8'
  twilio_accounts: # '[{"sid":"sid", "auth_token":"token", "number":"9999999999"}]'
  twilio_record_voice: 'false'
  use_kms: 'true'
  usps_confirmation_max_days: '30'
  enable_i18n_mode: 'false'
  enable_load_testing_mode: 'false'

test:
  async_job_refresh_interval_seconds: '1'
  async_job_refresh_max_wait_seconds: '15'
  attribute_cost: '800$8$1$' # SCrypt::Engine.calibrate(max_time: 0.01)
  attribute_encryption_key: '2086dfbd15f5b0c584f3664422a1d3409a0d2aa6084f65b6ba57d64d4257431c124158670c7655e45cabe64194f7f7b6c7970153c285bdb8287ec0c4f7553e25'
  attribute_encryption_key_queue: '["old-key-one", "old-key-two"]'
  available_locales: 'en es fr'
  aws_kms_key_id: 'alias/login-dot-gov-test-keymaker'
  aws_region: 'us-east-1'
  basic_auth_user_name: 'user'
  basic_auth_password: 'secret'
  domain_name: 'www.example.com'
  database_host: ''
  database_name: ''
  database_password: ''
  database_username: ''
  dashboard_api_token: '123ABC'
  enable_identity_verification: 'true'
  enable_test_routes: 'true'
  enable_usps_verification: 'true'
  equifax_avs_username: 'sekret'
  equifax_development_example_gpg_passphrase: 'sekret'
  equifax_eid_username: 'sekret'
  equifax_endpoint: 'sekret'
  equifax_gpg_email: 'logs@login.gov'
  equifax_password: 'sekret'
  equifax_phone_username: 'sekret'
  equifax_sftp_directory: '/directory'
  equifax_sftp_host: 'example.com'
  equifax_sftp_username: 'user'
  equifax_ssh_passphrase: 'sekret'
  exception_recipients: 'test1@test.com'
  hmac_fingerprinter_key: 'a2c813d4dca919340866ba58063e4072adc459b767a74cf2666d5c1eef3861db26708e7437abde1755eb24f4034386b0fea1850a1cb7e56bff8fae3cc6ade96c'
  hmac_fingerprinter_key_queue: '["old-key-one", "old-key-two"]'
  issuers_with_email_nameid_format: 'https://rp1.serviceprovider.com/auth/saml/metadata'
  lockout_period_in_minutes: '5'
  logins_per_ip_limit: '2'
  logins_per_ip_period: '60'
  max_mail_events: '2'
  otp_delivery_blocklist_findtime: '1'
  otp_delivery_blocklist_maxretry: '2'
  otp_valid_for: '5'
  password_pepper: 'f22d4b2cafac9066fe2f4416f5b7a32c6942d82f7e00740c7594a095fa8de8db17c05314be7b18a5d6dd5683e73eadf6cc95aa633e5ad9a701edb95192a6a105'
  password_strength_enabled: 'false'
  phone_proofing_vendor: 'mock'
  profile_proofing_vendor: 'mock'
  reauthn_window: '120'
  redis_url: 'redis://localhost:6379/0'
  requests_per_ip_limit: '3'
  requests_per_ip_period: '60'
  saml_passphrase: 'trust-but-verify'
  scrypt_cost: '800$8$1$' # SCrypt::Engine.calibrate(max_time: 0.01)
  secret_key_base: 'test_secret_key_base'
  session_encryption_key: '27bad3c25711099429c1afdfd1890910f3b59f5a4faec1c85e945cb8b02b02f261ba501d99cfbb4fab394e0102de6fecf8ffe260f322f610db3e96b2a775c120'
  session_timeout_in_minutes: '8'
  twilio_accounts: '[{"sid":"sid1", "auth_token":"token1", "number":"9999999999"}, {"sid":"sid2", "auth_token":"token2", "number":"2222222222"}]'
  twilio_record_voice: 'true'
  use_kms: 'false'
  usps_confirmation_max_days: '10'
  enable_i18n_mode: 'false'
  enable_load_testing_mode: 'false'
