postgresql: &postgresql
  adapter: postgresql
  encoding: utf8
  database: upaya_<%= Rails.env %>
  port: 5432

defaults: &defaults
  pool: 5
  timeout: 5000
  host: localhost
  <<: *postgresql

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
