postgresql: &postgresql
  adapter: postgresql
  encoding: utf8
  database: upaya_<%= Rails.env %>
  port: 5432

sqlite: &sqlite
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

defaults: &defaults
  pool: 5
  timeout: 5000
  host: localhost

  <<: *postgresql

development:
  <<: *<%= ENV['DB'] || "sqlite" %>

test:
  <<: *defaults

production:
  <<: *defaults
