<% require 'production_database_configuration' %>

postgresql: &postgresql
  adapter: postgresql
  encoding: utf8
  database: upaya_<%= Rails.env %>
  port: 5432
  username: <%= ENV['DOCKER_DB_USER'] %>

defaults: &defaults
  host: <%= ENV['DOCKER_DB_HOST'] || 'localhost' %>
  pool: 5
  <<: *postgresql
  # timeout settings
  timeout: <%= IdentityConfig.store.database_timeout %>
  reconnect: true
  connect_timeout: 2
  keepalives_idle: 10
  keepalives_interval: 10
  keepalives_count: 2
  checkout_timeout: 5
  reaping_frequency: 10
  variables:
    statement_timeout: <%= IdentityConfig.store.database_statement_timeout %>

development:
  <<: *defaults

test:
  <<: *defaults
  pool: 10
  checkout_timeout: 10
  database: upaya_test<%= ENV['TEST_ENV_NUMBER'] %>

production:
  <<: *defaults
  database: <%= AppConfig.env.database_name %>
  username: <%= ProductionDatabaseConfiguration.username %>
  host: <%= ProductionDatabaseConfiguration.host %>
  password: <%= ProductionDatabaseConfiguration.password %>
  pool: <%= ProductionDatabaseConfiguration.pool %>
  sslmode: 'verify-full'
  sslrootcert: '/usr/local/share/aws/rds-combined-ca-bundle.pem'
