# i18n-tasks finds and manages missing and unused translations: https://github.com/glebm/i18n-tasks

# The "main" locale.
base_locale: en
## All available locales are inferred from the data by default. Alternatively, specify them explicitly:
# locales: [es, fr]
## Reporting locale, default: en. Available: en, ru.
# internal_locale: en

# Read and write translations.
data:
  ## Translations are read from the file system. Supported format: YAML, JSON.
  ## Provide a custom adapter:
  # adapter: I18n::Tasks::Data::FileSystem

  # Locale files or `File.find` patterns where translations are read from:
  read:
    - config/locales/%{locale}.yml
    - config/locales/**/*.%{locale}.yml
    - config/locales/**/%{locale}.yml

  # Locale files to write new keys to, based on a list of key pattern => file rules. Matched from top to bottom:
  # `i18n-tasks normalize -p` will force move the keys according to these rules
  write:
    ## For example, write devise and simple form keys to their respective files:
    # - ['{devise, simple_form}.*', 'config/locales/\1.%{locale}.yml']
    ## Catch-all default:
    # - config/locales/%{locale}.yml

  ## Specify the router (see Readme for details). Valid values: conservative_router, pattern_router, or a custom class.
  # router: convervative_router

  yaml:
    write:

  ## Pretty-print JSON:
  # json:
  #   write:
  #     indent: '  '
  #     space: ' '
  #     object_nl: "\n"
  #     array_nl: "\n"

# Find translate calls
search:
  ## Paths or `File.find` patterns to search in:
  # paths:
  #  - app/

  ## Root directories for relative keys resolution.
  relative_roots:
    - app/decorators
    - app/views
  #   - app/controllers
  #   - app/helpers
  #   - app/mailers
  #   - app/presenters

  ## Files or `File.fnmatch` patterns to exclude from search. Some files are always excluded regardless of this setting:
  ##   %w(*.jpg *.png *.gif *.svg *.ico *.eot *.otf *.ttf *.woff *.woff2 *.pdf *.css *.sass *.scss *.less *.yml *.json)
  exclude:
    - app/assets/images
    - app/assets/fonts
    - app/views/shared/newrelic/_browser_instrumentation.html.erb
    - app/javascript/app/local-time.js
    - app/javascript/packages/rails-i18n-webpack-plugin
    - app/javascript/packages/i18n

  ## Alternatively, the only files or `File.fnmatch patterns` to search in `paths`:
  ## If specified, this settings takes priority over `exclude`, but `exclude` still applies.
  # only: ["*.rb", "*.html.slim"]
  ## If `strict` is `false`, guess usages such as t("categories.#{category}.title"). The default is `true`.
  # strict: true
  ## Multiple scanners can be used. Their results are merged.
  ## The options specified above are passed down to each scanner. Per-scanner options can be specified as well.
  ## See this example of a custom scanner: https://github.com/glebm/i18n-tasks/wiki/A-custom-scanner-example

## Google Translate
# translation:
#   # Get an API key and set billing info at https://code.google.com/apis/console to use Google Translate
#   api_key: "AbC-dEf5"

## Do not consider these keys missing:
ignore_missing:
# - 'errors.messages.{accepted,blank,invalid,too_short,too_long}'
# - '{devise,simple_form}.*'

## Consider these keys used:
## The i18n-tasks gem is not able to detect that localizations with dynamic keys
## are being used: https://github.com/glebm/i18n-tasks#dynamic-keys
## We are ignoring them because they are indeed used, but the gem thinks they are
## not, and if we didn't ignore them, the spec that makes sure that we don't have
## any unused translations would fail erroneously.
ignore_unused:
  - 'account.login.piv_cac_info.*'
  - 'datetime.dotiw.two_words_connector'
  - 'devise.failure.*'
  - 'devise.mailer.reset_password_instructions.subject'
  - 'devise.sessions.signed_in'
  - 'errors.messages.*'
  - 'forms.two_factor_choice.legend'
  - 'forms.two_factor_recovery_choice.legend'
  - 'jobs.sms_otp_sender_job.login_message'
  - 'jobs.sms_otp_sender_job.verify_message'
  - 'service_providers.*'
  - 'simple_form.*'
  - 'step_indicator.flows.*'
  - 'time.*'
  - 'two_factor_authentication.invalid_otp'
  - 'two_factor_authentication.invalid_personal_key'
  - 'two_factor_authentication.invalid_piv_cac'
  - 'two_factor_authentication.max_backup_code_login_attempts_reached'
  - 'two_factor_authentication.max_generic_login_attempts_reached'
  - 'two_factor_authentication.max_otp_login_attempts_reached'
  - 'two_factor_authentication.max_otp_requests_reached'
  - 'two_factor_authentication.max_personal_key_login_attempts_reached'
  - 'two_factor_authentication.max_piv_cac_login_attempts_reached'
  - 'two_factor_authentication.phone_sms_info_html'
  - 'two_factor_authentication.phone_sms_label'
  - 'two_factor_authentication.phone_voice_info_html'
  - 'two_factor_authentication.phone_voice_label'
  - 'two_factor_authentication.please_try_again_html'
  - 'two_factor_authentication.read_about_two_factor_authentication.link'
  - 'two_factor_authentication.read_about_two_factor_authentication.text_html'
  - 'user_mailer.email_confirmation_instructions.subject'
  - 'valid_email.validations.email.invalid'
  - 'errors.attributes.*'
# - 'simple_form.{yes,no}'
# - 'simple_form.{placeholders,hints,labels}.*'
# - 'simple_form.{error_notification,required}.:'

## Exclude these keys from the `i18n-tasks eq-base' report:
# ignore_eq_base:
#   all:
#     - common.ok
#   fr,es:
#     - common.brand

## Ignore these keys completely:
# ignore:
#  - kaminari.*

## Sometimes, it isn't possible for i18n-tasks to match the key correctly,
## e.g. in case of a relative key defined in a helper method.
## In these cases you can use the built-in PatternMapper to map patterns to keys, e.g.:
#
# <%#= I18n::Tasks.add_scanner 'I18n::Tasks::Scanners::PatternMapper',
#        only: %w(*.html.haml *.html.slim),
#        patterns: [['= title\b', '.page_title']] %>
#
# The PatternMapper can also match key literals via a special %{key} interpolation, e.g.:
#
# <%#= I18n::Tasks.add_scanner 'I18n::Tasks::Scanners::PatternMapper',
#        patterns: [['\bSpree\.t[( ]\s*%{key}', 'spree.%{key}']] %>
