# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e1dfd52b4cf2ce7d416cd5c99b1344c7bf56a44567f5230836e4089faf6f099cefc3d761430de52f63bdf1365f6b2ac948f467ecb1f731d74bf72ed5aae82dd9
  security_questions:
  - 'Where is Waldo?'
  - 'Who are you?'
  - 'What is the meaning of life?'
  - 'Are we there yet?'
  - 'Who is on first?'
  # Configure multiple accounts that will randomly be chosen to handle
  # large traffic situations.
  twilio_accounts:
    - sid: xxx
      auth_token: xxx
      number: 9999999999
  saml_cert: |
    -----BEGIN CERTIFICATE-----
    MIIFgzCCA2ugAwIBAgIJAJLpRpEOYZuWMA0GCSqGSIb3DQEBCwUAMFgxCzAJBgNV
    BAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMQswCQYDVQQHDAJEQzEMMAoGA1UE
    CgwDMThGMRkwFwYDVQQDDBB0ZXN0LmlkcC4xOGYuZ292MB4XDTE2MDQxOTE3Mzcx
    OVoXDTE3MDQxOTE3MzcxOVowWDELMAkGA1UEBhMCVVMxEzARBgNVBAgMCldhc2hp
    bmd0b24xCzAJBgNVBAcMAkRDMQwwCgYDVQQKDAMxOEYxGTAXBgNVBAMMEHRlc3Qu
    aWRwLjE4Zi5nb3YwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC5H8gf
    9TFFmDTnhJp6DGsQ+0R0IovfcVrfV/+GRMtb1nVzw3AZfrLR30bkg69YyjR3lQBv
    F/1y1dip38jnVBPKaQikKEpz353m0OH3Krvc9h97FAN8b1HPIxmwMuPvAv6Nc4Ow
    MbHdz6EgfVE+7si7FDwnW2gGbiHMTSYHDnsHmag16BCxtevtwopvYC+PMUFODjZn
    pMbFSFNhirTrkBku1hnFUGNZNHXgjYTC/Trb0MsXV8wP+5l09NlUTpidwhd7/KRo
    jAMCBGu+TsQoZS1SrS1ew/BwCQpSoE16B3nXG6J45QYxwXmUj4lfx3jk3zXb6bZM
    QDaNDRE/LyLV8e1FldIcKe4cUXswHgKAcIheoxPyz9uXL1qZQYHsD/aaTLWUgCt2
    cODUfbZAWVYzjLIhQhxhDe3F2W2otTDklNESFBpzdJKEqd3rwIEzyKY7lNagN/V9
    jsx7fK4/vQayREwk754gNIuPjcHiKpb5SD6lVP7OYQu58EV/PlbAzCrGNYJ3qNXa
    yllmR07Ui+2lgHuPeNWifZG4YUKtdO0h2qcd/ekopJ4UavKA6KGQRtjzNHsU4rAn
    OFbybPxspkebe4EUyaYzLjs+6PWN56h+vdXgW07GVnJzuxwa/QSYnArgjfCTKDG/
    sbvUjHtdeqMi8zo3KkphJlJSIAlKp/dJntCBYwIDAQABo1AwTjAdBgNVHQ4EFgQU
    MZeb4LDjPn6r+AbkLB4cW4L9ke0wHwYDVR0jBBgwFoAUMZeb4LDjPn6r+AbkLB4c
    W4L9ke0wDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAsbS1SRGPwO+V
    J0L0vCeUL3wtO5aKLwhY7r3PiB6PLkfDGuHrmVOeafGvCn5tco11ZcddjteE509O
    zbeZnTsvwznGtQpbEhLKy3UwBYpt20TEfHMrZHO7wikzPAbSk4fCQOoS76zdQweh
    kxIfdtKdls+3tdjFVMIGM4jsoFqqrrdRMIeMq/QB+ZqGZybtHKDyHgxV77ncUJz+
    LBpL87PG96G5aUIuKTmqw/ntcFrWei/S/8JcSBX8dpdt2Q0COZ71uadPI5OvVEk0
    dVt1XxXS6nIsiE1L/8BP6BnFTTt4D84dB7npHgjQkM07ssn5Qd7qv88yz0431BCY
    Jls+sfwW9HIk2ywykkKzu5EJLq0Mja1dzK0eVgQOC7aQZrIlKcvi9yUfT9YruSMS
    4LFW0C93lp2Ily7LI3WoQVZDXrIyPL3nODQlcI6IHPPBOtTF87c4IWVJxZEoWKqn
    2nk5y8MFWGOAH5mhpAgujmGUi7Ap4zk0fqP8i78VSFplXwXeX0CifVAhPhgKXn2C
    ariSTgItlpgmDx1EbMLkhhwuok442tXmG7Cr04gXQuJzlBCYEgq37KM5F51DLmwm
    VNahpuS0JcwKO8f0OvXeqtaPFLtY5akIfpAUQX3SXAkHgWr+6oiyr65o8HDKz0Op
    Mwoj8ITTxAA1PLs5Dml33KJuKSVBiok=
    -----END CERTIFICATE-----

test:
  secret_key_base: 1b6ae780463cf5b6aaf4b9ea4c865b5b56ab53bb114d212b8b3272a874d6edcfc6b1dfc4f75c6a732b6c4d6cc670d0cfcac585df2b5f98b2e96407e6b41fda1c
  twilio_accounts:
    - sid: sid
      auth_token: token
      number: 9999999999
  saml_cert: |
    -----BEGIN CERTIFICATE-----
    MIIFgzCCA2ugAwIBAgIJAJLpRpEOYZuWMA0GCSqGSIb3DQEBCwUAMFgxCzAJBgNV
    BAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMQswCQYDVQQHDAJEQzEMMAoGA1UE
    CgwDMThGMRkwFwYDVQQDDBB0ZXN0LmlkcC4xOGYuZ292MB4XDTE2MDQxOTE3Mzcx
    OVoXDTE3MDQxOTE3MzcxOVowWDELMAkGA1UEBhMCVVMxEzARBgNVBAgMCldhc2hp
    bmd0b24xCzAJBgNVBAcMAkRDMQwwCgYDVQQKDAMxOEYxGTAXBgNVBAMMEHRlc3Qu
    aWRwLjE4Zi5nb3YwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC5H8gf
    9TFFmDTnhJp6DGsQ+0R0IovfcVrfV/+GRMtb1nVzw3AZfrLR30bkg69YyjR3lQBv
    F/1y1dip38jnVBPKaQikKEpz353m0OH3Krvc9h97FAN8b1HPIxmwMuPvAv6Nc4Ow
    MbHdz6EgfVE+7si7FDwnW2gGbiHMTSYHDnsHmag16BCxtevtwopvYC+PMUFODjZn
    pMbFSFNhirTrkBku1hnFUGNZNHXgjYTC/Trb0MsXV8wP+5l09NlUTpidwhd7/KRo
    jAMCBGu+TsQoZS1SrS1ew/BwCQpSoE16B3nXG6J45QYxwXmUj4lfx3jk3zXb6bZM
    QDaNDRE/LyLV8e1FldIcKe4cUXswHgKAcIheoxPyz9uXL1qZQYHsD/aaTLWUgCt2
    cODUfbZAWVYzjLIhQhxhDe3F2W2otTDklNESFBpzdJKEqd3rwIEzyKY7lNagN/V9
    jsx7fK4/vQayREwk754gNIuPjcHiKpb5SD6lVP7OYQu58EV/PlbAzCrGNYJ3qNXa
    yllmR07Ui+2lgHuPeNWifZG4YUKtdO0h2qcd/ekopJ4UavKA6KGQRtjzNHsU4rAn
    OFbybPxspkebe4EUyaYzLjs+6PWN56h+vdXgW07GVnJzuxwa/QSYnArgjfCTKDG/
    sbvUjHtdeqMi8zo3KkphJlJSIAlKp/dJntCBYwIDAQABo1AwTjAdBgNVHQ4EFgQU
    MZeb4LDjPn6r+AbkLB4cW4L9ke0wHwYDVR0jBBgwFoAUMZeb4LDjPn6r+AbkLB4c
    W4L9ke0wDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAsbS1SRGPwO+V
    J0L0vCeUL3wtO5aKLwhY7r3PiB6PLkfDGuHrmVOeafGvCn5tco11ZcddjteE509O
    zbeZnTsvwznGtQpbEhLKy3UwBYpt20TEfHMrZHO7wikzPAbSk4fCQOoS76zdQweh
    kxIfdtKdls+3tdjFVMIGM4jsoFqqrrdRMIeMq/QB+ZqGZybtHKDyHgxV77ncUJz+
    LBpL87PG96G5aUIuKTmqw/ntcFrWei/S/8JcSBX8dpdt2Q0COZ71uadPI5OvVEk0
    dVt1XxXS6nIsiE1L/8BP6BnFTTt4D84dB7npHgjQkM07ssn5Qd7qv88yz0431BCY
    Jls+sfwW9HIk2ywykkKzu5EJLq0Mja1dzK0eVgQOC7aQZrIlKcvi9yUfT9YruSMS
    4LFW0C93lp2Ily7LI3WoQVZDXrIyPL3nODQlcI6IHPPBOtTF87c4IWVJxZEoWKqn
    2nk5y8MFWGOAH5mhpAgujmGUi7Ap4zk0fqP8i78VSFplXwXeX0CifVAhPhgKXn2C
    ariSTgItlpgmDx1EbMLkhhwuok442tXmG7Cr04gXQuJzlBCYEgq37KM5F51DLmwm
    VNahpuS0JcwKO8f0OvXeqtaPFLtY5akIfpAUQX3SXAkHgWr+6oiyr65o8HDKz0Op
    Mwoj8ITTxAA1PLs5Dml33KJuKSVBiok=
    -----END CERTIFICATE-----


# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  security_questions:
  - 'Where is Waldo?'
  - 'Who are you?'
  - 'What is the meaning of life?'
  - 'Are we there yet?'
  - 'Who is on first?'
  twilio_accounts:
    - sid: sid
      auth_token: token
      number: 9999999999
  saml_cert: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

