<% if @in_person == false or @in_person.nil? %>
  <%= render 'idv/shared/step_indicator',
             current_step: :re_enter_password,
             steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS %>
<% end %>

<% self.title = t('titles.failure.information_not_verified') %>

<%= render ADS::FormPageComponent.new(title: t('idv.failure.setup.heading')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy ads-copy--centered">
      <p>
        <%= t(
              'idv.failure.setup.fail_date_html',
              date_html: I18n.l(@call_by_date, format: I18n.t('time.formats.event_date')),
            ) %>
      </p>

      <p>
        <%= t(
              'idv.failure.setup.fail_html',
              support_code: IdentityConfig.store.lexisnexis_threatmetrix_support_code,
              contact_number: IdentityConfig.store.idv_contact_phone_number,
            ) %>
      </p>
    </div>
  <% end %>
<% end %>
