#reactivate-account-modal.display-none
 = render layout: '/shared/modal_layout' do
   .p4.cntnr-xxskinny.border-box.bg-white.rounded-xxl.modal-warning
     h2.my2.fs-20p.sans-serif.regular.center
       = t('instructions.account.reactivate.modal.heading')
     hr.mb3.bw4.rounded
     .mb5
        = t('instructions.account.reactivate.modal.copy')
     .center
       = form_tag reactivate_account_path, method: :put do
         = button_tag t('forms.buttons.continue'), type: 'submit',
           class: 'btn btn-primary col-12 mb2 p2 rounded-lg', name: :personal_key
       button.btn.col-12.p2.rounded-lg.border.border-blue.blue(
         type='button', id='no-key-reactivate-dismiss'
       )
         = t('links.cancel')

== javascript_pack_tag 'reactivate-account-modal'
