<% self.title = t('users.suspended_sign_in_account.heading') %>

<%= render ADS::FormPageComponent.new(
      title: t('users.suspended_sign_in_account.heading'),
    ) do |page| %>
  <% page.with_body do %>
    <%= render ADS::StackComponent.new do %>
      <p class="ads-card__value">
        <%= t(
              'users.suspended_sign_in_account.contact_details',
              contact_number: IdentityConfig.store.idv_contact_phone_number,
            ) %>
      </p>

      <p class="ads-card__value">
        <%= t(
              'users.suspended_sign_in_account.error_details',
              error_code: IdentityConfig.store.account_suspended_support_code,
            ) %>
      </p>
    <% end %>
  <% end %>
<% end %>
