<%#
Renders a "Back" link to return to a previous step, given by one of action or step local variables.
If neither are passed, redirects to the previous screen using HTTP referer. An optional fallback
path can be passed in case the HTTP header is not specified or is invalid. If none of the above
yield a useable URL, nothing will be rendered.

locals:
* step: (Optional) Name of step to which user should be returned.
* fallback_path: (Optional) Path to redirect absent action, step, and HTTP referer.
%>
<% text = t('forms.buttons.back')
   path = go_back_path
   path ||= local_assigns[:fallback_path]
   classes = class_names('ads-idv-support__back-action', local_assigns[:class]) %>
<% if path %>
  <div class="ads-idv-support__back">
    <% if local_assigns[:action] %>
      <%= render ButtonComponent.new(
            url: path,
            method: :put,
            variant: :quaternary,
            class: classes,
          ).with_content(text) %>
    <% else %>
      <%= render ButtonComponent.new(
            url: path,
            variant: :quaternary,
            class: classes,
          ).with_content(text) %>
    <% end %>
  </div>
<% end %>
