<hr>
  <div class="margin-bottom-2 margin-top-2">
    <div class="right">
      <%= link_to image_tag(asset_url('carat-right.svg'), size: '10'),
        return_to_sp_failure_to_proof_path, class: 'bold block usa-button usa-button--unstyled text-decoration-none' %>
    </div>
    <%= link_to t('two_factor_authentication.account_reset.reset_your_account'),
      account_reset_request_path %>
  </div>
<hr/>
