= render 'shared/failure', presenter: presenter
p == presenter.warning_message

= render 'shared/failure_url', presenter: presenter

.mt3
  = link_to presenter.button_text, presenter.button_path, class: 'btn btn-primary btn-link'

= render 'idv/doc_auth/in_person_proofing_option'
