= render 'shared/failure', presenter: presenter
p == presenter.warning_message

= render 'idv/shared/failure_to_proof_url', presenter: presenter

.mt3
  = link_to presenter.button_text, presenter.button_path, class: 'btn btn-primary btn-link'
