// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body .statue .site-content-wrapper section.faqs { 
  background: #fff;
  padding: 1em 2em; 

  h1 { margin-bottom: 0.8em; }
  li.faq { margin-bottom: 1.6em; }
}
