#session-timeout-msg.display-none
  = render layout: '/shared/modal_layout' do
    .p3.sm-p4.cntnr-xxskinny.border-box.bg-white.rounded-xxl.modal-timeout
      h2.my2.fs-20p.sans-serif.regular.center = t('headings.session_timeout_warning')
      hr.mb3.bw4.rounded
      .mb4
        p = modal.message
      .center
        = link_to modal.continue,
          request.original_url,
          class: 'btn btn-primary col-12 mb2 p2 rounded-lg border-box'
        = link_to modal.sign_out,
          destroy_user_session_path,
          class: 'btn col-12 p2 rounded-lg border border-blue blue border-box'
