$bold-font-weight: bold !default;
$heading-font-weight: bold !default;

$form-field-font-size-sm: 1.25rem !default;

$border-width: 1px !default;
$border-radius: 3px !default;
$border-radius-md: 6px !default;
$border-radius-xl: 16px !default;
$border-radius-xxl: 24px !default;
$border-color: #cedced !default;

$container-skinny-width: 620px !default;
$container-xskinny-width: 416px !default;
$container-xxskinny-width: 296px !default;
