$body-color: $gray !default;
$body-background-color: $white !default;

$line-height: 1.5 !default;
$bold-font-weight: bold !default;
$heading-font-weight: bold !default;

$line-height-0: 0.75 !default; // For when a tighter-than-normal leading is desired.
$line-height-1: 1 !default;

$h1: 1.5rem !default;
$h2: 1.25rem !default;
$h3: 1.125rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$sm-h1: 1.75rem !default;
$sm-h2: 1.375rem !default;
$sm-h3: 1.125rem !default;
$sm-h4: 1rem !default;
$sm-h5: 0.875rem !default;
$sm-h6: 0.75rem !default;

$space-1: 0.5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 3rem !default;

$form-field-font-size: 1rem !default;
$form-field-font-size-sm: 1.25rem !default;
$form-field-height: 3rem !default;
$form-field-padding-y: 0.5rem !default;
$form-field-padding-x: 1rem !default;

$button-font-size: 1rem !default;
$button-font-size-sm: 1.25rem !default;
$button-font-weight: bold !default;
$button-line-height: 1.375rem !default;
$button-padding-y: 0.75rem !default;
$button-padding-x: 1.5rem !default;
$button-color: $white !default;
$button-background-color: $blue !default;

$link-color: $blue !default;
$link-text-decoration: underline !default;
$link-hover-text-decoration: underline !default;

$darken-1: rgba(0, 0, 0, 0.0625) !default;
$darken-2: rgba(0, 0, 0, 0.125) !default;
$darken-3: rgba(0, 0, 0, 0.25) !default;
$darken-4: rgba(0, 0, 0, 0.5) !default;

$lighten-1: rgba(255, 255, 255, 0.0625) !default;
$lighten-2: rgba(255, 255, 255, 0.125) !default;
$lighten-3: rgba(255, 255, 255, 0.25) !default;
$lighten-4: rgba(255, 255, 255, 0.5) !default;

$border-width: 1px !default;
$border-radius: 3px !default;
$border-radius-md: 6px !default;
$border-radius-xl: 16px !default;
$border-radius-xxl: 24px !default;
$border-color: #cedced !default;

$field-focus-color: $blue !default;
$field-success-color: $green !default;
$field-warning-color: $yellow !default;
$field-error-color: $red !default;

$table-header-font-weight: $bold-font-weight !default;
$table-cell-padding-x: $space-2 !default;
$table-cell-padding-y: 0.25rem !default;
$table-border-color: $border-color !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: #f5f5f5 !default;

$width-1: 3rem !default;
$width-2: 6rem !default;
$width-3: 12rem !default;
$width-4: 24rem !default;

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-xl: '(min-width: 96em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;

$container-width: 940px !default;
$container-skinny-width: 620px !default;
$container-xskinny-width: 416px !default;
$container-xxskinny-width: 296px !default;

$mobile: '(max-width: 1023px)' !default;
