$line-height: 1.5 !default;

$h1: 1.5rem !default;
$h2: 1.25rem !default;
$h3: 1.125rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$sm-h1: 1.75rem !default;
$sm-h2: 1.375rem !default;
$sm-h3: 1.125rem !default;
$sm-h4: 1rem !default;
$sm-h5: 0.875rem !default;
$sm-h6: 0.75rem !default;

$border-radius-xl: 16px !default;

$container-skinny-width: 620px !default;
