$line-height: 1.5 !default;
$bold-font-weight: bold !default;
$heading-font-weight: bold !default;

$h1: 1.5rem !default;
$h2: 1.25rem !default;
$h3: 1.125rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$sm-h1: 1.75rem !default;
$sm-h2: 1.375rem !default;
$sm-h3: 1.125rem !default;
$sm-h4: 1rem !default;
$sm-h5: 0.875rem !default;
$sm-h6: 0.75rem !default;

$form-field-font-size-sm: 1.25rem !default;

$border-width: 1px !default;
$border-radius: 3px !default;
$border-radius-md: 6px !default;
$border-radius-xl: 16px !default;
$border-radius-xxl: 24px !default;
$border-color: #cedced !default;

$container-skinny-width: 620px !default;
$container-xskinny-width: 416px !default;
$container-xxskinny-width: 296px !default;
