$aqua: #7fdbff !default;
$blue: #0071bb !default;
$blue-light: #ebf3fa !default;
$blue-mid: #1c5899;
$navy: #112e51 !default;
$teal: #00bfe7 !default;
$green: #68e380 !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$yellow: #e1ce28 !default;
$orange: #ff851b !default;
$red: #e21c3d !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;
$white: #ffffff !default;
$silver: #d9dadb !default;
$gray: #5b616a !default;
$gray-light: #dddddd !default;
$gray-dark: #040404 !default;
$black: #111111 !default;
$red: #ff0000 !default;
$red-lightest: #fff7f8 !default;
