$blue: #0071bb !default;
$blue-light: #ebf3fa !default;
$navy: #112e51 !default;
$teal: #00bfe7 !default;
$yellow: #e1ce28 !default;
$red: #e21c3d !default;
$white: #ffffff !default;
$gray: #5b616a !default;
$black: #111111 !default;
$red: #ff0000 !default;
$red-lightest: #fff7f8 !default;
