$serif-font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif !default;
$sans-serif-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;

$body-color: $gray !default;
$body-background-color: $white !default;

$font-family: $sans-serif-font-family !default;
$line-height: 1.5 !default;
$bold-font-weight: bold !default;
$heading-font-family: $serif-font-family !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.25 !default;

$line-height-1: 1 !default;
$line-height-2: 1.25 !default;
$line-height-3: 1.5 !default;
$line-height-4: 1.75 !default;

$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;

$h00: 4rem !default;
$h0: 3rem !default;

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 3rem !default;

$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

$form-icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
$form-icon-error: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !default;

$button-font-size: inherit !default;
$button-font-weight: bold !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 2rem !default;
$button-color: $white !default;
$button-background-color: $blue !default;

$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;
$darken-4: rgba(0, 0, 0, .5) !default;

$lighten-1: rgba(255, 255, 255, .0625) !default;
$lighten-2: rgba(255, 255, 255, .125) !default;
$lighten-3: rgba(255, 255, 255, .25) !default;
$lighten-4: rgba(255, 255, 255, .5) !default;

$border-width: 1px !default;
$border-radius: 3px !default;
$border-color: $blue-light !default;

$table-header-font-weight: $bold-font-weight !default;
$table-cell-padding-x: $space-2 !default;
$table-cell-padding-y: .25rem !default;
$table-border-color: $border-color !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: #f5f5f5 !default;

$width-1: 3rem !default;
$width-2: 6rem !default;
$width-3: 12rem !default;
$width-4: 24rem !default;

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-xl: '(min-width: 96em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;

$breakpoint-max-sm: '(max-width: 40em)' !default;

$container-width: 800px !default;
$container-skinny-width: 560px !default;
