$body-color: $gray !default;
$body-background-color: $white !default;

$font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !default;
$line-height: 1.5 !default;
$bold-font-weight: bold !default;
$heading-font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.25 !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;

$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 3rem !default;

$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

$button-font-size: inherit !default;
$button-font-weight: bold !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 2rem !default;
$button-color: $white !default;
$button-background-color: $blue !default;

$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;
$darken-4: rgba(0, 0, 0, .5) !default;

$lighten-1: rgba(255, 255, 255, .0625) !default;
$lighten-2: rgba(255, 255, 255, .125) !default;
$lighten-3: rgba(255, 255, 255, .25) !default;
$lighten-4: rgba(255, 255, 255, .5) !default;

$border-width: 1px !default;
$border-radius: 3px !default;
$border-color: $blue-light !default;

$table-header-font-weight: $bold-font-weight !default;
$table-cell-padding-x: $space-2 !default;
$table-cell-padding-y: .25rem !default;
$table-border-color: $border-color !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: #f5f5f5 !default;

$width-1: 3rem !default;
$width-2: 6rem !default;
$width-3: 12rem !default;
$width-4: 24rem !default;

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;

$breakpoint-max-sm: '(max-width: 40em)' !default;

$container-slim-width: 540px !default;
$container-width: 850px !default;
