$serif-font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif !default;
$sans-serif-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;

$base-font-size: 16px !default;

$body-color: $gray !default;
$body-background-color: $white !default;

$font-family: $sans-serif-font-family !default;
$line-height: 1.5 !default;
$bold-font-weight: bold !default;
$heading-font-family: $serif-font-family !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.3 !default;
$caps-letter-spacing: 1px !default;

$line-height-1: 1 !default;
$line-height-2: 1.3 !default;
$line-height-3: 1.75 !default;
$line-height-4: 2 !default;

$h1: 1.75rem !default;
$h2: 1.5rem !default;
$h3: 1.125rem !default;
$h4: .875rem !default;
$h5: .75rem !default;
$h6: .75rem !default;

$sm-h1: 2.5rem !default;
$sm-h2: 2rem !default;
$sm-h3: 1.5rem !default;
$sm-h4: 1.125rem !default;
$sm-h5: .875rem !default;
$sm-h6: .8125rem !default;

$space-tiny: .25rem !default;

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 3rem !default;
$space-5: 4rem !default;
$space-6: 5rem !default;

$form-field-font-size: 1rem !default;
$form-field-font-size-sm: 1.25rem !default;
$form-field-height: 3rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: 1rem !default;

$button-font-size: 1rem !default;
$button-font-size-sm: 1.25rem !default;
$button-font-weight: bold !default;
$button-line-height: 1.375rem !default;
$button-padding-y: .75rem !default;
$button-padding-x: 1.5rem !default;
$button-color: $white !default;
$button-background-color: $blue !default;

$link-color: $blue !default;
$link-text-decoration: underline !default;
$link-hover-text-decoration: underline !default;

$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;
$darken-4: rgba(0, 0, 0, .5) !default;

$lighten-1: rgba(255, 255, 255, .0625) !default;
$lighten-2: rgba(255, 255, 255, .125) !default;
$lighten-3: rgba(255, 255, 255, .25) !default;
$lighten-4: rgba(255, 255, 255, .5) !default;

$border-width: 1px !default;
$border-radius: 2px !default;
$border-radius-md: 6px !default;
$border-radius-lg: 8px !default;
$border-radius-xl: 16px !default;
$border-radius-xxl: 24px !default;
$border-color: #cedbec !default;

$table-header-font-weight: $bold-font-weight !default;
$table-cell-padding-x: $space-2 !default;
$table-cell-padding-y: .25rem !default;
$table-border-color: $border-color !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: #f5f5f5 !default;

$width-1: 3rem !default;
$width-2: 6rem !default;
$width-3: 12rem !default;
$width-4: 24rem !default;

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-xl: '(min-width: 96em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;

$container-width: 780px !default;
$container-skinny-width: 620px !default;
$container-xskinny-width: 540px !default;
$container-xxskinny-width: 396px !default;
