div class='pl1 sm-col sm-col-3'
  .spinner[id='submit-spinner', class='hidden']
        = image_tag(asset_url('wait.gif'),
              srcset: asset_url('wait.gif'),
              height: 50,
              width: 50,
              alt: '')
