- title t('titles.confirmations.new')

h1.h3.my0 = t('headings.confirmations.new')
= simple_form_for(@resend_email_confirmation_form,
                  url: sign_up_create_email_resend_path,
                  html: { autocomplete: 'off', method: :post, role: 'form' }) do |f|
  = f.input :email, required: true
  = f.input :request_id, as: :hidden, input_html: { value: params[:request_id] }
  = f.button :submit, t('forms.buttons.resend_confirmation'), class: 'mt2 mb1'
