<h1> INSERT TEXT HERE </h1>

<%= button_to(
      @continue_path,
      class: 'usa-button usa-button--wide usa-button--big margin-bottom-2',
      method: :get,
    ) { t('forms.buttons.continue') } %>