- title t('idv.titles.activated')

h1.h3.my0 = t('idv.titles.activated')
p.mt-tiny.mb0 = t('idv.messages.activated_html',
                  link: link_to(t('idv.messages.activated_link'), MarketingSite.contact_url))
