<% title t('account_reset.confirm_delete_account.title') %>
<div class="margin-y-2 padding-y-6 padding-x-4 tablet:padding-x-6 border border-error rounded-xl position-relative">
  <%= image_tag(
        asset_url('status/delete.svg'),
        size: '88x88',
        alt: t('errors.alt.error'),
        class: 'pin-top pin-x margin-top-neg-5 margin-x-auto',
      ) %>
  <%= render PageHeadingComponent.new.with_content(t('account_reset.confirm_delete_account.title')) %>
  <p><%= t('account_reset.confirm_delete_account.info_html', email: email) %></p>
  <p class="margin-bottom-0">
    <%= t(
          'account_reset.confirm_delete_account.cta_html',
          link: link_to(
            t('account_reset.confirm_delete_account.link_text'),
            sign_up_email_path,
          ),
        ) %>
    </p>
</div>
