<% self.title = t('account_reset.confirm_delete_account.title') %>
<%= render StatusPageComponent.new(status: :delete) do |c| %>
  <% c.with_header { t('account_reset.confirm_delete_account.title') } %>

  <p><%= t('account_reset.confirm_delete_account.info_html', email: email) %></p>
  <p class="margin-bottom-0">
    <%= t(
          'account_reset.confirm_delete_account.cta_html',
          link_html: link_to(
            t('account_reset.confirm_delete_account.link_text'),
            sign_up_email_path,
          ),
        ) %>
    </p>
<% end %>