doctype html
html
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
    == csrf_meta_tags
    == stylesheet_link_tag 'application', media: 'all'
    == javascript_pack_tag 'saml-post'
  body
    .container.sm-py4
      .card.mx-auto.sm-col-6
        h1.h3.my0 = t('.heading')
        p = t('.no_js')

        form action=action_url method='POST' id='saml-post-binding'
          = hidden_field_tag(type, message)
          - if params.key?(:RelayState)
            = hidden_field_tag('RelayState', params[:RelayState])
          = submit_tag t('forms.buttons.submit.default'), class: 'btn btn-primary'
