<% self.title = t('titles.verify_profile') %>

<%= render PageHeadingComponent.new.with_content(t('idv.gpo.title')) %>

<p>
  <%= t(
        'errors.verify_profile.rate_limited',
        timeout: distance_of_time_in_words(
          Time.zone.now,
          [@expires_at, Time.zone.now].compact.max,
          except: :seconds,
        ),
      ) %>
  <%= link_to(t('links.go_back'), account_path) %>.
</p>
