<%= content_for(:meta_refresh) { @refresh_interval&.to_s || '15' } %>
<% self.title = t('titles.doc_auth.verify') %>
<%= render 'idv/shared/step_indicator',
           current_step: :verify_id,
           steps: Idv::StepIndicatorConcern::STEP_INDICATOR_STEPS %>

<%= render ADS::FormPageComponent.new(title: t('doc_auth.headings.interstitial')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy ads-copy--centered">
      <p><%= t('doc_auth.info.interstitial_eta') %></p>
    </div>
  <% end %>
<% end %>
