<form class="button_to" method="post" action="/verify/session?location=clear_and_start_over&amp;step=gpo_verify">
  <input type="hidden" name="_method" value="delete" autocomplete="off">
  <button class="usa-button usa-button--unstyled" type="submit">
    Clear my information and start over
  </button>
</form>
