- title t('account_reset.delete_account.title')

h1.h3.my0 = t('account_reset.delete_account.title')
p.mt-tiny.mb0
  = t('account_reset.delete_account.info')
br
h4.my2 = t('account_reset.delete_account.are_you_sure')

= button_to t('account_reset.request.no_cancel'), root_url, method: :get,
        class: 'btn btn-primary btn-wide mb1 personal-key-continue',
        'data-toggle': 'modal'
= button_to t('account_reset.request.yes_continue'), account_reset_delete_account_path, \
    method: :delete, class: 'btn btn-link'
