- title t('titles.verify_profile')

h1.h3.my0 = t('forms.verify_profile.title')
p.mt-tiny.mb0 = t('forms.verify_profile.instructions')
= simple_form_for(@verify_account_form, url: verify_account_path,
  html: { autocomplete: 'off', method: :post, role: 'form' }) do |f|
  = f.error :base
  = f.input :otp, required: true, label: t('forms.verify_profile.name'),
    wrapper_html: { class: 'mb3' }, wrapper: :inline_form do
    = f.input_field :otp, as: :inline, autofocus: true, type: 'text', maxlength: '10', value: @code
    = f.button :submit, t('forms.verify_profile.submit')
- unless @mail_spammed
  = link_to t('idv.messages.usps.resend'), idv_usps_path,
    class: 'block mb2'
= link_to t('idv.messages.usps.bad_address'), idv_phone_path
.mt2.pt1.border-top
  = link_to t('idv.buttons.cancel'), account_path
