<%=
  render(
    'idv/shared/error',
    type: :warning,
    heading: @presenter.heading,
    action: @presenter.action,
    action_secondary: @presenter.secondary_action,
    current_step: :verify_id,
    troubleshooting_heading: @presenter.troubleshooting_heading,
    action_secondary_heading: @presenter.secondary_action_heading,
    action_secondary_text: @presenter.secondary_action_text,
    options: @presenter.options,
    locals: @presenter.locals,
  ) do
%>
     <p><%= @presenter.body_text %></p>
     <p><%= @presenter.rate_limit_text %></p>
<% end %>
