.no-js {
  .accordion {
    .accordion-header-control[aria-controls] {
      background-image: none;
      cursor: inherit;
    }

    .accordion-footer {
      display: none;
    }

    [class*="btn-"] {
      display: none;
    }
  }
}

.accordion {
  .accordion-content {
    opacity: 1;
  }

  .accordion-header-control {
    background-position: right .25rem center;
    background-repeat: no-repeat;
    background-size: $h4;
    color: $blue;
    cursor: pointer;

    &[aria-expanded="true"] {
      background-image: url(image-path('minus.svg'));
    }

    .accordion-content {
      max-height: 0;
      transition: max-height .3s linear;
    }

    &[aria-expanded="false"] {
      background-image: url(image-path('plus.svg'));
    }
  }

  .accordion-footer {
    border-color: $blue;
    color: $blue;
    cursor: pointer;

    img {
      display: inline-block;
      margin-top: -2px;
      vertical-align: middle;
    }
  }
}

.animate-in {
  animation: accordionIn .2s normal ease-in both 1;
}

.animate-out {
  animation: accordionOut .15s normal ease-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
