.no-js {
  .accordion {
    .accordion-header-control[aria-controls] {
      background-image: none;
      cursor: inherit;
    }

    .accordion-footer {
      display: none;
    }

    [class*="btn-"] {
      display: none;
    }
  }
}

.accordion {
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);

  .accordion-content {
    opacity: 1;
  }

  .accordion-header {
    cursor: pointer;
    position: relative;

    img {
      position: absolute;
      right: 1rem;
      top: .8rem;
    }
  }

  .accordion-header-control[aria-expanded="false"] {
    .minus-icon {
      display: none;
    }

    .plus-icon {
      display: initial;
    }
  }

  .accordion-header-control[aria-expanded="true"] {
    border-bottom: 1px solid $border-color;

    .minus-icon {
      display: initial;
    }

    .plus-icon {
      display: none;
    }
  }

  .accordion-header-control {
    color: $blue;
    padding-right: 30px;

    .accordion-content {
      max-height: 0;
      transition: max-height .3s linear;
    }
  }

  .accordion-footer {
    background-color: $blue-lightest;
    border-top: 1px solid $border-color;
    color: $blue;
    cursor: pointer;
    text-align: center;

    img {
      display: inline-block;
      margin-top: -2px;
      vertical-align: middle;
    }
  }
}

.animate-in {
  animation: accordionIn .2s normal ease-in both 1;
}

.animate-out {
  animation: accordionOut .15s normal ease-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
