$alert-ico-size: .75rem;

.alert {
  background-color: #fff1d1;
  color: #fdb81e;
}

.alert-inner {
  background-image: url(image-path('alert/ico-shield.svg'));
  background-position: left top 3px; // 3px top cushion looks more centered
  background-repeat: no-repeat;
  background-size: $alert-ico-size $alert-ico-size;
  padding-left: $alert-ico-size + $space-1;
}

.alert-notice,
.alert-success {
  background-color: #f0faed;
  color: #088a22;

  .alert-inner { background-image: url(image-path('alert/ico-check.svg')); }
}

.alert-error,
.alert-alert {
  background-color: #ffe7eb;
  color: #e32042;

  .alert-inner { background-image: url(image-path('alert/ico-exclamation.svg')); }
}
