.usa-alert--info-important {
  @include u-bg('accent-cool-darker');
  color: color('white');
  font-weight: bold;

  &::before {
    background-image: url('alert/info-white.svg');
  }
}

.usa-alert--info-time {
  &::before {
    @include add-color-icon(
      (
        name: 'timer',
        color: 'info',
        'svg-width': 24,
        'svg-height': 24,
        height: units(2),
      )
    );
    top: 50%;
    transform: translateY(-50%);
  }
}
