$ico-size: 1.5rem;
$ico-offset: -10px;

.alert {
  background-color: #fff4db;
  border-radius: $space-1;
  color: #5b616a;
  font-size: $sm-h6;
  font-weight: $bold-font-weight;
  line-height: $line-height-2;
  margin-bottom: $space-4;
  padding: $space-2 1.5rem;
  position: relative;

  &::before {
    background-image: url(image-path('alert/ico-warning.svg'));
    background-repeat: no-repeat;
    content: '';
    height: $ico-size;
    left: $ico-offset;
    position: absolute;
    top: $ico-offset;
    width: $ico-size;
  }
}

.alert-notice,
.alert-success {
  background-color: #f0faed;

  &::before { background-image: url(image-path('alert/ico-check.svg')); }
}

.alert-error,
.alert-alert {
  background-color: #fff0f2;

  &::before { background-image: url(image-path('alert/ico-exclamation.svg')); }
}

.alert-blank::before { content: none; }
