$alert-ico-size: 1.5rem;

.alert {
  position: relative;

  &::before {
    background-image: url(image-path('alert/ico-warning.svg'));
    background-repeat: no-repeat;
    content: '';
    height: $alert-ico-size;
    left: -10px;
    position: absolute;
    top: -10px;
    width: $alert-ico-size;
  }
}

.alert-inner {
  background-color: #fff4db;
  border-radius: .5rem;
  color: #5b616a;
}

.alert-notice,
.alert-success {
  &::before { background-image: url(image-path('alert/ico-check.svg')); }

  .alert-inner { background-color: #f0faed; }
}

.alert-error,
.alert-alert {
  &::before { background-image: url(image-path('alert/ico-exclamation.svg')); }

  .alert-inner { background-color: #fff0f2; }
}
