.alert {
  border-radius: $border-radius;
  color: $gray;
  position: relative;

  &-ico {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
  }
}

.alert-success { background-color: #e7f4e3; }
.alert-progress { background-color: $blue-light; }
.alert-danger { background-color: #ffe7eb; }
