.bg-gray-lighter { background-color: $gray-lighter; }
.bg-light-blue { background-color: $blue-light; }
.bg-lighter-blue { background-color: $blue-lighter; }
.bg-lightest-blue { background-color: $blue-lightest; }
.bg-lightest-red { background-color: $red-lightest; }

@media #{$breakpoint-sm} {
  .sm-bg-light-blue { background-color: $blue-light; }
  .sm-bg-none { background-color: transparent; }
  .sm-bg-navy { background-color: $navy; }
}
