.barcode {
  padding: 2px;
  background-color: color('white');

  // Attempt to force dark mode email clients to render the white background
  // See: https://www.litmus.com/blog/the-ultimate-guide-to-dark-mode-for-email-marketers/
  // See: https://www.hteumeuleu.com/2021/fixing-gmail-dark-mode-css-blend-modes/

  background-image: linear-gradient(color('white'), color('white'));

  &[data-ogsc] {
    background-color: color('white');
  }

  @media (prefers-color-scheme: dark) {
    background-color: color('white');
  }
}

.barcode__image.barby-barcode {
  width: auto;
  table-layout: fixed;
  border-spacing: 0;
}

.barcode .barby-cell {
  padding: 0;
  border-right: 2px solid color('white');
  height: 96px;

  &.on {
    border-right-color: color('black');
  }
}
