.barcode {
  background-color: color('white');
  padding: 2px;
}

.barcode__image.barby-barcode {
  width: auto;
  table-layout: fixed;
  border-spacing: 0;
}

.barcode .barby-cell {
  padding: 0;
  border-right: 2px solid color('white');
  height: 96px;

  &.on {
    border-right-color: color('black');
  }
}
