.block-submit-button {
  cursor: pointer;

  &.usa-button--unstyled {
    display: block;
    line-height: 1.5;

    &:hover,
    &:active {
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }
}
