.block-link {
  @include u-position('relative');
  @include u-display('block');
  @include u-margin-y(3);
  @include u-padding-y(2);
  @include u-padding-right(5);
  @include u-border-y(1px, 'primary-light');
  @include u-text('no-underline');

  & + & {
    @include u-margin-top(neg-3);
    @include u-border-top(0);
  }
}

.block-link__arrow {
  @include u-display('block');
  @include u-position('absolute');
  @include u-right(2);
  @include u-top(50%);
  height: 12px;
  transform: translateY(-50%);
  width: 7px;
}
