.bw1 { border-width: 1px; }
.bw2 { border-width: 2px; }
.bw3 { border-width: 3px; }
.bw4 { border-width: 4px; }

.border-dashed { border-style: dashed; }

.rounded-lg { border-radius: $border-radius-lg; }
