@media #{$breakpoint-sm} {
  .btn { font-size: $button-font-size-sm; }
}

%btn-basic {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $blue;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $line-height;
  outline: none;
  padding: 0;
}

.btn-primary {
  border-radius: $border-radius-lg;
}

.btn-wide {
  box-sizing: border-box;
  min-width: 220px;
  text-align: center;
}

.btn-outline {
  &-blue {
    border-color: $blue;
    box-sizing: border-box;
    color: $blue;
    text-align: center;
  }
}

.btn-transparent {
  @extend %btn-basic;
  cursor: pointer;
}

.btn-link {
  @extend %btn-basic;
  text-decoration: underline;
  vertical-align: baseline;

  &:active,
  &:focus,
  &:hover, {
    border: 0;
    box-shadow: none;
    text-decoration: underline;
  }
}

.btn-border {
  border-color: $border-color;
  border-radius: $border-radius-lg;
  border-style: solid;
  border-width: $border-width;
  box-sizing: border-box;
  display: inline-block;
  padding: $space-1 $space-2;

  &.is-focused {
    border-color: $field-focus-color;
    box-shadow: 0 0 0 2px rgba($field-focus-color, .5);
    outline: none;
  }
}
