.btn {
  -webkit-font-smoothing: antialiased;
}

.btn-auth {
  border: 0;
  border-bottom: 5px solid $blue-light;
  color: $blue;
  display: block;
  font-family: $heading-font-family;
  padding: .25rem;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &--active {
    border-color: $red;
    font-weight: $bold-font-weight;
  }
}

.btn-xs-fit {
  @media #{$breakpoint-max-sm} {
    max-width: 100%;
    width: 100%;
  }
}
