@use 'uswds-core' as *;
@use '../variables/app' as *;

.card {
  @include u-padding(4);
  background-color: color('white');
  max-width: $container-skinny-width;

  & + & {
    @include u-margin-top(4);
  }

  @include at-media('tablet') {
    border-radius: 5px;
  }
}
