.cntnr-skinny {
  max-width: $container-skinny-width;
}
.cntnr-xxskinny {
  max-width: $container-xxskinny-width;
}

@include at-media('tablet') {
  .cntnr-xxskinny {
    max-width: $container-xskinny-width;
  }
}
