.cntnr-skinny { max-width: $container-skinny-width; }
.cntnr-xskinny { max-width: $container-xskinny-width; }
.cntnr-xxskinny { max-width: $container-xxskinny-width; }

@media #{$breakpoint-sm} {
  .cntnr-xxskinny { max-width: $container-xskinny-width; }
}
