.usa-disclaimer {
  background-color: $navy;
  color: $white;
  font-size: $h6;
  font-weight: 300;
  padding: .25rem 1rem;
  text-align: center;

  img {
    margin-right: .25rem;
    vertical-align: baseline;
    width: 14px;
  }
}
