// We're not (yet) using USWDS links consistently, where we'd expect color changes on hover, so in order to prevent the icon from flipping color independently from the rest of the link text on hover, we have to override it.

// In the future, we'll want to either apply usa-link to all links, or to configure $theme-global-link-styles to apply link styling globally. This will bring hover color styles, at which point we can remove these overrides.

.usa-link--external {
  @include external-link(external-link, external-link);

  &.usa-link--alt {
    @include external-link(external-link-alt, external-link-alt);
  }

  &::after,
  &.usa-link--alt::after {
    margin-left: units(0.5);
    margin-right: units(2px);
  }
}
