// 1. Avoid the IE 10-11 `min-height` bug.
// 2. Set `flex-shrink` to `0` to prevent some browsers from
//    letting these items shrink to smaller than their content's default
//    minimum size. See http://bit.ly/1Mn35US for details.
// 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
html {
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100%; // 1, 3
}

.footer {
  flex: none; // 2
  position: relative;
}

.site-wrap {
  flex: 1 0 auto; // 2
}
