$radio-checkbox-space: 1.5rem;

@media #{$breakpoint-sm} {
  input,
  select,
  textarea {
    font-size: $form-field-font-size-sm;
  }
}

legend {
  font-weight: $heading-font-weight;
}

label {
  display: inline-block;
  margin-bottom: $space-tiny;
}

textarea {
  resize: vertical;
}

.field {
  background-color: #f2f9ff;
  color: $gray;
  font-weight: $bold-font-weight;

  &[type='number'],
  &.phone {
    @include u-font-family('mono');
  }

  &:focus {
    border-color: $field-focus-color;
    box-shadow: 0 0 0 2px rgba($field-focus-color, 0.5);
    outline: none;
  }

  &:invalid,
  &.is-error {
    border-color: $border-color;
  }

  // Temporary: Remove after LG-3877 (with BassCSS "color-forms")
  &.usa-input--error:invalid {
    border-color: color('error');
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  margin: 0;
}

.display-if-invalid {
  display: none;

  [aria-invalid='true'] ~ & {
    display: block;
  }

  [aria-invalid='value-missing'] ~ &.display-if-invalid--value-missing {
    display: block;
  }

  [aria-invalid='pattern-mismatch'] ~ &.display-if-invalid--pattern-mismatch {
    display: block;
  }
}

// ===============================================
// Pending upstream Login Design System revisions:
// ===============================================

.usa-form-group--error {
  border-left-style: none;
  margin-top: units(3); // Remove after: https://github.com/uswds/uswds/issues/4189
  padding-left: 0;

  @include at-media('desktop') {
    margin-left: 0;
  }
}

.usa-radio__input--tile + .usa-radio__label--illustrated .usa-radio__image {
  width: 1.5rem;
  @media #{$breakpoint-sm} {
    width: 2.625rem;
    padding-top: .25rem;
  }
}
