[type="submit"] {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

@media #{$breakpoint-sm} {
  [type="submit"] {
    width: auto;
  }
}

.radio label,
.checkbox label {
  margin-left: .5rem;
  vertical-align: baseline;
}
