[type="submit"] {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media #{$breakpoint-max-sm} {
  [type="submit"] {
    max-width: 100%;
    width: 100%;
  }
}

.radio label,
.checkbox label {
  margin-left: .5rem;
  vertical-align: baseline;
}
