.field {
  background-color: $blue-light;
  color: $gray;
  font-weight: $bold-font-weight;
}

[type="submit"] {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media #{$breakpoint-max-sm} {
  [type="submit"] {
    max-width: 100%;
    width: 100%;
  }
}

.radio,
.checkbox {
  padding-left: 1.5rem;
}

.radio [type=radio],
.checkbox [type=checkbox] {
  margin-left: -1.5rem;
  margin-top: .25rem;
  position: absolute;
}

// hide number field input spin box as per:
// http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
// and added .mfa class selector as per CodeClimate warning to:
// 'Avoid qualifying attribute selectors with an element.'
.mfa {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
