$radio-checkbox-space: 1.5rem;

@media #{$breakpoint-sm} {
  input,
  select,
  textarea {
    font-size: $form-field-font-size-sm;
  }
}

legend {
  font-weight: $heading-font-weight;
}

label {
  display: inline-block;
  margin-bottom: $space-tiny;
}

textarea {
  resize: vertical;
}

.field {
  background-color: #f2f9ff;
  color: $gray;
  font-weight: $bold-font-weight;

  &[type=number],
  &.phone {
    font-family: $monospace-font-family;
  }

  &:focus {
    border-color: $field-focus-color;
    box-shadow: 0 0 0 2px rgba($field-focus-color, .5);
    outline: none;
  }

  &:invalid,
  &.is-error {
    border-color: $border-color;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.display-if-invalid {
  display: none;

  [aria-invalid="true"] ~ & {
    display: block;
  }

  [aria-invalid="value-missing"] ~ &.display-if-invalid--value-missing {
    display: block;
  }

  [aria-invalid="pattern-mismatch"] ~ &.display-if-invalid--pattern-mismatch {
    display: block;
  }
}

.usa-hint {
  font-style: italic;
}

//================================================
// Pending upstream Login Design System revisions:
//================================================

.usa-form-group--error {
  border-left-style: none;
  margin-top: units(3); // Remove after: https://github.com/uswds/uswds/issues/4189
  padding-left: 0;

  @include at-media('desktop') {
    margin-left: 0;
  }
}

// Upstream: https://github.com/18F/identity-style-guide/pull/275
.usa-input--error {
  &,
  // Temporary: Remove after LG-3877 (with BassCSS "color-forms")
  &.field:invalid {
    border-color: color('error');
  }
}

// Upstream: https://github.com/18F/identity-style-guide/pull/265
.usa-error-message,
.usa-success-message {
  @include u-padding-y(.5);
  background-position: 0 .5em;
  background-repeat: no-repeat;
  background-size: units($icon-size);
  font-weight: font-weight('bold');
  padding-left: 1.5rem;
}

// Upstream: https://github.com/18F/identity-style-guide/pull/265
.usa-success-message {
  background-image: url(image-path('alert/success.svg'));
  color: color('success');
  display: block;
}
