.has-full-screen-overlay {
  overflow: hidden;
}

.full-screen {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.full-screen-close-button {
  background-color: rgba(color('base-darkest'), .7);
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 10;

  &:hover,
  &:focus {
    background-color: color('base-darker');
  }
}

.full-screen-close-icon {
  height: 1rem;
  width: 1rem;
}

// css for alternative fallback flow, that should hopefully be quickly retired
.full-screen-fallback {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.full-screen-close-button-fallback {
  height: 2rem;
  margin: 1rem;
  width: 2rem;
  z-index: 1;
}

.full-screen-close-icon-fallback {
  height: 1rem;
  margin: .5rem;
  width: 1rem;
}

.full-screen-canvas-fallback {
  position: relative;
  width: 100%;
  z-index: 0;
}
