.heading {
  font-size: $h3;
  margin-bottom: .75rem;
  margin-top: 0;
  padding-bottom: .75rem;
  position: relative;

  &::before {
    border-bottom: .25rem solid $teal;
    border-radius: 12px;
    bottom: 0;
    content: '';
    position: absolute;
    width: 40px;
  }

  &-big { font-size: $h1; }
}
