.i18n-mobile-toggle button,
.i18n-desktop-toggle button {
  @include u-line-height('body', $theme-body-line-height);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.i18n-mobile-toggle,
.i18n-desktop-toggle {
  &.focused .caret {
    transform: rotateX(180deg) translateY(-1px);
  }
}

.i18n-mobile-dropdown {
  background-color: $blue-light;
  bottom: 100%;
  left: 0;
  position: absolute;
  right: 0;
}

.i18n-desktop-toggle {
  &.focused {
    background-color: $blue;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;

    button {
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }
}

.i18n-desktop-dropdown {
  background-color: $blue;
  bottom: 100%;
  left: -1px;
  position: absolute;
  width: 194px;
}

.language-desktop-button {
  background-color: transparent;
}

.language-mobile-button {
  background-color: $blue-light;
  border: 0;
}
