$icon-min-padding: 2px;

// Upstream: https://github.com/uswds/uswds/pull/4493
.usa-icon {
  .usa-button > &:first-child {
    // Note: This diverges from the upstream pull request in a couple ways:
    // 1. There should not be any margins offsetting to account for line height, since Login.gov
    //    Design System normalizes button line height to 1.
    // 2. Float is replaced by `vertical-align`, since otherwise it will have the effect of having
    //    the icon appear to the far edge of the button, rather than next to the text.
    vertical-align: bottom;
    margin-right: 0.25rem;
  }

  .usa-button:not(.usa-button--unstyled) > &:first-child {
    margin-left: -1 * $icon-min-padding;
    margin-right: #{0.5rem - px-to-rem($icon-min-padding)};
  }
}

.ico-absolute {
  background-repeat: no-repeat;
  background-size: $h4;
  position: relative;

  &-success {
    &::before {
      background-image: url('alert/success.svg');
      content: '';
      display: block;
      height: $h4;
      left: units(neg-4);
      position: absolute;
      top: (lh('body', $theme-body-line-height) - $h4) * 0.5;
      width: $h4;
    }
  }
}
