.ico {
  &::before {
    background-repeat: no-repeat;
    background-size: 1rem;
    content: '';
    display: inline-block;
    height: 1rem;
    margin: -0.125rem 0.5rem -0.125rem 0;
    width: 1rem;
  }

  &.ico-copy::before {
    background-image: url(image-path('ico-copy.svg'));
  }

  &.ico-download::before {
    background-image: url(image-path('ico-download.svg'));
  }

  &.ico-refresh::before {
    background-image: url(image-path('ico-refresh.svg'));
  }

  &.ico-print::before {
    background-image: url(image-path('ico-print.svg'));
  }
}

.ico-absolute {
  background-repeat: no-repeat;
  background-size: $h4;
  position: relative;

  &-success {
    &::before {
      background-image: url(image-path('alert/success.svg'));
      content: '';
      display: block;
      height: $h4;
      left: -$space-3;
      position: absolute;
      top: $space-1;
      width: $h4;
    }
  }
}

.ico-heading {
  display: inline-block;
  vertical-align: middle;
}
