.ico {
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 2.5rem;

  &-refresh {
    background-image: url(image-path('ico-refresh.svg'));
  }

  &-print {
    background-image: url(image-path('ico-print.svg'));
  }
}

.ico-absolute {
  background-repeat: no-repeat;
  background-size: $h4;
  position: relative;

  &-success {
    &::before {
      height: $h4;
      width: $h4;
      top: $space-1;
      left: -$space-3;
      position: absolute;
      display: block;
      content: '';
      background-image: url(image-path('alert/success.svg'));
    }
  }
}
