.js-intl-tel-code-select {
  display: none;
}

.intl-tel-input {
  width: 100%;
}

.no-js {
  .js-intl-tel-code-select {
    display: block;
 }

  .js-intl-tel-code {
    display: none;
 }
}

.iti__flag { // scss-lint: ignore
  // scss-lint:disable ImportantRule
  background-image: image-url('intl-tel-input/build/img/flags.png') !important;
  // scss-lint:enable ImportantRule
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag { // scss-lint: ignore
    // scss-lint:disable ImportantRule
    background-image: image-url('intl-tel-input/build/img/flags@2x.png') !important;
    // scss-lint:enable ImportantRule
  }
}
