.circle-number {
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  text-align: center;
  width: 20px;
}

.success-bullets {
  li {
    padding: 1rem 1rem 1rem 0;

    &::before {
      background-image: url(image-path('alert/success.svg'));
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 1rem;
      padding-right: 1rem;
      vertical-align: middle;
      width: 1rem;
    }
  }
}

.teal-dots {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1rem;
    text-indent: -1rem;

    &::before {
      color: $teal;
      content: '•';
      font-size: 2rem;
      line-height: 1.5rem;
      padding-right: .5rem;
      vertical-align: -3px;
    }
  }
}

.yellow-dots {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1rem;
    text-indent: -1rem;

    &::before {
      color: $yellow;
      content: '•';
      font-size: 2rem;
      line-height: 1.5rem;
      padding-right: .5rem;
      vertical-align: -3px;
    }
  }
}
