.success-bullets {
  .success-bullet {
    padding: 1rem 1rem 1rem 0;

    &::before {
      background-image: url('alert/success.svg');
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      float: left;
      height: 1rem;
      margin-top: 0.33rem;
      padding-right: 1.5rem;
      vertical-align: middle;
      width: 1rem;
    }
  }
}
