@mixin color-list($color: color('warning')) {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1rem;
    text-indent: -1rem;

    &::before {
      color: $color;
      content: '•';
      font-size: 2rem;
      line-height: 1.5rem;
      padding-right: 0.5rem;
      vertical-align: -3px;
    }
  }
}

.success-bullets {
  .success-bullet {
    padding: 1rem 1rem 1rem 0;

    &::before {
      background-image: url('alert/success.svg');
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      float: left;
      height: 1rem;
      margin-top: 0.33rem;
      padding-right: 1.5rem;
      vertical-align: middle;
      width: 1rem;
    }
  }
}

.red-dots {
  @include color-list(color('secondary'));
}

.teal-dots {
  @include color-list(color('info'));
}

.yellow-dots {
  @include color-list(color('warning'));
}
