.location-collection-item {
    max-width: 64ex;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    align-items: flex-start;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-color: #CEDCED;
}

@media screen {
    .wrap-name{
        overflow-wrap: break-word;
    }
}

@media  screen and (min-width: 320px){
    .usa-button-mobile {
        width: -webkit-fill-available;
        margin-top: 8px;
    }
}

@media  screen and (max-width: 480px){
    .usa-button-mobile-hidden {
        display: none;
    }
}

@media  screen and (min-width: 481px){
    .usa-button-desktop-hidden {
        display: none;
    }
}