@use 'uswds-core' as *;

.usa-checkbox__input--tile + .usa-checkbox__label {
  .option-added {
    color: color('white');
    background-color: color('green-cool-60v');
    margin-left: 20px;
  }
}

@media (max-width: 414px) {
  .usa-checkbox__input--tile + .usa-checkbox__label {
    .option-added {
      display: block;
      inline-size: fit-content;
      margin-top: 4px;
      margin-left: 32px;
    }
  }
}
