.modal-backdrop {
  background-color: rgba(91, 97, 106, .95);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.modal-open {
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 100%;

  .modal {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.modal {
  bottom: 0;
  display: block;
  left: 0;
  outline: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
}

.modal-center {
  display: table;
  height: 100%;
  width: 100%;
}

.modal-content {
  display: table-cell;
  vertical-align: top;

  [class^='cntnr'],
  [class*=' cntnr'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &.key-badge::before {
      background-image: url(image-path('p-key.svg'));
      background-repeat: no-repeat;
      content: '';
      height: 60px;
      left: 45%;
      position: absolute;
      top: -25px;
      width: 60px;
    }

    &[class^='modal-']::before,
    &[class*=' modal-']::before {
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 48px;
      margin: $space-2 auto $space-3;
      position: relative;
      width: 48px;
    }

    hr {
      width: 7.5rem;
    }

  }

}

@media #{$breakpoint-sm} {
  .modal-content {
    vertical-align: middle;
  }
}

.modal-ico {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: -25px;
  width: 50px;
}

.modal-timeout {
  &::before {
    background-image: url(image-path('clock.svg'));
  }

  hr {
    border-color: $teal;
  }
}

.modal-warning {
  &::before {
    background-image: url(image-path('alert/warning-lg.svg'));
  }

  .btn-wide,
  hr {
    border-color: $yellow;
  }
}

.modal-fail {
  &::before {
    background-image: url(image-path('alert/fail-lg.svg'));
  }

  hr,
  .btn {
    border-color: $pink;
  }
}
