.usa-modal-overlay {
  // Temporary styles to avoid inheriting too much of the USWDS opinionated modal styling until
  // modal styles are settled in the Login.gov Design System.
  text-align: left;
  display: flex;
  align-items: start;
  justify-content: center;

  // Pending upstream Login Design System revision:
  background: rgba(color('base-darker'), 50%);

  @include at-media('tablet') {
    align-items: center;
  }
}

.modal-content {
  @include u-padding(4);
  @include u-bg('white');
  max-width: $container-xskinny-width;
  border-radius: $border-radius-xxl;

  @include at-media('tablet') {
    @include u-padding(6);
  }

  hr {
    width: 5rem;
  }
}
