.page-heading {
  @include u-margin-top(0);
  @include u-margin-bottom(2);
}

// Disable reason: Technically the qualifiers are redundant, but are included to communicate
// expectations and precautions around why the qualifiers exist:
// 1. A page heading should always be an H1
// 2. The focus styling is specific to non-interactive content not included in regular tab order,
//    expected to be used only for programmatic fallback, and with exception to allow supported
//    `:focus-visible` to restore identified indicator.
h1[tabindex="-1"].page-heading:focus {
  outline: none;

  &:focus-visible {
    @include focus-outline;
  }
}
