lg-password-toggle {
  display: block;
  position: relative;

  .validated-field__input-wrapper {
    margin-bottom: units(2);
  }
}

.password-toggle__toggle-wrapper {
  display: flex;
  justify-content: end;
}

.password-toggle__toggle-label.usa-checkbox__label {
  @include u-margin-y(0);
}
