lg-password-toggle {
  display: block;

  .validated-field__input-wrapper {
    margin-bottom: 0;
  }
}

.password-toggle__toggle-label.usa-checkbox__label {
  @include u-margin-y(0);
  @include u-padding-y(1);
}
