lg-password-toggle {
  display: block;
  position: relative;

  &.password-toggle--toggle-top .password-toggle__toggle-label {
    @include u-pin-right;
    top: -24px;
  }

  &.password-toggle--toggle-bottom .validated-field__input-wrapper {
    margin-bottom: units(2);
  }
}

.password-toggle__toggle-wrapper {
  display: flex;
  justify-content: end;
}

.password-toggle__toggle-label.usa-checkbox__label {
  @include u-margin-y(0);
}
