// password strength module

$weak: #e80e0e;
$so-so: #ffac00;
$good: #9ac056;
$great: #00b200;

.pw-bar {
  background-color: #e9e9e9;
  border: $space-tiny solid #fff;
  border-radius: 6px;
  box-sizing: border-box;
  float: left;
  height: 16px;
  width: 25%;
}

.pw-weak {
  .pw-bar:nth-child(-n+1) { background-color: $weak; }
}

.pw-so-so {
  .pw-bar:nth-child(-n+2) { background-color: $so-so; }
}

.pw-good {
  .pw-bar:nth-child(-n+3) { background-color: $good; }
}

.pw-great {
  .pw-bar { background-color: $great; }
}
