@use 'uswds-core' as *;

.password-strength__meter {
  display: flex;
  margin-top: units(1);
  margin-bottom: units(0.5);
}

.password-strength__meter-bar {
  flex-basis: 25%;
  background-color: color('base-lighter');
  border-radius: 2px;
  height: units(1);

  & + & {
    margin-left: units(1);
  }

  .pw-weak &:nth-child(-n + 1) {
    background-color: color('error');
  }

  .pw-average &:nth-child(-n + 2) {
    background-color: color('warning');
  }

  .pw-good &:nth-child(-n + 3) {
    background-color: color('success-light');
  }

  .pw-great &:nth-child(-n + 4) {
    background-color: color('success');
  }
}
