.personal-key-block {
  background-image: url('personal-key/pkey-block.svg');
  background-position: center;
  background-repeat: no-repeat;

  @include at-media('tablet') {
    @include u-padding-x(1);
    @include u-padding-y(2);
  }
}

.personal-key-block__code {
  @include u-font-family('mono');
  font-size: 1.5rem;

  &::after {
    content: '-';
    padding: 0 0.25rem;
  }

  &:last-child::after {
    content: none;
    padding: 0;
  }
}

.key-badge {
  position: relative;
}

.bg-personal-key {
  height: 145px;
  background-image: url('personal-key/shield.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 145px 145px;
}

.full-width-box {
  margin-left: -1rem;
  width: 110%;
}

@include at-media('tablet') {
  .full-width-box {
    margin-left: -5rem;
    width: 135%;
  }
}
