.key-badge::before {
  background-image: url(image-path('p-key.svg'));
  background-repeat: no-repeat;
  content: '';
  height: 60px;
  left: 45%;
  position: absolute;
  top: -25px;
  width: 60px;
}

.separator-text > div {
  &::after {
    color: $silver;
    content: '-';
    padding: 0 .25rem;
  }

  &:last-child::after {
    content: none;
    padding: 0;
  }
}

.ico-scissors {
  left: -5px;
  top: -14px;
}

@media #{$breakpoint-sm} {
  .separator-text > div {
    &::after {
      color: #000;
      padding: 0 .5rem;
    }
  }
}

.bg-pk-box {
  background-color: $blue-lightest;
  background-image: image-url('personal-key/pkey-block.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.bg-personal-key {
  background: image-url('personal-key/shield.svg');
  background-color: $blue-lightest;
  background-position: center 3.3rem;
  background-repeat: no-repeat;
  background-size: 115px;
  border-bottom: 1px solid $border-color;
}

.full-width-box {
  background-color: $blue-lightest;
  border-top: 1px solid $border-color;
  margin-left: -1rem;
  width: 110%;
}

@media #{$breakpoint-sm} {
  .full-width-box {
    background-color: $blue-lightest;
    border-top: 1px solid $border-color;
    margin-left: -5rem;
    width: 135%;
  }
}
