.key-badge {
  position: relative;
}

.separator-text__code {
  @include u-font-family('mono');
  font-size: 1.5rem;

  &::after {
    content: '-';
    padding: 0 0.25rem;
  }

  &:last-child::after {
    content: none;
    padding: 0;
  }
}

@include at-media('tablet') {
  .separator-text > div {
    &::after {
      color: #000;
      padding: 0 0.5rem;
    }
  }
}

.bg-pk-box {
  background-image: url('personal-key/pkey-block.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.bg-personal-key {
  height: 145px;
  background-image: url('personal-key/shield.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 145px 145px;
}

.full-width-box {
  margin-left: -1rem;
  width: 110%;
}

@include at-media('tablet') {
  .full-width-box {
    margin-left: -5rem;
    width: 135%;
  }
}
