.phone-input__international-code-wrapper {
  display: none;

  .no-js & {
    display: block;
  }
}

lg-phone-input .iti__flag {
  background-image: image-url('intl-tel-input/build/img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  lg-phone-input .iti__flag {
    background-image: image-url('intl-tel-input/build/img/flags@2x.png');
  }
}
