lg-phone-input {
  display: block;

  .validated-field__input-wrapper {
    margin-top: units(0.5);
  }

  .iti__flag {
    background-image: url('intl-tel-input/build/img/flags.png');

    /* stylelint-disable-next-line media-feature-name-no-vendor-prefix */
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('intl-tel-input/build/img/flags@2x.png');
    }
  }

  .iti:not(.iti--allow-dropdown) input {
    padding-left: 36px;
    padding-right: 6px;
  }

  .iti:not(.iti--allow-dropdown) .iti__flag-container {
    left: 0;
    right: auto;
  }
}

.phone-input__international-code-wrapper {
  display: none;

  .no-js & {
    display: block;
  }
}
