.profile-info-box {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  padding: $space-3;

  .bg-lightest-blue img {
    margin-top: -2px;
    vertical-align: middle;
  }
}

@include at-media('mobile') {
  .profile-info-box {
    border-radius: $border-radius-md;
    margin-bottom: $space-3;
  }
}

.events-info-box {
  border: $border-width solid $border-color;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;

  .bg-lightest-blue img {
    margin-top: -2px;
    vertical-align: middle;
  }
}

@include at-media('mobile') {
  .events-info-box {
    border: $border-width solid $border-color;
    border-radius: $border-radius-md;
    margin-bottom: $space-3;
  }
}
