.profile-info-box {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  padding: units(4);
}

@include at-media('mobile') {
  .profile-info-box {
    border-radius: $border-radius-md;
    margin-bottom: units(4);
  }
}
