@use 'uswds-core' as *;

.padding-for-radio {
    padding: 1.5rem 1rem 1.5rem 2.375rem !important;
    margin: 1rem 0 !important;
}
  
.secondary-text-color-for-radio {
    color: #0071bb !important;
}
