// normalize.css adds a text underline by default
// scss-lint:disable QualifyingElement
abbr[title] {
  text-decoration: none;
}

.cntnr-skinny { max-width: $container-skinny-width; }
.cntnr-wide { max-width: $container-wide-width; }

@media #{$breakpoint-sm} {
  body { background-color: $blue-light; }
}
