.mxn-tiny { margin-left: -$space-tiny; margin-right: -$space-tiny; }
.mb-tiny { margin-bottom: $space-tiny; }
.mr-tiny { margin-right: $space-tiny; }
.mt-tiny { margin-top: $space-tiny; }
.pb-tiny { padding-bottom: $space-tiny; }
.pt-tiny { padding-top: $space-tiny; }
.px-tiny { padding-left: $space-tiny; padding-right: $space-tiny; }

.mb-12p { margin-bottom: 12px; }
.mt-12p { margin-top: 12px; }
.py-12p { padding-bottom: 12px; padding-top: 12px; }

.mb-40p { margin-bottom: 40px; }

@media #{$breakpoint-sm} {
  .sm-mr-20p { margin-right: 20px; }
  .sm-mtn3 { margin-top: -$space-3; }
}
