@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  min-height: 24px;
  min-width: 24px;
}

.spinner:after {
  content: '';
  height: 24px;
  left: 48%;
  position: absolute;
  top: 100%;
  width: 24px;
}

$light-gray: rgba(0, 0, 0, .3);
$dark-gray: rgba(0, 0, 0, .6);
.spinner:not(:required):after {
  -webkit-animation: spinner .6s linear infinite;
  animation: spinner .6s linear infinite;
  border: 2px solid $light-gray;
  border-radius: 50%;
  border-top-color: $dark-gray;
  content: '';
}
