lg-spinner-button {
  display: block;

  @include at-media('mobile-lg') {
    display: inline-block;
  }

  &:not(.spinner-button--spinner-active) .spinner-dots {
    display: none;
  }
}

.spinner-button--spinner-active {
  .spinner-button__content {
    position: relative;

    a,
    button:not([type]),
    [type='submit'],
    [type='button'] {
      background-color: color('primary-darker');
      color: transparent;
      opacity: 1;
    }
  }
}

.spinner-button__action-message {
  @include u-text('bold', 'primary-darker');
  @include u-margin-top(2);
}
