.tooltip-trigger {
  cursor: pointer;
  display: inline;
  position: relative;

  .tooltip-content {
    background: #333;
    border-radius: 1px;
    bottom: 1.5rem;
    color: #fff;
    display: none;
    padding: 1rem;
    position: absolute;
    right: -1rem;
    text-align: left;
    width: 150px;
    z-index: 1;

    @media #{$breakpoint-sm} {
      left: -.5rem;
      right: inherit;
    }
  }

  // little caret below tooltip
  // (e.g., a speech bubble)
  &:hover::after {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0;
    bottom: 1.2rem;
    content: '';
    left: 0;
    position: absolute;
  }

  &:hover .tooltip-content {
    display: block;
  }
}
