[class*="hint--"] {
  cursor: help;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;

  &::after {
    font-size: $h6;
    line-height: 1.3;
    min-width: 125px;
    white-space: normal;
    width: 100%;
  }
}

.img-tooltip {
  vertical-align: middle;
}
