.troubleshooting-options {
  @include u-margin-y(4);

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include u-margin-bottom(4);
    background-color: color('secondary');
    content: '';
    display: block;
    height: 4px;
    width: 5rem;
  }

  & + &::before {
    content: none;
  }
}

.troubleshooting-options__heading {
  @include u-margin-y(1.5);
  @extend %h3;
}

.troubleshooting-options__options {
  @include add-list-reset;
}
