html { font-size: $base-font-size; }
body { -webkit-font-smoothing: antialiased; }

.monospace { font-family: $monospace-font-family; }
.sans-serif { font-family: $sans-serif-font-family; }
.serif { font-family: $serif-font-family; }

.ls-05 { letter-spacing: .5px; }
