html { font-size: $base-font-size; }
body { -webkit-font-smoothing: antialiased; }

.monospace { font-family: $monospace-font-family; }
.sans-serif { font-family: $sans-serif-font-family; }
.serif { font-family: $serif-font-family; }

.ls-0 { letter-spacing: 0; }
.ls-05 { letter-spacing: .5px; }
.ls-5 { letter-spacing: 5px; }

.fs-lead { font-size: 1.25rem; }
