.text-over-line {
  position: relative;
  text-align: center;

  span {
    background: $white;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
  }
}

.text-over-line::before {
  border-top: solid 3px $gray-light;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}
