// supplemental utility classes

.w-60p { width: 60px; }

.no-hover-decoration:hover { text-decoration: none; }

.invisible { visibility: hidden; }

.truncate-inline {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.vertical-align::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media #{$breakpoint-sm} {
  // scss-lint:disable ImportantRule
  .sm-display-inline-block { display: inline-block !important; }
  // scss-lint:enable ImportantRule

  .sm-maxw-190p { max-width: 190px; }

  .sm-left-align { text-align: left; }
  .sm-right-align { text-align: right; }
}
