// supplemental utility classes

.w-60p { width: 60px; }

.no-hover-decoration:hover { text-decoration: none; }

.invisible { visibility: hidden; }

.hidden { display: none; }

.truncate-inline {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.vertical-align::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.block-center {
  margin: 0 auto;
}

.js-fallback {
  display: none;
}

.no-js {
  .js-fallback {
    display: block;
  }
}

.scale-down {
  // trigger anti-aliasing in chrome
  backface-visibility: hidden;
  transform: scale(.7);
}

@media #{$breakpoint-sm} {
  // scss-lint:disable ImportantRule
  .sm-display-inline-block { display: inline-block !important; }
  // scss-lint:enable ImportantRule

  .sm-maxw-190p { max-width: 190px; }
  .sm-maxw-250p { max-width: 250px; }

  .sm-left-align { text-align: left; }
  .sm-right-align { text-align: right; }
}

.recommended {
  color: $olive-dark;
  float: right;
  font-weight: bold;
  text-align: right;
}

.half-center {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}


// Temporary Classes for Overriding during design system migration


.border-top {
  border-top: 1px solid $border-color;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}

.border-light-blue {
  border-color: $border-color;
}

.border-green {
  border-color: #68e380;
}

.flex-center {
  justify-content: center;
}
