.checkbox_invalid {
  border-color: color('secondary') !important;
  border-width: 2px !important;
}

.checkbox_alert {
  color: color('secondary');
  background: none;
  font-weight: 700;

  .usa-alert__body {
    padding-left: 1.5rem;
  }
}
.checkbox_alert:before {
  left: 0;
}