<p class="lead" style="margin-bottom: 1em">
  <%= t('anonymous_mailer.password_reset_missing_user.info_no_account', app_name: APP_NAME) %>
</p>
<p class="lead">
  <%= t('anonymous_mailer.password_reset_missing_user.info_request_different', app_name: APP_NAME) %>
</p>

<table class="button expanded large radius">
  <tbody>
    <tr>
      <td>
        <table style="margin-bottom: 1em">
          <tbody>
            <tr>
              <td style="text-align: center">
                  <%= link_to t('anonymous_mailer.password_reset_missing_user.try_different_email'),
                              new_user_password_url(request_id: @request_id),
                              target: '_blank',
                              class: 'float-center',
                              align: 'center',
                              rel: 'noopener' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>

<p>
  <%= t(
        'anonymous_mailer.password_reset_missing_user.use_this_email_html',
        create_account_link_html: link_to(
          t('anonymous_mailer.password_reset_missing_user.create_new_account'),
          sign_up_register_url(request_id: @request_id),
          target: '_blank',
          rel: 'noopener',
        ),
      ) %>
</p>
