<p class="lead">
  <%= t('anonymous_mailer.password_reset_missing_user.info_no_account', app_name: APP_NAME) %>
</p>
<p class="lead">
  <%= t('anonymous_mailer.password_reset_missing_user.info_request_different', app_name: APP_NAME) %>
</p>

<p>
  <%= t(
        'anonymous_mailer.password_reset_missing_user.use_this_email_html',
        create_account_link_html: mailer_link_to(
          t('anonymous_mailer.password_reset_missing_user.create_new_account'),
          new_user_session_url(request_id: @request_id),
        ),
      ) %>
</p>

<%= render 'shared/email/button',
           url: new_user_password_url(request_id: @request_id),
           text: t('anonymous_mailer.password_reset_missing_user.try_different_email') %>