<%= render(
      'idv/shared/error',
      type: :warning,
      heading: t('idv.failure.sessions.exception'),
      action: {
        text: t('idv.failure.button.warning'),
        url: @try_again_path,
      },
      options: [
        {
          url: contact_redirect_url,
          text: t('idv.troubleshooting.options.contact_support', app_name: APP_NAME),
          new_tab: true,
        },
      ],
    ) do %>
      <p>
        <%= t(
              'idv.failure.exceptions.text_html',
              link_html: link_to(t('idv.failure.exceptions.link'), contact_redirect_url),
            ) %>
      </p>
    <% end %>
