<%= render(
  'idv/shared/warning',
  heading: t('idv.failure.sessions.exception'),
  action: {
    text: t('idv.failure.button.warning'),
    url: idv_doc_auth_path,
  },
  options: Proc.new do |options|
    options.prepend(
      url: MarketingSite.contact_url,
      text: t('idv.troubleshooting.options.contact_support', app: APP_NAME),
    )
  end,
) do %>
  <p>
    <%= t(
      'idv.failure.exceptions.text_html',
      link: link_to(t('idv.failure.exceptions.link'), MarketingSite.contact_url)
    ) %>
  </p>
<% end %>
