<%= render(
      'idv/shared/error',
      heading: t('errors.doc_auth.throttled_heading'),
      options: [
        decorated_session.sp_name && {
          url: return_to_sp_failure_to_proof_path(
            step: 'verify_info',
            location: request.params[:action],
          ),
          text: t('idv.troubleshooting.options.get_help_at_sp', sp_name: decorated_session.sp_name),
          new_tab: true,
        },
        {
          url: MarketingSite.contact_url,
          text: t('idv.troubleshooting.options.contact_support', app_name: APP_NAME),
          new_tab: true,
        },
      ].select(&:present?),
    ) do %>
      <p>
        <%= t(
              'errors.doc_auth.throttled_text_html',
              timeout: timeout(@expires_at),
            ) %>
      </p>
    <% end %>

