<%= render(
  'idv/shared/warning',
  heading: t('idv.failure.sessions.heading'),
  action: {
    text: t('idv.failure.button.warning'),
    url: idv_doc_auth_path,
  },
) do %>
  <p><%= t('idv.failure.sessions.warning') %></p>
  <p><strong><%= t('idv.failure.attempts', count: @remaining_step_attempts) %></strong></p>
<% end %>
