.ico {
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 2.6rem;

  &-copy {
    background-image: url(image-path('ico-copy.svg'));
  }

  &-download {
    background-image: url(image-path('ico-download.svg'));
  }

  &-refresh {
    background-image: url(image-path('ico-refresh.svg'));
  }

  &-print {
    background-image: url(image-path('ico-print.svg'));
  }
}

.ico-absolute {
  background-repeat: no-repeat;
  background-size: $h4;
  position: relative;

  &-success {
    &::before {
      background-image: url(image-path('alert/success.svg'));
      content: '';
      display: block;
      height: $h4;
      left: -$space-3;
      position: absolute;
      top: $space-1;
      width: $h4;
    }
  }
}

.ico-heading {
  display: inline-block;
  vertical-align: middle;
}
