@forward '@18f/identity-design-system/packages/uswds-core' with (
  $theme-body-font-size: 'sm',
  $theme-font-path: '',
  $theme-image-path: '',
  $theme-global-border-box-sizing: true,
  $theme-global-link-styles: true,
  $theme-grid-container-max-width: 'tablet-lg',
  $theme-header-min-width: 'tablet',
  $theme-link-visited-color: 'primary',
  $theme-style-body-element: true,
  $output-these-utilities: (
    'add-list-reset',
    'align-items',
    'background-color',
    'border',
    'border-color',
    'border-style',
    'border-width',
    'clearfix',
    'color',
    'display',
    'flex',
    'float',
    'font',
    'font-family',
    'font-style',
    'font-weight',
    'height',
    'justify-content',
    'left',
    'margin',
    'margin-horizontal',
    'margin-vertical',
    'maxw',
    'padding',
    'position',
    'text-align',
    'text-transform',
    'top',
    'vertical-align',
    'whitespace',
    'width',
  )
);
