@import 'variables/colors';
@import 'variables/app';
@import 'required';
@import 'vendor';
// To be removed once design system incorporates styles included below.
@import 'design-system-waiting-room.scss';
// ----------------------------------------
@import 'identity-style-guide/dist/assets/scss/packages/required';
@import 'identity-style-guide/dist/assets/scss/packages/global';
@import 'identity-style-guide/dist/assets/scss/packages/components';
@import 'components/all';
@import 'identity-style-guide/dist/assets/scss/packages/utilities';
@import 'utilities/all';
@import 'print';
