// To be removed once design system incorporates styles included below.

// basscss-base-typography
// ------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p,
ul {
  margin-top: 0;
}

// basscss-utility-typography
// ------------------------------------------------
.break-word {
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
