// To be removed once design system incorporates styles included below.

// basscss-base-forms
//------------------------------------------------
input[type='text'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'] {
  height: 3rem;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

//basscss-base-typography
//------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

// basscss-utility-typography
//------------------------------------------------
.break-word {
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
