@import 'variables/colors';
@import 'variables/email';

@import 'foundation-emails';

.gray {
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $gray;
  }
}

.hr { margin: $hr-margin; }
.lead { margin-bottom: 30px; }
.mr-tiny { margin-right: 4px; }

.s10 {
  font-size: 10px;
  line-height: 10px;
}

.s30 {
  font-size: 30px;
  line-height: 30px;
}

.s60 {
  font-size: 60px;
  line-height: 60px;
}

h4 {
  font-weight: bold;
  margin-bottom: 16px;
}

.button.large.expanded table a { padding: 20px 0; }

.footer {
  background: $secondary-color;

  a {
    color: $white;
    text-decoration: underline;
  }

  p {
    color: $white;
    padding-top: 0;
  }

  .columns {
    padding-bottom: 0;
  }

  .wrapper-inner {
    padding: 25px 0;
  }

  .container {
    background: transparent;
  }
}

.legal {
  background: $body-background;

  a {
    color: $dark-gray;
  }

  .container {
    background: $body-background;
  }

  .wrapper-inner {
    padding: 15px 0;
  }
}

@media only screen and (max-width: #{$global-breakpoint}) {
  // scss-lint:disable QualifyingElement
  table.body .columns,
  table.body .column {
    // scss-lint:disable ImportantRule
    padding-left: $global-gutter-small !important;
    padding-right: $global-gutter-small !important;
  }
}
