@import 'required';
@import 'variables/email';
@import 'foundation-emails/scss/foundation-emails';
@import 'identity-style-guide/dist/assets/scss/packages/required';

.gray {
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $gray;
  }
}

.hr {
  margin: $hr-margin;
}

.lead {
  hyphens: none;
  margin-bottom: 30px;
}

.mr-tiny {
  margin-right: 4px;
}

.s10 {
  font-size: 10px;
  line-height: 10px;
}

.s30 {
  font-size: 30px;
  line-height: 30px;
}

.s60 {
  font-size: 60px;
  line-height: 60px;
}

h4 {
  font-weight: bold;
  margin-bottom: 16px;
}

.button.large.expanded table a {
  padding: 20px 0;
}

.button.expanded.large .btn-warn-bkg {
  background-color: $white;
  border: 0;

  &:hover {
    background-color: $white;
  }
}

.btn-warn-bkg .btn-warn {
  background-color: $red-lightest;
  border: 2px solid $red;
  border-radius: 8px;
  color: $gray;
  padding: 10px;
  width: 50%;
}

.half {
  width: 50%;
}

.footer {
  background: $secondary-color;

  a {
    color: $white;
    text-decoration: underline;
  }

  p {
    color: $white;
    padding-top: 0;
  }

  .columns {
    padding-bottom: 0;
  }

  .wrapper-inner {
    padding: 25px 0;
  }

  .container {
    background: transparent;
  }
}

.legal {
  background: $body-background;

  a {
    color: $dark-gray;
  }

  .container {
    background: $body-background;
  }

  .wrapper-inner {
    padding: 15px 0;
  }
}

@media only screen and (max-width: #{$global-breakpoint}) {
  table.body .columns,
  table.body .column {
    padding-left: $global-gutter-small !important;
    padding-right: $global-gutter-small !important;
  }
}

.info-alert {
  background-color: color('info-lighter');
  padding: 0 units(0.5);

  td {
    padding: units(1.5);
    padding-right: units(1);

    & + td {
      padding-left: 0;
      padding-right: units(1.5);
    }
  }
}

.process-list td {
  padding-bottom: units(4);
}

.process-list__circle {
  border-radius: 50%;
  width: units(3);
  height: units(2.5);
  background-color: color($theme-process-list-counter-background-color);
  border: units($theme-process-list-counter-border-width) solid
    color($theme-process-list-counter-border-color);
  color: color('white');
  font-size: units(2);
  font-weight: 700;
  text-align: center;
  line-height: 1;
  padding-top: units(0.5);
  margin-right: units(1.5);
}

// Design system utility classes are duplicated here as a compromise to allow for consistent usage
// while avoiding performance cost of importing the full design system. Feel free to add as needed.

.border-1px {
  @include u-border(1px);
}

.border-primary-light {
  @include u-border('primary-light');
}

.display-inline-block {
  @include u-display('inline-block');
}

.display-block {
  @include u-display('block');
}

.font-heading-lg {
  @include u-font('heading', 'lg');
}

.font-heading-md {
  @include u-font('heading', 'md');
}

.font-sans-md {
  @include u-font('sans', 'md');
}

.margin-bottom-0 {
  @include u-margin-bottom(0);
}

.margin-bottom-1 {
  @include u-margin-bottom(1);
}

.margin-bottom-105 {
  @include u-margin-bottom(1.5);
}

.margin-bottom-2 {
  @include u-margin-bottom(2);
}

.margin-bottom-4 {
  @include u-margin-bottom(4);
}

.margin-top-0 {
  @include u-margin-top(0);
}

.margin-top-5 {
  @include u-margin-top(5);
}

.margin-y-105 {
  @include u-margin-y(1.5);
}

.margin-y-4 {
  @include u-margin-y(4);
}

.padding-4 {
  @include u-padding(4);
}

.padding-bottom-4 {
  @include u-padding-bottom(4);
}

.text-bold {
  @include u-text('bold');
}

.text-center {
  @include u-text('center');
}

.usa-list {
  @extend %usa-list;

  li {
    @extend %usa-list-item;
  }
}
