@import 'required';
@import 'variables/email';
@import 'foundation-emails/scss/foundation-emails';
@import 'identity-style-guide/dist/assets/scss/packages/required';
@import 'identity-style-guide/dist/assets/scss/packages/utilities';
@import './components/barcode';

.gray {
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $gray;
  }
}

.hr {
  margin: $hr-margin;
}

.lead {
  hyphens: none;
  margin-bottom: 30px;
}

.mr-tiny {
  margin-right: 4px;
}

.s10 {
  font-size: 10px;
  line-height: 10px;
}

.s16 {
  font-size: 16px;
  line-height: 24px;
}

.s30 {
  font-size: 30px;
  line-height: 30px;
}

.s60 {
  font-size: 60px;
  line-height: 60px;
}

h4 {
  font-weight: bold;
  margin-bottom: 16px;
}

.button.large.expanded table a {
  padding: 20px 0;
}

.button.expanded.large .btn-warn-bkg {
  background-color: $white;
  border: 0;

  &:hover {
    background-color: $white;
  }
}

.btn-warn-bkg .btn-warn {
  background-color: $red-lightest;
  border: 2px solid $red;
  border-radius: 8px;
  color: $gray;
  padding: 10px;
  width: 50%;
}

.half {
  width: 50%;
}

.footer {
  background: $secondary-color;

  a {
    color: $white;
    text-decoration: underline;
  }

  p {
    color: $white;
    padding-top: 0;
  }

  .columns {
    padding-bottom: 0;
  }

  .wrapper-inner {
    padding: 25px 0;
  }

  .container {
    background: transparent;
  }
}

.legal {
  background: $body-background;

  a {
    color: $dark-gray;
  }

  .container {
    background: $body-background;
  }

  .wrapper-inner {
    padding: 15px 0;
  }
}

@media only screen and (max-width: #{$global-breakpoint}) {
  table.body .columns,
  table.body .column {
    padding-left: $global-gutter-small !important;
    padding-right: $global-gutter-small !important;
  }
}

.info-alert {
  background-color: color('info-lighter');
  padding: 0 units(0.5);

  td {
    padding: units(1.5);
    padding-right: units(1);

    & + td {
      padding-left: 0;
      padding-right: units(1.5);
    }
  }
}

.process-list td {
  padding-bottom: units(4);
}

.process-list__circle {
  border-radius: 50%;
  width: units(3);
  height: units(2.5);
  background-color: color($theme-process-list-counter-background-color);
  border: units($theme-process-list-counter-border-width) solid
    color($theme-process-list-counter-border-color);
  color: color('white');
  font-size: units(2);
  font-weight: 700;
  text-align: center;
  padding-top: units(0.5);
  margin-right: units(1.5);
}
