- title t('titles.piv_cac_login.add')

h1.h3.my0 = t('titles.piv_cac_login.add')
p.mt2.mb2 == t('headings.piv_cac_login.add')

p.mt2.mb2 == t('instructions.mfa.piv_cac.add_from_sign_in')

.mt3
  .inline-block
    = form_tag(submit_new_piv_cac_url) do
      = label_tag 'code', t('forms.piv_cac_setup.nickname'), class: 'block bold'
      = text_field_tag :name, '', required: true, aria: { invalid: true }, id: 'nickname',
              class: 'block col-12 field monospace', size: 16, maxlength: 20,
              'aria-labelledby': 'totp-label'
      .mt2
        = submit_tag t('forms.piv_cac_setup.submit'), class: 'btn btn-primary mr1'
        .inline-block
          = link_to t('forms.piv_cac_setup.no_thanks'), new_user_session_url,
            class: 'btn btn-secondary'

= render 'shared/cancel', link: new_user_session_url
