= render 'shared/failure', presenter: @presenter

p.mb1.bold = t('sign_up.cancel.warning_header')

ul class="list-reset #{@presenter.state_color}-dots"
  - @presenter.cancellation_warnings.each do |warning|
    li = warning

.mt3 = button_to t('forms.buttons.cancel'), destroy_user_path,
  method: :delete, class: 'btn btn-primary sm-col-6 col-12 btn-wide'
.mt2 = link_to t('links.go_back'), @presenter.go_back_path,
  class: 'btn btn-secondary sm-col-6 col-12 btn-wide'
