@use 'sass:math';
@use 'variables/ads' as ads;

.document-capture-acuant-capture {
  max-width: 100%;

  %pad-common-id-card {
    display: block;
    // 2.125" x 3.375" are common standard ID dimensions
    padding-bottom: (math.div(2.125, 3.375) * 100) + unquote('%');
  }

  .ads-file-input:not(.ads-file-input--has-value) {
    margin-top: ads.space(8);
    position: relative;

    .ads-file-input__target {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      inset: 0;
      justify-content: center;
      margin-top: 0;
      position: absolute;
    }

    &::after {
      @extend %pad-common-id-card;
      content: '';
    }
  }

  .document-capture-file-image--loading {
    @extend %pad-common-id-card;
  }
}
