@use 'variables/ads' as ads;
@forward 'components/file-input';

// Document-capture-specific file input behavior on top of ADS file input.

.ads-file-input__input {
  outline-offset: 2px;
}

.ads-file-input:not(.ads-file-input--has-value, .ads-file-input--value-pending)
  .ads-file-input__target,
.ads-form-group--error .ads-file-input .ads-file-input__target,
.ads-form-group--success .ads-file-input .ads-file-input__target {
  border-width: 2px;
}

.ads-file-input:not(.ads-file-input--has-value, .ads-file-input--value-pending) {
  .ads-file-input__target {
    border-color: ads.$off-black;
    border-radius: ads.radius(16);

    &:hover {
      border-color: ads.alpha(ads.$off-black, 85%);
    }
  }
}

.ads-form-group--error .ads-file-input .ads-file-input__target {
  border-color: ads.$red-600;

  &:hover {
    border-color: ads.$red-600;
  }
}

.ads-form-group--success .ads-file-input .ads-file-input__target {
  border-color: ads.$green-600;
  border-style: solid;

  &:hover {
    border-color: ads.$green-600;
  }
}

.ads-file-input__banner-text {
  color: ads.$off-black;
  display: block;
  font-family: ads.$font-family;
  font-size: ads.$text-heading-section;
  font-weight: ads.$font-semibold;
  letter-spacing: ads.$text-letter-spacing-heading-section;
  line-height: 1.2;
  margin-top: 0;

  + .ads-file-input__drag-text {
    display: block;
    line-height: 1.5;
    margin-top: ads.space(16);
  }
}

.ads-file-input.ads-file-input--single-value {
  .ads-file-input__preview {
    padding: 0;
  }

  .ads-file-input__preview-image {
    height: auto;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
  }
}

.ads-file-input.ads-file-input--single-value:not(.ads-file-input--is-id-capture) {
  .ads-file-input__preview,
  .ads-file-input__target,
  .ads-file-input__preview-image {
    width: 12rem;
  }
}

.ads-file-input__input:not([disabled]):focus {
  outline: 2px solid ads.$off-black;
  outline-offset: 6px;
}

.ads-file-input--has-value .ads-file-input__input:not([disabled]):focus {
  outline-offset: 4px;
}

.ads-file-input--value-pending .ads-file-input__box {
  background-color: ads.alpha(ads.$off-black, 5%);
}
