@use 'uswds-core' as *;
@use 'sass:math';

.document-capture-acuant-capture {
  max-width: 375px;

  %pad-common-id-card {
    display: block;
    // 2.125" x 3.375" are common standard ID dimensions
    padding-bottom: (math.div(2.125, 3.375) * 100) + unquote('%');
  }

  .usa-file-input:not(.usa-file-input--has-value) {
    @include u-margin-top(1);
    position: relative;

    .usa-file-input__target {
      align-items: center;
      inset: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin-top: 0;
      position: absolute;
    }

    &::after {
      @extend %pad-common-id-card;
      content: '';
    }
  }

  .document-capture-file-image--loading {
    @extend %pad-common-id-card;
  }
}
