.document-capture-acuant-capture {
  max-width: 375px;

  %pad-common-id-card {
    display: block;
    // 2.125" x 3.375" are common standard ID dimensions
    padding-bottom: ((2.125 / 3.375) * 100) + unquote('%');
  }

  .usa-file-input:not(.usa-file-input--has-value) {
    @include u-margin-top(1);
    position: relative;

    .usa-file-input__target {
      align-items: center;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &::after {
      @extend %pad-common-id-card;
      content: '';
    }
  }

  .document-capture-file-image--loading {
    @extend %pad-common-id-card;
  }
}
