@use 'uswds-core' as *;

.document-capture-selfie-feedback {
  color: color('white');
  background: rgba(0, 0, 0, .5);
  left: 50%;
  top: 10%;
  position: fixed;
  transform: translateX(-50%);
  padding: 0 5px 0 5px;
  opacity: 100%;
  z-index: 11;
}