.document-capture-selfie-feedback {
  color: white;
  background: black;
  border-radius: 5px;
  padding: 10px;
  left: 50%;
  top: 10%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 11;
}
