@use 'uswds-core' as *;

.document-capture-selfie-feedback {
  color: color('white');
  background: color('black');
  left: 50%;
  top: 10%;
  position: fixed;
  transform: translateX(-50%);
  padding: 0 5px;
  z-index: 11;
}
