.has-full-screen-overlay {
  overflow: hidden;
}

.full-screen {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.full-screen__close-button {
  background-color: rgba(color('base-darkest'), 0.7);
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 10;

  &:hover,
  &:focus {
    background-color: color('base-darker');
  }
}

.full-screen__close-icon {
  height: 1rem;
  width: 1rem;
}
