.selfie-capture {
  @include u-margin-top(1);
  align-items: center;
  border: 2px dashed color('primary');
  border-radius: .375rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    padding-bottom: 85%;
  }
}

.selfie-capture--capturing,
.selfie-capture--has-value {
  border-color: color('base-light');
  border-radius: 0;
  border-width: 1px;
}

.selfie-capture--error,
.selfie-capture--updated {
  border-width: 3px;
}

.selfie-capture--error {
  border-color: color('error');
  border-radius: .375rem;

  &:hover {
    border-color: color('error-dark');
  }
}

.selfie-capture--updated {
  border-color: color('success');

  &:hover {
    border-color: color('success-dark');
  }
}

.selfie-capture--has-value::after {
  content: none;
}

// Disable reason: Technically the qualifiers are redundant, but are included to communicate
// expectations and precautions around why the qualifiers exist. The focus styling is specific to
// non-interactive content not included in regular tab order, expected to be used only for
// programmatic fallback, and with exception to allow supported `:focus-visible` to restore
// identified indicator.
div.selfie-capture__label[tabindex="-1"]:focus {
  outline: none;

  &:focus-visible {
    @include focus-outline;
  }
}

.selfie-capture__consent-overlay-button {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.selfie-capture__consent-prompt {
  left: 11%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 78%;

  p:last-child {
    margin-bottom: 0;
  }
}

.selfie-capture__consent-prompt-banner.usa-file-input__banner-text {
  @include u-margin-bottom(4);
  text-transform: none;
}

.selfie-capture__frame-corner {
  border: 3px solid color('primary');
  height: 3rem;
  left: 50%;
  position: absolute;
  top: 1.5rem;
  width: 2rem;

  &:nth-child(1) {
    border-bottom-width: 0;
    border-right-width: 0;
    transform: translate(-8rem, 0);
  }

  &:nth-child(2) {
    border-bottom-width: 0;
    border-left-width: 0;
    transform: translate(6rem, 0);
  }

  &:nth-child(3) {
    border-right-width: 0;
    border-top-width: 0;
    transform: translate(-8rem, 13rem);
  }

  &:nth-child(4) {
    border-left-width: 0;
    border-top-width: 0;
    transform: translate(6rem, 13rem);
  }
}

.selfie-capture__preview-image,
.selfie-capture__video {
  transform: scaleX(-1); // Mirror the video so that the user's head moves in anticipated direction.
}

.selfie-capture__video {
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
}

.usa-button.selfie-capture__capture {
  align-items: center;
  border: 3px solid color('white');
  border-radius: 50%;
  display: flex;
  height: 4rem;
  justify-content: center;
  line-height: 1;
  padding: 0;
  width: 4rem;
}

.selfie-capture__capture {
  bottom: 1.5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.selfie-capture__capture-icon {
  height: 2rem;
  width: 2rem;
}

.selfie-capture__preview-heading.usa-file-input__preview-heading {
  pointer-events: all;
  width: 100%;
}
