-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQENBFjVUwUBCADzR/CJDbXFq1AxSaiBLCnwSpvsRYO5GDyTVyuEnfw8rDBhphJZ
ZQDKWZthh68Mu59RjfAd6qlRXR0Yd/71PVGhw6eHpWlt1YZIpQRaYW5K+qsiMr1p
KTHqyb1sr6u2zUi/8etUi4ZLaf2T3Z0mDUvY+pZrJbQcM2mDWc8nAtjsF82LOELu
XnEjDoR2srF3/XRMWCflQoqFUYY75bU4cuuv7pfhekvDhzmANhHn5asEsN8WGN42
woUqhsI4+R+z+b6tPuJhF70XLr7LlbHmR7QjKzWVKVPflqNIRxYcffYvjjsT2dsf
A4Rb1GTNq0Lkxa8l59UX8o8bmnB2zxUW9R9/ABEBAAG0MWxvZ2luIGRvdCBnb3Yg
KGRldmVsb3BtZW50IG9ubHkpIDxsb2dzQGxvZ2luLmdvdj6JATgEEwECACIFAljV
UwUCGwMGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEBjGtjh6CfsNhBAH/Anw
OA2NVx3fCSXWGc4YTgYK2OsbLCyLzoOkpp3/NxOKl10GyzaN4chNQh4/jAZuLiOi
n0C3iTGTAgeZiabwtxUiU7azfOhSWPdOaz0x5esTrKzPY+EVBvnaRKnLX0iV6Etr
R2E8yfUTAa7OZ7GonbN9GGSPOYu2xXMRW4iaEUV8IQ7VHcsHnwRvqOK30fm9ZMzv
UtxqicaX2rp/j3KUXVwHLunAUd+nkd6SeaOLv7OTZKBwSazpOYemf6MYq5RHrAPy
1sbGoct7UvF+Wi0wxXt+P//kx9hcOI6UF2PAAdjCUKf64kHtJ1TDLVNHGiaevDka
junf1trni3cVdQNAmw25AQ0EWNVTBQEIAKjSJYc30ebbEI85b7VhHHwo/nB51v+S
+IARLGJOlf5vVNPWYWxOTOO62O9MCCrdqJURSaJl/0ltxTnhcBHe4CpuVoUBWi5I
1h5VbpOrvGAV5QcIyOR37aqJOueut+yKfgVryq95NYYKOLNs84li2vDQeQH7/LjJ
zGGirPMEuxFZYcENlVyCQi9GVSmqGwW3UfeS5DWubbyHx7qJs4+62S4tQqf6e3+O
ZNPY8zXbFRNZZZgxy4hkwunpB1sBoLmlyNZ51p/0ee/P/qnm2Dnh/nkMHPNaHXRr
fivjbc8oUYXuWrxdJBiFtdy+R/uRP9o/u1uEgxsYqiXWjtdFI29bz4cAEQEAAYkB
HwQYAQIACQUCWNVTBQIbDAAKCRAYxrY4egn7DYlvB/9JfHQrvR0PqX8HeGfVCpvM
QJVAkxf8NFZ6AQ50xLmSe7PEzuA3CRzl6O8ZMMoKUkPn501221C8gafYiEx7yoAQ
v9JjvBz0GygaZzTAUFDxF+LKjMI/j+237dL5iBm/d30F1ll/GqzSMlagkMeTREXp
zqUg/LQTB/p1l5eUKq5+G1DJOtX89VcXLFR3g3sKE7W2ugZ6S9QNdhg9zJ4mrQXO
3pq4sAtIr32L5g4S4FikHqNpgDWsj2+bmjvDvzPNb2urgPxCz2bQDlgpyPdjqzKT
Le55RcffG1o2lm1P/eL31sv3gQpeulm4WsBgmyAcE0N8ofr5Aj/vHWiQrZI0p5XD
=xy5x
-----END PGP PUBLIC KEY BLOCK-----
