<% self.title = t('account.navigation.connected_accounts') %>

<%= render PageHeadingComponent.new.with_content(t('headings.account.connected_accounts')) %>

<p>
  <%= t('account.connected_apps.description', app_name: APP_NAME) %>
</p>

<div class="card border-bottom border-primary-light">
  <ul class="add-list-reset border-bottom border-primary-light">
    <% @presenter.connected_apps.each do |identity| %>
      <li><%= render 'accounts/connected_app', identity: identity %></li>
    <% end %>
  </ul>
</div>

