<% title t('account.navigation.connected_accounts') %>

<h1 class="margin-top-0">
  <%= t('headings.account.connected_accounts') %>
</h1>

<p>
  <%= t('account.connected_apps.description', app_name: APP_NAME) %>
</p>

<div class="margin-bottom-4 card profile-info-box border-bottom border-primary-light">
  <div class="border-bottom border-primary-light">
    <% @view_model.connected_apps.each do |identity| %>
      <%= render 'accounts/connected_app', identity: identity %>
    <% end %>
  </div>
</div>

