<li class="usa-icon-list__item">
  <div class="usa-icon-list__icon text-green">
    <%= render IconComponent.new(icon: :check_circle, width: 24, height: 24) %>
  </div>
  <div class="usa-icon-list__content">
    <%= option.label %> <%= option.mfa_added_label %>
  </div>
</li>
