
// Converted Variables

$aqua: #7fdbff !default;
$blue: #0074d9 !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$green: #2ecc40 !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$yellow: #ffdc00 !default;
$orange: #ff851b !default;
$red: #ff4136 !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;
$white: #fff !default;
$silver: #ddd !default;
$gray: #aaa !default;
$black: #111 !default;
$font-family: 'Helvetica Neue', Helvetica, sans-serif !default;
$line-height: 1.5 !default;
$heading-font-family: $font-family !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.25 !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$bold-font-weight: bold !default;
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;
$button-font-size: inherit !default;
$button-font-weight: bold !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$container-width: 64em !default;
$darken-1: rgba(0,0,0,.0625) !default;
$darken-2: rgba(0,0,0,.125) !default;
$darken-3: rgba(0,0,0,.25) !default;
$darken-4: rgba(0,0,0,.5) !default;
$lighten-1: rgba(255,255,255,.0625) !default;
$lighten-2: rgba(255,255,255,.125) !default;
$lighten-3: rgba(255,255,255,.25) !default;
$lighten-4: rgba(255,255,255,.5) !default;
$border-width: 1px !default;
$border-radius: 3px !default;
$border-color: $darken-2 !default;
$range-thumb-width: $form-field-padding-x !default;
$range-thumb-height: ( $form-field-height - ($form-field-padding-y * 2) ) !default;
$range-track-height: ( $form-field-padding-y / 2 ) !default;
$range-thumb-offset: ( $range-thumb-height / -2 + ($range-track-height / 2) ) !default;
$range-thumb-pseudo-size: $form-field-height !default;

// Custom Media Query Variables

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

/* Basscss Input Range */

input[type=range] {
  vertical-align: middle;
  background-color: transparent;
}

.range-light {
  color: inherit;
  -webkit-appearance: none;
  padding-top: $form-field-padding-y;
  padding-bottom: $form-field-padding-y;
}

.range-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: $range-thumb-width;
  height: $range-thumb-height;
  border-radius: $border-radius;
  background-color: currentcolor;
  cursor: pointer;
  margin-top: $range-thumb-offset;
}

/* Touch screen friendly pseudo element */
.range-light::-webkit-slider-thumb:before {
  content: '';
  display: block;
  position: absolute;
  top: ( -.5 * $range-thumb-pseudo-size + (.5 * $range-thumb-height) );
  left: ( (-.5 * $range-thumb-pseudo-size) + (.5 * $range-thumb-width) );
  width: $range-thumb-pseudo-size;
  height: $range-thumb-pseudo-size;
  opacity: 0;
}

.range-light::-moz-range-thumb {
  width: $range-thumb-width;
  height: $range-thumb-height;
  border-radius: $border-radius;
  border-color: transparent;
  border-width: 0;
  background-color: currentcolor;
  cursor: pointer;
}

.range-light::-webkit-slider-runnable-track {
  height: $range-track-height;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $darken-3;
}

.range-light::-moz-range-track {
  height: $range-track-height;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $darken-3;
}

.range-light:focus {
  outline: none;
}

.range-light:focus::-webkit-slider-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 1px 2px currentcolor;
}

.range-light:focus::-moz-range-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 3px $darken-3;
}


/* Basscss Defaults */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/