@import 'identity-style-guide/dist/assets/scss/packages/required';
@import './components/acuant-capture';
@import './components/acuant-capture-canvas';
@import './components/location-collection-item';
@import './components/review-issues-step';
