@import 'identity-style-guide/dist/assets/scss/packages/required';
@import './components/acuant-capture';
@import './components/acuant-capture-canvas';
@import './components/full-screen';
@import './components/review-issues-step';
@import './components/selfie-capture';
