@forward 'usa-collection/src/styles';

@forward './components/acuant-capture';
@forward './components/acuant-capture-canvas';
@forward './components/acuant-selfie-capture-canvas';
@forward './components/file-input';
@forward './components/location-collection-item';
@forward './components/select-error';
