<% self.title = t('titles.forget_all_browsers') %>

<%= render PageHeadingComponent.new.with_content(t('titles.forget_all_browsers')) %>

<p>
  <%= t('account.forget_all_browsers.longer_description') %>
</p>

<%= button_to(forget_all_browsers_path, method: 'delete', class: 'usa-button usa-button--wide usa-button--big margin-top-4') { t('forms.buttons.confirm') } %>

<div class="margin-top-4 border-top border-primary-light">
  <div class="margin-top-1">
    <%= link_to(t('links.cancel'), account_path) %>
  </div>
</div>
