<table class="usa-alert usa-alert--warning margin-bottom-4">
  <tbody>
  <tr>
    <td style="width:16px;">
      <%= image_tag('email/warning.png', width: 16, height: 14, alt: 'warning icon', style: 'margin-top: 5px;') %>
    </td>
    <td>
      <p><%= t('user_mailer.reset_password_instructions.in_person_warning_description_html') %></p>
    </td>
  </tr>
</table>
