.col.sm-col-3.sm-col-right.left
  .regular.border.border-green.rounded-xxl.py1.px1.center
    = image_tag asset_url('alert/success'), width: 16, class: 'mr1 align-middle'
    = t('headings.profile.verified_account')
