<%= render(
      'idv/shared/error',
      type: :warning,
      title: t('titles.failure.phone_verification'),
      heading: t('idv.failure.phone.warning.heading'),
      current_step: :verify_phone,
      action: {
        text: t('idv.failure.phone.warning.try_again_button'),
        url: idv_phone_path,
      },
      secondary_action: @gpo_letter_available && {
        text: t('idv.failure.phone.warning.gpo.button'),
        url: idv_request_letter_path,
      },
      secondary_action_text: @gpo_letter_available && safe_join(
        [
          t('idv.failure.phone.warning.gpo.explanation'),
          ' ',
          t('idv.failure.phone.warning.gpo.how_long_it_takes_html'),
        ],
      ),
    ) do %>
  <% if @phone %>
    <p>
      <%= t('idv.failure.phone.warning.you_entered_html', formatted_phone: @formatted_phone) %>
    </p>
  <% end %>

  <p>
    <%= t('idv.failure.warning.attempts_html', count: @remaining_submit_attempts) %>
  </p>
<% end %>
