<% title t('titles.idv.cancelled') %>

<%= render StatusPageComponent.new(status: :error) do |c| %>
  <% c.header { t('idv.cancel.headings.confirmation.hybrid') } %>

  <p><%= t('doc_auth.instructions.switch_back') %></p>
  <%= image_tag(asset_url('idv/switch.png'), width: 193) %>
<% end %>
