<% self.title = t('titles.idv.canceled') %>

<%= render ADS::FormPageComponent.new(title: t('idv.cancel.headings.confirmation.hybrid')) do |page| %>
  <% page.with_body do %>
    <div class="ads-copy">
      <p><%= t('doc_auth.instructions.switch_back') %></p>
    </div>
  <% end %>
<% end %>
