= render 'shared/failure', presenter: @presenter

strong
  = 'If you cancel now'
ul
  - @presenter.cancellation_warnings.each do |warning|
    li = warning

/ TODO: Move these into translations
p
  = button_to "Yes, cancel", idv_cancel_path, method: :delete, class: 'btn btn-primary'
p
  = link_to "Go back", @presenter.go_back_path, class: 'btn btn-secondary'
