<!doctype html>
<html>
  <head>
    <title>Component Preview</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="padding-2">
    <%= yield %>
  </body>
</html>
