doctype strict
html xmlns="http://www.w3.org/1999/xhtml"
  head
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    meta content="width=device-width" name="viewport"
    = stylesheet_link_tag 'email'
    title
      = message.subject
  body
    table.body data-made-with-foundation=""
      tbody
        tr
          td.float-center align="center" valign="top"
            center
              table.spacer
                tbody
                  tr
                    td.s10 height="10px"
                      | &nbsp;
              table.container.float-center
                tbody
                  tr
                    td
                      table.spacer
                        tbody
                          tr
                            td.s60 height="60px"
                              | &nbsp;
                      table.row
                        tbody
                          tr
                            th.small-12.large-12.columns.first.last
                              table
                                tr
                                  th
                                    //= image_tag('logo.png',
                                    = image_tag(attachments['logo.png'].url,
                                      alt: "Sent from #{APP_NAME}",
                                      size: '142x19',
                                      style: 'width: 142px; height: 19px;')
                                  th.expander
                      table.row
                        tbody
                          tr
                            th.small-12.large-12.columns.first.last
                              table
                                tr
                                  th
                                    table.spacer
                                      tbody
                                        tr
                                          td.s30 height="30px"
                                            | &nbsp;
                                    h4
                                      = message.subject
                                    == yield
                                    table.hr
                                      tr
                                        th
                                          | &nbsp;
                                    p
                                      i Please do not reply to this message.
                                    table.spacer
                                      tbody
                                        tr
                                          td.s30 height="30px"
                                            | &nbsp;
                                  th.expander
                      table.wrapper.footer align="center"
                        tr
                          td.wrapper-inner
                            table.row
                              tbody
                                tr
                                  th.small-12.large-12.columns.first.last
                                    table
                                      tr
                                        th
                                          p
                                            'For more help, please contact the #{APP_NAME} Customer
                                            'Contact Center via web form at
                                            = link_to nil, Figaro.env.support_url
                                        th.expander
                      table.wrapper.legal align="center"
                        tr
                          td.wrapper-inner
                            table.row
                              tbody
                                tr
                                  th.small-12.large-12.columns.first.last
                                    table
                                      tr
                                        th
                                          p.text-center
                                            a href="#" About #{APP_NAME}
                                            ' &nbsp;&nbsp;|&nbsp;&nbsp;
                                            a href="#" Privacy policy
                                        th.expander
      /! prevent Gmail on iOS font size manipulation
      div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"
        '&#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0;
        '&#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0;
        '&#xA0; &#xA0; &#xA0; &#xA0;
