.p2.clearfix.border-top.border-blue-light
  .col.col-8
    .bold.col.col-12.sm-col-6
      = name
    .col.col-12.sm-col-6.truncate
      = content if local_assigns.key? :content
  .col.col-4.right-align
    - if local_assigns.key? :path
      = render action, path: path, name: name
    - elsif local_assigns.key? :action
      = render action
