<h2 class="margin-top-0 margin-bottom-1">
  <%= t('headings.account.authentication_apps') %>
</h2>

<div role="list">
  <% MfaContext.new(current_user).auth_app_configurations.each do |configuration| %>
    <%= render ManageableAuthenticatorComponent.new(
          configuration:,
          user_session:,
          manage_url: edit_auth_app_path(id: configuration.id),
          manage_api_url: api_internal_two_factor_authentication_auth_app_path(id: configuration.id),
          custom_strings: {
            deleted: t('two_factor_authentication.auth_app.deleted'),
            renamed: t('two_factor_authentication.auth_app.renamed'),
            manage_accessible_label: t('two_factor_authentication.auth_app.manage_accessible_label'),
          },
          role: 'list-item',
        ) %>
  <% end %>
</div>

<% if current_user.auth_app_configurations.count < IdentityConfig.store.max_auth_apps_per_account %>
  <%= render ButtonComponent.new(
        action: ->(**tag_options, &block) do
          link_to(authenticator_setup_url, **tag_options, &block)
        end,
        icon: :add,
        class: 'usa-button usa-button--outline margin-top-2',
      ).with_content(t('account.index.auth_app_add')) %>
<% end %>
