<h2 class="margin-top-0 margin-bottom-1">
  <%= t('headings.account.authentication_apps') %>
</h2>
<div class="border-bottom border-primary-light">
  <% MfaContext.new(current_user).auth_app_configurations.each do |auth_app_configuration| %>
    <div class="padding-1 grid-row border-top border-left border-right border-primary-light">
      <div class="grid-col-8">
        <div class="grid-col-12 tablet:grid-col-6">
          <%= auth_app_configuration.name %>
        </div>
      </div>
      <% if MfaPolicy.new(current_user).multiple_non_restricted_factors_enabled? %>
        <div class="grid-col-4 text-right">
          <%= render 'accounts/actions/disable_totp', id: auth_app_configuration.id %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user.auth_app_configurations.count < IdentityConfig.store.max_auth_apps_per_account %>
  <%= render ButtonComponent.new(
        action: ->(**tag_options, &block) do
          link_to(authenticator_setup_url, **tag_options, &block)
        end,
        icon: :add,
        class: 'usa-button usa-button--outline margin-top-2',
      ).with_content(t('account.index.auth_app_add')) %>
<% end %>
