<div>
  <div class="grid-row margin-bottom-1 margin-top-0">
    <h2 class="grid-col-fill margin-y-0 padding-right-2">
      <%= t('headings.account.authentication_apps') %>
    </h2>
    <% if current_user.auth_app_configurations.count < IdentityConfig.store.max_auth_apps_per_account %>
      <div class="grid-col-auto">
        <%= link_to(
              prefix_with_plus(t('account.index.auth_app_add')),
              authenticator_setup_url,
              class: 'account-action-button',
            ) %>
      </div>
    <% end %>
  </div>

  <div class="border-bottom border-primary-light">
    <% MfaContext.new(current_user).auth_app_configurations.each do |auth_app_configuration| %>
      <div class="padding-1 grid-row border-top border-left border-right border-primary-light">
        <div class="grid-col-8">
          <div class="grid-col-12 mobile-lg:grid-col-6">
            <%= auth_app_configuration.name %>
          </div>
        </div>
        <div class="grid-col-4 right-align">
          <%= render 'accounts/actions/disable_totp', id: auth_app_configuration.id %>
        </div>
      </div>
    <% end %>
  </div>
</div>
