<div class='sm-col sm-col-8 margin-top-1 tablet:margin-top-0 relative'>
  <div class='verification-badge margin-x-auto'>
    <%= render partial: @view_model.unphishable_badge_partial %>
    <%= render partial: @view_model.verified_account_badge_partial %>
  </div>
</div>
