<div class="padding-1 clearfix border-top border-left border-right border-primary-light">
  <div class="clearfix margin-x-neg-1">
    <div class="sm-col sm-col-6 padding-x-1">
      <div class="bold truncate">
        <% if identity.return_to_sp_url.present? %>
          <%= link_to(identity.display_name, identity.return_to_sp_url) %>
        <% else %>
          <%= identity.display_name %>
        <% end %>
      </div>

      <%= t(
            'account.connected_apps.associated',
            timestamp: local_time(identity.created_at.in_time_zone('UTC'), t('time.formats.event_timestamp')),
          ).html_safe %>
    </div>
    <% if identity.service_provider_id %>
      <div class="sm-col sm-col-6 padding-x-1 sm-right-align line-height-4">
        <%= link_to(
              t('account.revoke_consent.link_title'),
              service_provider_revoke_url(identity.service_provider_id),
            ) %>
      </div>
    <% end %>
  </div>
</div>
