<div class="padding-1 border-top border-left border-right border-primary-light">
  <div class="grid-row grid-gap-2">
    <div class="grid-col-fill">
      <strong><%= device.nice_name %></strong>
    </div>
    <div class="grid-col-auto">
      <%= link_to t('headings.account.events'), account_events_path(id: device.id) %>
    </div>
  </div>
  <%= render TimeComponent.new(time: device.happened_at) %><br>
  <%= device.last_sign_in_location_and_ip %>
</div>
