<div class="clearfix border-bottom border-primary-light">
  <div class="col col-12 margin-bottom-1 margin-top-0">
    <h3 class="h2 margin-0">
      <%= t('account.index.email_addresses') %>
    </h3>
  </div>
  <% @view_model.decorated_user.visible_email_addresses.each do |email| %>
    <div class="padding-1 col col-12 border-top border-left border-right border-primary-light">
      <div class="col col-8 sm-6">
        <span class="break-word">
          <%= email.email %>
          &nbsp;
        </span>
        <span>
          <%= t('email_addresses.unconfirmed') unless email.confirmed_at %>
        </span>
      </div>
      <div class="col col-4 sm-6 right-align">
        <% if EmailPolicy.new(current_user).can_delete_email?(email) %>
          &nbsp; &nbsp;
          <%= render(
                'accounts/actions/delete_action_button',
                path: manage_email_confirm_delete_url(id: email.id),
              ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
