<div class="padding-1 border-top border-left border-right border-primary-light">
  <strong><%= event.event_type %></strong><br>
  <%= render TimeComponent.new(time: event.happened_at) %><br>
  <%= event.last_sign_in_location_and_ip %>
</div>
