<div class="padding-1 border-top border-left border-right border-primary-light">
  <strong>
    <% if event.return_to_sp_url.present? %>
      <%= t(
            'event_types.authenticated_at_html',
            service_provider_link_html: link_to(event.display_name, event.return_to_sp_url),
          ) %>
    <% else %>
      <%= t('event_types.authenticated_at', service_provider: event.display_name) %>
    <% end %>
  </strong><br>
  <%= render TimeComponent.new(time: event.happened_at) %>
</div>
