<div>
  <div class="grid-row margin-bottom-1 margin-top-0">
    <h2 class="grid-col-6 margin-0">
      <%= t('account.items.personal_key') %>
    </h2>
  </div>
  <div class="grid-row padding-1 border border-light-blue">
    <div class="grid-col-7">
      ************
    </div>
    <div class="grid-col-5 right-align">
      <%= render 'accounts/actions/manage_personal_key' %>
    </div>
  </div>
</div>
