<details class="ads-account-mobile-menu" data-dismissable-menu>
  <summary class="ads-account-mobile-menu__summary">
    <%= render IconComponent.new(icon: :menu, size: 20) %>
    <span><%= t('account.navigation.menu') %></span>
  </summary>

  <div class="ads-account-mobile-menu__panel">
    <%= render 'accounts/side_nav', mobile: true %>

    <div class="ads-account-mobile-menu__logout">
      <%= render ButtonComponent.new(
            url: logout_path,
            method: :delete,
            variant: :quaternary,
            icon: :log_out,
            icon_position: :right,
            form_class: 'ads-account-mobile-menu__logout-form',
            class: 'ads-account-mobile-menu__logout-button',
          ).with_content(t('links.sign_out')) %>
    </div>
  </div>
</details>
