nav.bg-white
  .container.px2.sm-py3.pt2.pb0
    .clearfix
      .mb1.sm-m0.col.col-4
        = link_to \
          image_tag(asset_url('logo.svg'),
            alt: APP_NAME,
            class: 'align-bottom',
            width: 170), root_path
      .right-align.col.col-8.sm-display-inline-block.display-none.pr1
        .inline-block.mr1.truncate-inline
          p.inline-block.truncate.m0
            = t('account.welcome')
            '
            strong = greeting
        .inline-block.right.border-silver.border-left
          p.m0
            = link_to t('links.sign_out'), destroy_user_session_path,
              class: 'pl1'
      .right.sm-hide
        = link_to t('links.sign_out'), destroy_user_session_path
