<%= render AlertComponent.new(type: :warning, text_tag: 'div') do %>
  <p>
    <%= t('account.index.reactivation.instructions') %>
  </p>
  <p class="margin-bottom-0">
    <%= link_to t('account.index.reactivation.link'), reactivate_account_path %>
  </p>
<% end %>
