<%= render AlertComponent.new(type: :warning, class: 'margin-bottom-2', text_tag: 'div') do %>
  <p>
    <%= t('idv.messages.personal_key') %>
  </p>
  <div class="margin-bottom-1 padding-y-1 padding-x-2 inline-block fs-20p text-normal monospace bg-white radius-sm">
    <%= view_model.personal_key %>
  </div>
<% end %>
