<%= render AlertComponent.new(type: :warning, class: 'margin-bottom-2', text_tag: 'div') do %>
  <p>
    <%= t('idv.messages.personal_key') %>
  </p>
  <div class="margin-bottom-1 padding-y-1 padding-x-2 display-inline-block font-mono-lg bg-white radius-sm">
    <%= presenter.personal_key %>
  </div>
<% end %>
