<h2 class="margin-top-0 margin-bottom-1">
  <%= t('headings.account.federal_employee_id') %>
</h2>

<div class="border-bottom border-primary-light">
  <% MfaContext.new(current_user).piv_cac_configurations.each do |configuration| %>
    <%= render ManageableAuthenticatorComponent.new(
          configuration:,
          user_session:,
          manage_url: edit_webauthn_path(id: configuration.id),
          manage_api_url: api_internal_two_factor_authentication_piv_cac_path(id: configuration.id),
          custom_strings: {
            # TODO: Change
            deleted: 'deleted', # Change
            renamed: 'renamed', # Change
            manage_accessible_label: 'some_label', # Change
          },
          role: 'list-item',
        ) %>
  <% end %>
</div>

<% if current_user.piv_cac_configurations.count < IdentityConfig.store.max_piv_cac_per_account %>
  <%= render ButtonComponent.new(
        action: ->(**tag_options, &block) do
          link_to(setup_piv_cac_url, **tag_options, &block)
        end,
        icon: :add,
        class: 'usa-button usa-button--outline margin-top-2',
      ).with_content(t('account.index.piv_cac_add')) %>
<% end %>
