.clearfix.border-top.border-blue-light
  .p2.col.col-12
    .col.col-6.bold
      = 'PIV CAC Cards'
    .right-align.col.col-6
      .btn.btn-account-action.rounded-lg.bg-light-blue
        = link_to 'Add PIV/CAC', setup_piv_cac_url
  - MfaContext.new(current_user).piv_cac_configurations.each do |piv_cac_configuration|
    .p2.col.col-12.border-top.border-blue-light
      .col.col-8
        .col.col-12.sm-col-6.account-list-item
          = piv_cac_configuration.name
        .col.col-12.sm-col-6.truncate
          = PhoneConfigurationDecorator.new(piv_cac_configuration).default_number_message
      .col.col-4.right-align
        = render @view_model.piv_cac_partial, id: piv_cac_configuration.id
