<nav class="sidenav" aria-label="<%= t('account.navigation.landmark_label') %>">
  <ul class="bg-white border-x border-base-lighter usa-sidenav">
    <% NavigationPresenter.new(user: current_user, url_options:).navigation_items.each do |nav_item| %>
      <li class="usa-sidenav__item">
        <%= link_to nav_item.href, class: current_page?(nav_item.href) ? 'usa-current' : '' do %>
          <strong><%= nav_item.title %></strong>
        <% end %>
        <% if nav_item.children&.any? %>
          <ul class="usa-sidenav__sublist">
            <% nav_item.children.each do |child_nav_item| %>
              <li class="usa-sidenav__item">
                <%= link_to child_nav_item.title, child_nav_item.href, class: current_page?(child_nav_item.href) ? 'usa-current' : '' %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
