<span>
  <%= image_tag asset_url('alert/unphishable.svg'), width: 16,
                class: 'margin-right-1 text-middle', id: 'unphishable_badge' %>
  <%= t('headings.account.unphishable') %>
</span>
