<div class="lg-verification-badge">
  <%= image_tag(
        design_system_asset_path('img/alerts/unphishable.svg'),
        width: 16,
        class: 'margin-right-1 text-middle',
        alt: '',
      ) %>
  <span>
    <%= t('headings.account.unphishable') %>
  </span>
</div>
