<div class="lg-verification-badge">
  <%= image_tag(
        design_system_asset_path('img/alerts/success.svg'),
        size: 16,
        class: 'text-middle',
        alt: '',
      ) %>
  <%= t('headings.account.verified_account') %>
</div>
