<h2 class="margin-top-0 margin-bottom-1">
  <%= t('account.index.webauthn') %>
</h2>

<div class="border-bottom border-primary-light">
  <% MfaContext.new(current_user).webauthn_roaming_configurations.each do |cfg| %>
    <div class="grid-row padding-1 border-top border-left border-right border-primary-light">
      <div class="grid-col-8 tablet:grid-col-6 truncate">
        <%= cfg.name %>
      </div>
      <% if MfaPolicy.new(current_user).multiple_factors_enabled? %>
        <div class="grid-col-4 tablet:grid-col-6 text-right">
          <%= link_to(
                t('account.index.webauthn_delete'),
                webauthn_setup_delete_path(id: cfg.id),
              ) %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>

<%= render ButtonComponent.new(
      action: ->(**tag_options, &block) do
        link_to(webauthn_setup_path, **tag_options, &block)
      end,
      icon: :add,
      class: 'usa-button usa-button--outline margin-top-2',
    ).with_content(t('account.index.webauthn_add')) %>
