- content_for(:nav) do
  = render 'accounts/nav_auth', greeting: @view_model.header_personalization

- title t('titles.account')

= render @view_model.personal_key_partial, view_model: @view_model

= render @view_model.password_reset_partial, view_model: @view_model

= render @view_model.pending_profile_partial, view_model: @view_model

h1.hide = t('titles.account')

= render @view_model.header_partial, view_model: @view_model

.mb3.profile-info-box
  .bg-lightest-blue.py1.px2.h6.caps
    = t('account.index.login')
    = image_tag asset_url('sign-in.svg'), width: 12, class: 'ml1'
  = render 'account_item',
    name: t('account.index.email'),
    content: current_user.email,
    path: manage_email_path,
    action: @view_model.edit_action_partial

  = render 'account_item',
    name: t('account.index.password'),
    content: '************',
    path: manage_password_path,
    action: @view_model.edit_action_partial

.mb3.profile-info-box
  .bg-lightest-blue.py1.px2.h6.caps
    = t('headings.account.two_factor')
    = image_tag asset_url('2fa-account.svg'), width: 8, class: 'ml1'

  = render 'account_item',
    name: t('account.index.phone'),
    content: current_user.phone,
    path: manage_phone_path,
    action: @view_model.edit_action_partial

  = render 'account_item',
    name: t('account.index.authentication_app'),
    content: content_tag(:em, t(@view_model.totp_content)),
    action: @view_model.totp_partial

  - if current_user.piv_cac_available?
    = render 'account_item',
      name: t('account.index.piv_cac_card'),
      content: content_tag(:em, t(@view_model.piv_cac_content)),
      action: @view_model.piv_cac_partial

  - @view_model.manage_personal_key_partial do
    = render 'account_item',
      name: render(@view_model.personal_key_item_partial),
      action: @view_model.personal_key_action_partial

= render @view_model.pii_partial, decrypted_pii: @view_model.decrypted_pii

.mb3.profile-info-box
  .bg-lightest-blue.pb1.pt1.px2.h6.caps.clearfix
    = t('headings.account.account_history')
    = image_tag asset_url('history.svg'), width: 12, class: 'ml1'
  - @view_model.recent_events.each do |event|
    = render event.event_partial, event: event

.mb3.profile-info-box
  .bg-lightest-blue.pb1.pt1.px2.h6.caps.clearfix
    = t('headings.account.account_management')

  = render 'account_item',
          name: render('accounts/actions/delete_account'),
          action: 'accounts/delete_account_item_heading'
